<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Book Edit </h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Book</li>
            </ul>
        </div>
        
        <BookCreateEditForm formtype="edit" ref="bookEdit" v-on:formSubmit="updateBook"></BookCreateEditForm>
    </div>
</template>
<script>
export default {
    name:'book-edit',
    layout:'Dashboard',
    methods:{
        updateBook(book){
            this.$axios
            .patch('/books/'+this.$route.params.bookId,book)
            .then(response=>{
                if(response.data.status_code===200){
                    this.$toast.success("Book  updated Successfully");
                    this.$router.push('/books');
                }
            })
            .catch(error=>{
                
                let formError=error.response.data.errors;
                let error_list='';
                Object.keys(formError).map((key,index)=>{
                    error_list+=formError[key];
                });
                this.$toast.error(error_list);
            });
        }
    },
    mounted(){
        this.$axios.get( '/books/'+this.$route.params.bookId+'/edit')
            .then((response) => {
                this.$refs.bookEdit.form={...this.$refs.bookEdit.form,...response.data.data.book};
                this.$refs.bookEdit.select_categories=response.data.data.book.categories;
            })
            .catch( (error) => {
                this.$toast.error("Data can not be fetched");
            });
    }
}
</script>