<template>
  <form>
    <input type="text" value />
    <div class="image-container mb-3" v-if="previewPath">
      <img :src="previewPath" alt="Uploaded Image Preview" />
    </div>
    <div class="form-group">
      <div ref="dashboardContainer"></div>
    </div>
    <button
      :disabled="disabled"
      @click.prevent="confirmUpload"
      class="btn btn-primary btn-block mb-2"
    >Confirm upload</button>
  </form>
</template>

<script>
import Uppy from "@uppy/core";
import XHRUpload from "@uppy/xhr-upload";
import Dashboard from "@uppy/dashboard";
// import Form from "@uppy/form";

import "@uppy/core/dist/style.css";
import "@uppy/dashboard/dist/style.css";

export default {
  props: {
    maxFileSizeInBytes: {
      type: Number,
      default: 20000000,
    }
  },
  data() {
    return {
      payload: null,
      previewPath: null,
      disabled: true
    };
  },
  mounted() {
    this.instantiateUppy();
  },
  methods: {
    instantiateUppy() {
      this.uppy = Uppy({
        debug: true,
        autoProceed: false,
        restrictions: {
          maxFileSize: this.maxFileSizeInBytes,
          minNumberOfFiles: 1,
          maxNumberOfFiles: 1,
          allowedFileTypes: [
            "image/*",
            "video/*"
            // "application/msword",
            // "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
            // "application/pdf"
          ]
        }
      })
        .use(Dashboard, {
          hideUploadButton: false,
          inline: true,
          height: 250,
          target: this.$refs.dashboardContainer,
          replaceTargetContent: true,
          showProgressDetails: true,
          browserBackButtonClose: true,
          metaFields: [
            { id: "name", name: "Name", placeholder: "file name" },
            {
              id: "caption",
              name: "Caption",
              placeholder: "describe what the image is about"
            }
          ]
        })
        .use(XHRUpload, {
          limit: 10,
          endpoint: "/api/v1/products",
          formData: true,
          fieldName: "file[]",
          bundle: true,
          headers: {
            Authorization:
              "Bearer "
          }
        });

      this.uppy.on("complete", event => {
        if (event.successful[0] !== undefined) {
          this.payload = event.successful[0].response.body.path;

          this.disabled = false;
        }
      });
    },
    updatePreviewPath({ path }) {
      this.previewPath = path;
      return this;
    },
    resetUploader() {
      this.uppy.reset();
      this.disabled = true;

      return this;
    },
    confirmUpload() {
      if (this.payload) {
        this.disabled = true;
        axios
          .post("/store", { file: this.payload })
          .then(({ data }) => {
            this.updatePreviewPath(data).resetUploader();
          })
          .catch(err => {
            console.error(err);

            this.resetUploader();
          });
      } else {
        alert("nothing in process");
      }
    }
  }
};
</script>

<style scoped>
.image-container {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.image-container > img {
  width: inherit;
  height: inherit;
}
</style>