<template lang="html">
    <div class="ps-form__billing-info">
        <form @submit.prevent="saveOrder">
            <h3 class="ps-form__heading">
                <Address @changeAddress="setAddressData($event)" />
            </h3>
            <div class="row">
              <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                <v-radio-group label="Payment Method" v-model="order.payment_method">
                  <v-radio
                    label="Cash On Delivery"
                    value="cod"
                  ></v-radio>
                  <v-radio
                    disabled
                    label="Online Payment"
                    value="online"
                  ></v-radio>
                </v-radio-group>
              </div>
              <div if="delivery_info.length" class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12 ">
                <v-radio-group label="Delivery Type" v-model="order.delivery_type">
                  <v-radio
                    v-for="(item,idx) in delivery_info"
                    v-on:change="setDeliveryValue(idx)"
                    :label="item.name_en"
                    :value="item.id"
                  ></v-radio>
                </v-radio-group>
              </div>
            </div>
            <div class="ps-form__submit">
                <nuxt-link to="/account/shopping-cart">
                    <i class="icon-arrow-left mr-1"></i>
                    Return to shopping cart
                </nuxt-link>
                <div class="ps-block__footer">
                    <button :disabled="order.delivery_type == null || order.shipping_address_id == null" class="ps-btn" type="submit">
                        Confirm Order
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import Address from "~/components/partials/account/Address";
import { mapState } from "vuex";
export default {
  name: "FormCheckoutInformation",
  components: {
    Address
  },
  data() {
    return {
      areas: [],
      order: {
        shipping_address_id: null,
        payment_method: "cod",
        delivery_type: null
      }
    };
  },
  computed: {
    ...mapState({
      delivery_info: state => state.shop.delivery_info
    })
  },
  mounted() {
    this.resetField();
    this.loadAreas();
  },
  methods: {
    setAddressData: function(id) {
      this.order.shipping_address_id = id;
    },
    handleToShipping() {
      this.$router.push("/account/shipping");
    },
    loadAreas() {
      this.$axios
        .get("/setting-areas", this.order)
        .then(response => {
          this.areas = response.data.data.areas;
        })
        .catch(error => {
          console.log(error);
          this.$notify({
            title: "Error!",
            text: `Soory, Operation Failed`
          });
        });
    },
    saveOrder() {
      this.$axios
        .post("/order-save", this.order)
        .then(response => {
          this.$store.dispatch("cart/clearCart");
          this.$store.commit("cart/setLoading", true);
          this.$notify({
            title: "Success!",
            text: `Successfully Order Saved`
          });
          this.$router.push({
            path: "/account/checkout/" + response.data.data.order.id
          });
        })
        .catch(error => {
          console.log(error);
          this.$notify({
            title: "Error!",
            text: `Soory, Operation Failed`
          });
        });
    },
    async setDeliveryValue(idx) {
      await this.$store.dispatch("shop/setDeliveryItem", idx);
    },
    resetField() {
      if (this.$auth.user) {
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
