<template lang="html">
    <div class="ps-form__orders ps-block--checkout-order">
        <h3 v-if="shipping === false">Your Order</h3>
        <div class="ps-block--checkout-order">
            <div class="ps-block__content">
                <figure>
                    <figcaption>
                        <strong>Product</strong>
                        <strong>total</strong>
                    </figcaption>
                </figure>
                <figure class="ps-block__items">
                    <nuxt-link
                        v-for="(product, index) in cartProducts"
                        :to="`/product/${product.slug}`"
                        :key="product.id"
                        class="ps-product__title"
                    >
                         {{ product.book.title_en }} <br />
                        {{ product.variant_info.name_en }}
                        <br />
                        {{ cartItems[index].quantity }} x ৳ {{
                            product.buy_price
                        }}
                        <p style="float: right;">৳ {{(cartItems[index].quantity*product.buy_price).toFixed(2)}}</p>
                    </nuxt-link>
                </figure>
                <figure>
                    <figcaption>
                        <b>Subtotal</b>
                        <small>৳ {{ amount }}</small>
                    </figcaption>
                </figure>
                <figure class="ps-block__items">
                    <nuxt-link
                        v-if="discount.occasion_discount > 0"
                        to="#"
                        class="ps-product__title"
                    >
                        {{discount.occasion_discount_name}} :
                        <p style="float: right;">(-) ৳ {{((amount*discount.occasion_discount)/100).toFixed(2)}}</p>
                    </nuxt-link>
                    <nuxt-link
                        v-if="discount.customer_discount>0"
                        to="#"
                        class="ps-product__title"
                    >
                        Customer Discount :
                        <p style="float: right;">(-) ৳ {{((amount*discount.customer_discount)/100).toFixed(2)}}</p>
                    </nuxt-link>
                    <nuxt-link
                        v-if="selected_delivery_item !=null"
                        to="#"
                        class="ps-product__title"
                    >
                        Delivery Charge :
                        <p style="float: right;"> ৳ {{delivery_info[selected_delivery_item].amount}}</p>
                    </nuxt-link>
                </figure>
                <!-- <figure v-if="shipping === true">
                    <figcaption>
                        <strong>Shipping</strong>
                        <small>৳ 20.00</small>
                    </figcaption>
                </figure>
                <figure v-else class="ps-block__shipping">
                    <h3>Shipping</h3>
                    <p>Calculated at next step</p>
                </figure> -->
                <figure>
                    <figcaption>
                        <strong>Total</strong>
                        <small> ৳ {{Math.round(calculate_grand_total)}}</small>
                        <!-- <small v-if="selected_delivery_item !=null " >৳ {{ (((amount+delivery_info[selected_delivery_item].amount) - ((amount*discount.customer_discount)/100).toFixed(2)) - ((amount*discount.occasion_discount)/100).toFixed(2)).toFixed(2) }}</small>
                        <small v-else >৳ {{ (amount - ((amount*discount.customer_discount)/100).toFixed(2)) - ((amount*discount.occasion_discount)/100).toFixed(2) }}</small> -->
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ModuleOrderSummary",
  props: {
    shipping: {
      type: Boolean,
      default: () => false
    }
  },
  computed: {
    ...mapState({
      delivery_info: state => state.shop.delivery_info,
      discount: state => state.shop.discount,
      selected_delivery_item: state => state.shop.selected_delivery_item,
      userData: state => state.auth.user,
      cartItems: state => state.cart.cartItems,
      total: state => state.cart.total,
      amount: state => state.cart.amount,
      cartProducts: state => state.product.cartProducts
    }),

    customerDiscount() {
      return this.userData.discount;
    },
    calculate_grand_total() {
      var total = 0;
      if (this.selected_delivery_item != null) {
        var finaltotal =
          parseFloat(this.amount) +
          parseInt(this.delivery_info[this.selected_delivery_item].amount);
        total = (
          finaltotal -
          ((this.amount * parseFloat(this.discount.customer_discount)) / 100 +
            (this.amount * parseFloat(this.discount.occasion_discount)) / 100)
        ).toFixed(2);
        return total;
      } else {
        total = (
          this.amount -
          ((this.amount * parseFloat(this.discount.customer_discount)) / 100 +
            (this.amount * parseFloat(this.discount.occasion_discount)) / 100)
        ).toFixed(2);
      }
      return total;
    }
  }
};
</script>

<style lang="scss" scoped></style>
