<template lang="html">
    <table class="table ps-table--responsive ps-table--shopping-cart">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(product, index) in cartProducts" :key="product.id">
                <td data-label="Product">
                    <product-shopping-cart :product="product" />
                </td>
                <td data-label="Price" class="price">৳ {{ product.buy_price }}</td>
                <td data-label="Quantity">
                    <div class="form-group--number">
                        <button @click.prevent="poductQuantityIncressDecress(product,'incress')" class="up">+</button>
                        <button @click.prevent="poductQuantityIncressDecress(product,'decrees')"  class="down">-</button>
                        <input
                            disabled
                            class="form-control"
                            type="text"
                            placeholder="1"
                            :value="product.buy_quantity"
                        />
                    </div>
                </td>
                <td data-label="Total">
                    ৳ {{
                        (product.buy_quantity * product.buy_price).toFixed(2)
                    }}
                </td>
                <td data-label="Action">
                    <a
                        href="#"
                        @click.prevent="handleRemoveProductFromCart(product)"
                    >
                        <i class="icon-cross"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import { mapState } from "vuex";
import ProductShoppingCart from "~/components/elements/product/ProductShoppingCart";

export default {
  name: "TableShoppingCart",
  components: { ProductShoppingCart },
  computed: {
    ...mapState({
      cartItems: state => state.cart.cartItems,
      total: state => state.cart.total,
      amount: state => state.cart.amount,
      cartProducts: state => state.product.cartProducts
    })
  },
  methods: {
    async loadCartProducts() {
      const cookieCart = this.$cookies.get("cart", { parseJSON: true });
      let queries = [];

      cookieCart.cartItems.forEach(item => {
        queries.push(item);
      });
      if (this.cartItems.length >= 0) {
        if (this.$store.state.auth.loggedIn) {
          var response = await this.$axios.post(
            "/cart-authenticate-info-operation",
            {
              cart: queries
            }
          );
        } else {
          var response = await this.$axios.post("/cart-info-operation", {
            cart: queries
          });
        }
        await this.$store.dispatch(
          "cart/addProductToCart",
          response.data.data.cart
        );
        await this.$store.dispatch(
          "product/saveCartProductList",
          response.data.data.products
        );
        await this.$store.dispatch("cart/calculateAmount", this.cartProducts);
        if (response) {
          this.$store.commit("cart/setLoading", false);
        }
      } else {
        this.$store.commit("product/setCartProducts", null);
      }
    },
    handleRemoveProductFromCart(product) {
      const cartItem = this.cartItems.find(
        item =>
          item.product_id === product.book_id && item.variant_id === product.id
      );
      this.$store.dispatch("cart/removeProductFromCart", cartItem);
      this.$store.commit("cart/setLoading", true);
      this.loadCartProducts();
    },

    poductQuantityIncressDecress(product, type) {
      const index = this.cartItems.findIndex(
        item =>
          item.product_id === product.book_id && item.variant_id === product.id
      );

      switch (type) {
        case "incress":
          if (this.cartItems[index].quantity >= 10) {
            this.$notify({
              group: "addCartSuccess",
              title: "Waring!",
              text: `Can't add more than 10 Quantity`
            });
          } else {
            this.$store.dispatch("cart/increaseCartItemQuantity", {
              index: index,
              buy_price: product.buy_price
            });
            this.getCartProduct(this.cartItems);
          }

          break;

        case "decrees":
          if (this.cartItems[index].quantity == 1) {
            this.$notify({
              group: "addCartSuccess",
              title: "Waring!",
              text: `Minimum Quantity Level is One`
            });
          } else {
            this.$store.dispatch("cart/decreaseCartItemQuantity", {
              index: index,
              buy_price: product.buy_price
            });
            this.getCartProduct(this.cartItems);
          }

          break;
      }
      this.loadCartProducts();
    },

    async getCartProduct(products) {
      let cartItemIdInfo = [];
      products.forEach(item => {
        cartItemIdInfo.push(item);
      });
      await this.$store.dispatch("product/getCartProducts", cartItemIdInfo);
      await this.$store.dispatch("cart/calculateAmount", this.cartProducts);
      this.$store.commit("cart/setLoading", false);
    }
  }
};
</script>

<style lang="scss" scoped></style>
