<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Author Create </h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Author</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <AuthorCreateEditForm 
                    v-on:mounted="initEditData"
                    v-on:form-submit="updateData"
                    ref="editForm"
                />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        
        data() {
            return {
                
            }
        },


        methods: {
            initEditData(){
                this.$refs.editForm.editAuthor()
            },
            updateData(form){
                this.$axios.patch( '/setting-authors/'+this.$route.params.authorId, form)
                    .then((response) => {
                        this.$toast.success("Update Successfully");
                        this.$router.push('/settings/author')
                    })
                    .catch( (error) => {
                        this.$toast.error("Did not Created");
                    });
            },
            
        },
        
        mounted() {
        }
    }
</script>

