<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Category List </h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Countryss</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <div class="row mb-3">
                                    <div class="col-md-12 table-topper-row">
                                        <!-- <button type="button" class="btn btn-primary" @click="create" >
                                            <i class="fa fa-plus fa-sm" aria-hidden="true"></i> Add New
                                        </button> -->

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover table-bordered dataTable no-footer table-sm text-center" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                            <thead>
                                            <tr role="row">
                                                <th  style="width: 127.6px;">#</th>
                                                <th  style="width: 186.8px;">English Name</th>
                                                <th style="width: 304.4px;" >Bangla Name</th>
                                                <th  style="width: 132.4px;">Status</th>
                                                <th style="width: 66.8px;">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" v-for="(item, idx) in itemList" :key="idx" >
                                                <td class="">{{idx + 1}}</td>
                                                <td class="sorting_1">{{item.name_en}}</td>
                                                <td>{{item.name_bn}}</td>
                                                <td>{{item.status}}</td>

                                                <td>
                                                    <div class="btn-group ml-3">
                                                        <a class="btn btn-primary" @click="edit(item)" href="#">
                                                            <i class="fa fa-lg fa-edit"></i>
                                                        </a> &nbsp;
                                                        <a class="btn btn-danger" @click="confirmation(item.id)"   href="#">
                                                            <i class="fa fa-lg fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <DeleteComponent @destroy="destroy" />
            <div class="col-md-4">
                 <div  role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" >Category Operation</h5>
                            <button type="button" class="btn btn-primary pull-right"  @click="create()" > <i class="fa fa-refresh" aria-hidden="true"></i> </button>
                        </div>
                        <div class="modal-body">
                            <div
                                class="alert alert-danger"
                                v-if="serverError"
                                role="alert"
                            >
                                {{ serverError }}
                            </div>
                            <form>
                                
                                <b-form-group label="English Name" label-for="en-input" >
                                    <b-form-input id="en-name-input"  v-bind:class="{'is-invalid': validationErrors.name_en}" aria-placeholder="Enter English Name " v-model="form.name_en" required ></b-form-input>
                                    <small class="text-danger" v-if="validationErrors.name_en" >{{ validationErrors.name_en[0] }}</small>
                                </b-form-group>
                                <b-form-group label="Bangla Name" label-for="bn-input" >
                                    <b-form-input id="bn-name-input" v-bind:class="{'is-invalid': validationErrors.name_bn}"  aria-placeholder="Enter Bangla Name " v-model="form.name_bn" required ></b-form-input>
                                    <small class="text-danger" v-if="validationErrors.name_bn" >{{ validationErrors.name_bn[0] }}</small>
                                </b-form-group>
                                <div class="form-group">
                                    <label> Parent Category : </label>
                                    <Select2 v-model="form.parent_id"  :options="myOptions"  v-on:change="myChangeEvent($event)" @select="mySelectEvent($event)" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" v-if="mode==false" @click="store()" > Add New </button>
                            <button type="button" class="btn btn-primary" v-if="mode==true" @click="update()" > Update </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Select2 from 'v-select2-component'
    import DeleteComponent from '../../../components/reuse/DeleteComponent'
    export default {
        layout: "Dashboard",
        components: {Select2,DeleteComponent},
        data() {
            return {
                modulename:'Country',
                mode:false,
                trackIndex:null,
                info:{},
                itemList :[],
                errors:null,
                deletId:null,
                alertMessage:null,
                myOptions:[],
                form:{
                    name_en:' ',
                    name_bn:'',
                    parent_id:0,
                    status:'Active'
                }
            }
        },
        methods: {
            async getItems(){
                var response = await this.$axios.get("/categories");
                try {
                    this.myOptions=[];
                    this.itemList = response.data.data.category;
                    var newObj={id:"",text:"No Selected"};
                    this.myOptions.push(newObj);
                    this.itemList.filter(item=>{
                        var newObj={id:item.id,text:item.name_en};
                        this.myOptions.push(newObj);
                    })
                    this.form={
                        name_en:' ',
                        name_bn:'',
                        parent_id:0,
                        status:'Active'
                    }
                } catch (e) {
                    this.itemList = [];
                }
            },
            async create(){
                this.mode = false;
                this.getItems();
            },
            store(){
                this.$axios.post( '/categories', {...this.form})
                    .then((response) => {
                        this.$toast.success("Category  Created Successfully");
                        this.getItems();
                    })
                    .catch( (error) => {
                        this.$toast.error("Category Can not  Created");
                    });
            },
            edit(item){
                this.form={...item};
                this.mode=true;
            },
            update(){
                var self = this;
                this.$axios.patch( '/categories/'+this.form.id, {...this.form})
                    .then((response) => {
                        self.$toast.success("Category  Updated Successfully");
                        this.getItems();
                    })
                    .catch( (error) => {
                        this.$toast.error("Category Can not  Updated");
                    });
            },
            confirmation(id){
                this.deletId = id ;
                $('#deleteModal').modal('show');
            },
            destroy(status){
                if(status){
                    var self = this;
                    this.$axios.delete( '/categories/'+this.deletId)
                    .then((response) => {
                        self.$toast.success("Category  Delete Successfully");
                        this.getItems();
                    })
                    .catch( (error) => {
                        this.$toast.error("Category Can not  Delete");
                    });
                }
            },
           
            mySelectEvent({id, text}){
                this.form.parent_id=id;
            },

        },
        computed:{
             validationErrors() {
                return this.$store.getters['commonStore/validationErrors'];
            },
            serverError() {
                return this.$store.getters['commonStore/serverError'];
            }
        },
        mounted() {
            this.getItems();
        }


    }
</script>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
