<template lang="html">
    <div class="ps-page--shop">
        <layout-shop />
    </div>
</template>

<script>
import { mapState } from "vuex";
import BreadCrumb from "~/components/elements/BreadCrumb";
import LayoutShop from "~/components/partials/shop/LayoutShop";
import ShopWidget from "~/components/partials/shop/modules/ShopWidget";
import ShopBanner from "~/components/partials/shop/sections/ShopBanner";
import ShopBrands from "~/components/partials/shop/sections/ShopBrands";
import ShopCategories from "~/components/partials/shop/sections/ShopCategories";
import Loading from "~/components/elements/commons/Loading";

export default {
  name: "index",
  components: {
    Loading,
    ShopCategories,
    ShopBrands,
    ShopBanner,
    ShopWidget,
    LayoutShop,
    BreadCrumb
  },
  transition() {
    return "fadeIn";
  },
  computed: {
    ...mapState({
      collections: state => state.collection.collections,
      categories: state => state.product.categories
    }),
    categorySlug() {
      return this.$route.params.id;
    }
  },
  data() {
    return {
      widgetLoading: true,
      breadCrumb: [
        {
          text: "Home",
          url: "/"
        },
        {
          text: "Shop Default"
        }
      ]
    };
  },

  async created() {
    var query = this.$route.query.name + "/" + this.$route.query.id;
    await this.$store.dispatch("product/getShopProductList", query);
  }
};
</script>

<style lang="scss" scoped></style>
