<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Products Bulk Insertion</h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Discount</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <div class="row mb-3">
                                    <div class="col-md-12 table-topper-row">
                                        <NuxtLink class="btn btn-primary"  to="/discounts/create"><i class="icon fa fa-plus"></i> Create</NuxtLink>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                       <file-uploader
                                            v-on:complete="onSuccessFullUpload"
                                            :endpoint=csvUploadEndPoint
                                        >
                                        </file-uploader>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name:'products-entry',
    layout:'Dashboard',
    data(){
        return{
            csvUploadEndPoint: process.env.baseUrl+'books/bulk-product-csv-upload',
        }
    },
    methods:{
        onSuccessFullUpload(data){
            console.log(data);
        }
    }
}
</script>