<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Pages Create </h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Pages</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <PageCreateEditForm 
                    v-on:mounted="initCreateData"
                    v-on:form-submit="saveData"
                />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        
        data() {
            return {
                
            }
        },

        methods: {
            initCreateData(){},
            saveData(form){
                this.$axios.post( '/pages', form)
                    .then((response) => {
                        this.$toast.success("Created Successfully");
                        this.$router.push('/pages')
                    })
                    .catch( (error) => {
                        this.$toast.error("Did not Created");
                    });
            },
            
        },
        
        mounted() {
        }
    }
</script>

