<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Page List</h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Page</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <div class="row mb-3">
                                    <div class="col-md-12 table-topper-row">
                                        <NuxtLink class="btn btn-primary"  to="/pages/create"><i class="icon fa fa-plus"></i> Create</NuxtLink>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover table-bordered dataTable no-footer table-sm text-center" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>#</th>
                                                    <th>Title</th>
                                                    <th>Slug</th>
                                                    <th>Status</th>
                                                    <th style="width: 66.8px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row" v-for="(item, index) in itemList" :key="index">
                                                    <td class="">{{++index}}</td>
                                                    <td>{{item.title}}</td>
                                                    <td>{{item.slug}}</td>
                                                    <td>
                                                        <button class="bt btn-success btn-sm" v-if="item.is_active">Active</button>
                                                        <button class="bt btn-dabger btn-sm" v-else>InActive</button>
                                                    </td>
                                                
                                                    <td>
                                                        <div class="btn-group ml-3">
                                                            <NuxtLink class="btn btn-primary" @click="edit(item,index)" :to="{name: 'pages-pageId-edit', params:{pageId: item.id} }">
                                                                <i class="fa fa-lg fa-edit"></i>
                                                            </NuxtLink> &nbsp;
                                                            <a class="btn btn-danger" @click="destroy(item.id)"   href="#">
                                                                <i class="fa fa-lg fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        // comments:{SettingModal},
        data() {
            return {
                itemList :[]
            }
        },
        methods: {
            async getPages(){
                var response = await this.$axios.get("/pages");
                try {
                    this.itemList = response.data.data.pages;
                } catch (e) {
                    this.itemList = [];
                }
            },
           
           
            destroy(id){
                this.$swal({
                    title: 'Are you sure?',
                    text: "Do You Want To Delete This ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: ' Yes '
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var self = this;
                            this.$axios.delete( '/pages/'+id)
                                .then((response) => {
                                    self.$toast.success("page Delete Successfully");
                                    this.getPages();
                                })
                                .catch( (error) => {
                                    this.$toast.error("page did not  Deleted");
                                });
                        }
                    })
            },
        },
        computed:{
        },
        mounted() {
            this.getPages();
        }
    }
</script>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
