<template>
  <div>
       <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user">
        <!-- <img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image"> -->
        <div>
          <p class="app-sidebar__user-name">{{ user.userable.first_name+' '+user.userable.last_name }}</p>
          <p class="app-sidebar__user-designation">Frontend Developer</p>
        </div>
      </div>
      <ul class="app-menu">
        <li><NuxtLink class="app-menu__item "  to="/"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label"> Dashboard </span></NuxtLink> </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-book"></i><span class="app-menu__label">Book</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <NuxtLink class="treeview-item "  to="/books"><i class="icon fa fa-circle-o"></i>List</NuxtLink>
            <NuxtLink class="treeview-item "  to="/books/create"><i class="icon fa fa-circle-o"></i>Create</NuxtLink>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-shopping-cart"></i><span class="app-menu__label">Orders</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <NuxtLink class="treeview-item "  to="/orders/sales"><i class="icon fa fa-circle-o"></i>Sales</NuxtLink>
            <NuxtLink class="treeview-item "  to="/orders"><i class="icon fa fa-circle-o"></i>List</NuxtLink>
            <!-- <NuxtLink class="treeview-item "  to="/orders/create"><i class="icon fa fa-circle-o"></i>Create</NuxtLink> -->
            <NuxtLink class="treeview-item "  to="/orders/return-orders"><i class="icon fa fa-circle-o"></i>Return Order</NuxtLink>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Customer</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <NuxtLink class="treeview-item"  to="/customers"><i class="icon fa fa-circle-o"></i>List</NuxtLink>
            <NuxtLink class="treeview-item"  to="/customers/create"><i class="icon fa fa-circle-o"></i>Create</NuxtLink>
            <NuxtLink class="treeview-item"  to="/customers/professions"><i class="icon fa fa-circle-o"></i>Profession</NuxtLink>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-cog"></i><span class="app-menu__label">Settings</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <NuxtLink class="treeview-item "  to="/settings/variant"><i class="icon fa fa-circle-o"></i>Variant</NuxtLink>
            <NuxtLink class="treeview-item "  to="/settings/translator"><i class="icon fa fa-circle-o"></i>Translator</NuxtLink>
            <NuxtLink class="treeview-item "  to="/settings/subject"><i class="icon fa fa-circle-o"></i>Subject</NuxtLink>
            <NuxtLink class="treeview-item "  to="/settings/publisher"><i class="icon fa fa-circle-o"></i>Publisher</NuxtLink>
            <NuxtLink class="treeview-item "  to="/settings/language"><i class="icon fa fa-circle-o"></i>Language</NuxtLink>
            <NuxtLink class="treeview-item "  to="/settings/editor"><i class="icon fa fa-circle-o"></i>Editor</NuxtLink>
            <NuxtLink class="treeview-item "  to="/settings/author"><i class="icon fa fa-circle-o"></i>Author</NuxtLink>
            <NuxtLink class="treeview-item "  to="/settings/country"><i class="icon fa fa-circle-o"></i>Country</NuxtLink>
            <NuxtLink class="treeview-item "  to="/settings/division"><i class="icon fa fa-circle-o"></i>Division</NuxtLink>
            <NuxtLink class="treeview-item "  to="/settings/district"><i class="icon fa fa-circle-o"></i>District</NuxtLink>
            <NuxtLink class="treeview-item "  to="/settings/area"><i class="icon fa fa-circle-o"></i>Area</NuxtLink>
            <NuxtLink class="treeview-item "  to="/settings/category"><i class="icon fa fa-circle-o"></i>Category</NuxtLink>
            <NuxtLink class="treeview-item "  to="/settings/slider"><i class="icon fa fa-circle-o"></i>Slider</NuxtLink>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Pages</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <NuxtLink class="treeview-item "  to="/pages"><i class="icon fa fa-circle-o"></i>List</NuxtLink>
            <NuxtLink class="treeview-item "  to="/pages/create"><i class="icon fa fa-circle-o"></i>Create</NuxtLink>
          </ul>
        </li>

        <!-- <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Customer Group</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <NuxtLink class="treeview-item "  to="/customer-groups"><i class="icon fa fa-circle-o"></i>List</NuxtLink>
            <NuxtLink class="treeview-item "  to="/customer-groups/create"><i class="icon fa fa-circle-o"></i>Create</NuxtLink>
          </ul>
        </li> -->

        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Package</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <NuxtLink class="treeview-item "  to="/packages"><i class="icon fa fa-circle-o"></i>List</NuxtLink>
            <NuxtLink class="treeview-item "  to="/packages/create"><i class="icon fa fa-circle-o"></i>Create</NuxtLink>
          </ul>
        </li>

        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Discount</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <NuxtLink class="treeview-item "  to="/discounts"><i class="icon fa fa-circle-o"></i>Occasion Discount</NuxtLink>
            <NuxtLink class="treeview-item "  to="/discounts/books"><i class="icon fa fa-circle-o"></i>Book Discount</NuxtLink>
            <NuxtLink class="treeview-item "  to="/discounts/customers"><i class="icon fa fa-circle-o"></i>Customer Discount</NuxtLink>
          </ul>
        </li>

         <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Bulk Insertion</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <NuxtLink class="treeview-item "  to="/bulk-insertion/products_entry"><i class="icon fa fa-circle-o"></i>Products Bulk Entry</NuxtLink>
          </ul>
        </li>

      </ul>
    </aside>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  data(){
    return{

    }
  },
  computed:{
    ...mapState("auth",["loggedIn","user"]),
  }

}
</script>
