<template>
    <div class="modal" id="deleteModal" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Item</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"  @click="denied()"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Do You Want To Delete This Item ?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" @click="denied()">Close</button>
                    <button class="btn btn-primary" type="button" @click="confirm()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "DeleteComponent",
        props: {
            

        },
        data() {
            return {
                
            }
        },
        methods:{
            confirm(){
                this.$emit('destroy',true);
                $('#deleteModal').modal('hide');
            },
            denied(){
                this.$emit('destroy',false);
                $('#deleteModal').modal('hide');
            }
        },
        watch: {
            
        },
        computed:{
            
        }

    }
</script>

<style scoped>

</style>