<template>
    <div class="modal" id="settingModal" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{mode?'Edit':'Add'}} {{modulename}} Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div
                        class="alert alert-danger"
                        v-if="serverError"
                        role="alert"
                    >
                        {{ serverError }}
                    </div>
                    <form>
                        <b-form-group v-if="modulename=='Area'"  label="District   " label-for="District"  >
                            <b-form-select v-model="form.district_id"  class="mb-3" >
                                <b-form-select-option :value="null" >Please select a District</b-form-select-option>
                                <b-form-select-option v-for=" (item,idx) in   dropdownList" :value="item.id" :key="idx">{{item.name_en}}</b-form-select-option>
                            </b-form-select>
                        </b-form-group>
                        <b-form-group v-if="modulename=='District'"  label="Division " label-for="Division"  >
                            <b-form-select v-model="form.division_id"  class="mb-3" >
                                <b-form-select-option :value="null" >Please select a Division</b-form-select-option>
                                <b-form-select-option v-for=" (item,idx) in   dropdownList" :value="item.id" :key="idx">{{item.name_en}}</b-form-select-option>
                            </b-form-select>
                        </b-form-group>
                        <b-form-group label="English Name" label-for="en-input" >
                            <b-form-input id="en-name-input"  v-bind:class="{'is-invalid': validationErrors.name_en}" aria-placeholder="Enter English Name " v-model="form.name_en" required ></b-form-input>
                            <small class="text-danger" v-if="validationErrors.name_en" >{{ validationErrors.name_en[0] }}</small>
                        </b-form-group>
                        <b-form-group label="Bangla Name" label-for="bn-input" >
                            <b-form-input id="bn-name-input" v-bind:class="{'is-invalid': validationErrors.name_bn}"  aria-placeholder="Enter Bangla Name " v-model="form.name_bn" required ></b-form-input>
                            <small class="text-danger" v-if="validationErrors.name_bn" >{{ validationErrors.name_bn[0] }}</small>
                        </b-form-group>
                        <b-form-group label="Status" label-for="status" >
                            <b-form-select v-model="form.status" class="mb-3">
                                <b-form-select-option value="Active">Active</b-form-select-option>
                                <b-form-select-option value="Deactive">Deactive</b-form-select-option>
                            </b-form-select>
                        </b-form-group>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click.prevent="mode ? update() : store()" >{{mode?'Update':'Save'}} changes</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SettingModal",
        props: {
            mode: {
                type:Boolean,
                required: true
            },
            info:{
                type:Object
            },
            modulename:{
                type:String
            },
            dropdownList:{
                type:Array
            }

        },
        data() {
            return {
                errors:null,
                alertMessage:null,
                form:{
                    district_id:null,
                    division_id:null,
                    name_en:' ',
                    name_bn:'',
                    status:'Active'
                }
            }
        },
        methods:{
            store(){
                this.$emit('store',this.form);
                this.$data.form = { ...this.$options.data.form };
            },
            update(){
                this.$emit('update',this.form);
            }
        },
        watch: {
            mode: function(newVal, oldVal) {
                if(newVal){
                    this.form={...this.info}
                }else{
                    this.$data.form = { ...this.$options.data.form };
                }

            }
        },
        computed:{
            validationErrors() {
                return this.$store.getters['commonStore/validationErrors'];
            },
            serverError() {
                return this.$store.getters['commonStore/serverError'];
            }
        }

    }
</script>

<style scoped>

</style>