<template lang="html">
    <div class="ps-section--shopping ps-whishlist">
        <div class="container">
            <!-- <div class="ps-section__header">
                <h5>Book List</h5>
            </div> -->
            <div class="ps-section__content">
                <div class="table-responsive">
                    <table class="table ps-table--whishlist">
                        <thead>
                            <tr>
                                <th>Product name</th>
                                <th>Publisher</th>
                                <th>Author</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(product,idx) in packageProducts"
                                :key="idx"
                            >
                                
                                <td>
                                    <product-shopping-wish-list :product="product" />
                                </td>
                                <td class="price">
                                    {{ product.publisher.name_en }}
                                </td>
                                <td>{{ product.author.name_en }}</td> 
                                
                                <td>
                                    <p  v-if="product.active_variant.discount_value>0" class=" ">
                                        <span>৳ {{ product.active_variant.price - product.active_variant.discount_value }}</span></br>
                                        <del class="ml-2">
                                            ৳ {{product.active_variant.price}}
                                        </del>
                                    </p>
                                    <p  v-else class="ps-product__price sale">
                                        ৳ {{ product.active_variant.price }}
                                    </p>
                                    
                                </td>
                                <td>
                                    <a
                                        href="#"
                                        @click.prevent="
                                            handleRemoveItemFromPackageList(
                                                idx,product
                                            )
                                        "
                                    >
                                        <i class="icon-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <a class="ps-btn" href="#" @click="manageIntialPosition()"  >  Add to cart</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import ProductShoppingWishList from '~/components/elements/product/ProductShoppingWishList';
import { getListOfProductId } from '~/utilities/product-helper';
export default {
    name: 'Wishlist',
    components: { ProductShoppingWishList },
    computed: {
        ...mapState({
            packageProducts: state => state.product.packageProducts,
            user: state => state.auth.user,
            loggedIn: state => state.auth.loggedIn,
            cartItems: state => state.cart.cartItems,
            variant: state => state.variant.variant,
            currency: state => state.app.currency,
            cartProducts: state => state.product.cartProducts
        })
    },
    data() {
    return {
      product: null,
      initial:0
    };
  },
    methods: {
        async manageIntialPosition(){
             this.initial = 0 ;
             this.manageCartAddItem();
        },
        async manageCartAddItem(){
            var i = this.packageProducts.length;
            setTimeout(()=>{
                this.product = this.packageProducts[ this.initial] ;
                this.handleAddToCart();
                this.initial++;
                if ( this.initial < i) {
                    this.manageCartAddItem();
                }
            }, 3000)
        },
        async handleAddToCart() {
            await this.$store.dispatch(
                "variant/setProductVariant",
                this.product.active_variant
            );
            await this.productAddInCart();
        },

        async productAddInCart() {
            const cartItemsOnCookie = this.$cookies.get("cart", {
                parseJSON: true
            });
            let item = {
                product_id: this.product.id,
                variant_id: this.variant.id,
                quantity: 1
            };

            let existItem;
            if (cartItemsOnCookie) {
                this.isCookieExistOperation(cartItemsOnCookie.cartItems, item);
            } else {
                var referanceCartNewItem = [];
                referanceCartNewItem.push(item);
                if (this.$store.state.auth.loggedIn) {
                var response = await this.$axios.post(
                    "/cart-authenticate-info-operation",
                    {
                    cart: referanceCartNewItem
                    }
                );
                } else {
                var response = await this.$axios.post("/cart-info-operation", {
                    cart: referanceCartNewItem
                });
                }
                this.addItemToCart(response.data.data);
            }
        },
        async isCookieExistOperation(cookieItem, currentItem) {
            var existItem = cookieItem.find(
                item =>
                item.product_id === this.product.id &&
                item.variant_id === this.variant.id
            );
            if (existItem !== undefined) {
                if (1 + existItem.quantity > 10) {
                this.$notify({
                    group: "addCartSuccess",
                    title: "Waring!",
                    text: `Can't add more than 10 items`
                });
                } else {
                var referanceCartItem = cookieItem;
                var index = referanceCartItem.findIndex(item => {
                    if (
                    existItem["product_id"] == item["product_id"] &&
                    existItem["variant_id"] == item["variant_id"]
                    ) {
                    return true;
                    }
                });
                referanceCartItem[index].quantity += currentItem.quantity;
                if (this.$store.state.auth.loggedIn) {
                    var response = await this.$axios.post(
                    "/cart-authenticate-info-operation",
                    {
                        cart: referanceCartItem
                    }
                    );
                } else {
                    var response = await this.$axios.post("/cart-info-operation", {
                    cart: referanceCartItem
                    });
                }
                this.addItemToCart(response.data.data);
                }
            } else {
                //call db check cart product method
                var referanceCartNewItem = cookieItem;
                referanceCartNewItem.push(currentItem);
                if (this.$store.state.auth.loggedIn) {
                var response = await this.$axios.post(
                    "/cart-authenticate-info-operation",
                    {
                    cart: referanceCartNewItem
                    }
                );
                } else {
                var response = await this.$axios.post("/cart-info-operation", {
                    cart: referanceCartNewItem
                });
                }
                this.addItemToCart(response.data.data);
            }
        },

        async addItemToCart(payload) {
            await this.$store.dispatch("cart/addProductToCart", payload.cart);
            await this.getCartProduct(payload.products);
            this.$notify({
                group: "addCartSuccess",
                title: "Success!",
                text: `${this.product.title_en} has been added to your cart!`
            });
        },
        async getCartProduct(products) {
            await this.$store.dispatch("product/saveCartProductList", products);
            await this.$store.dispatch("cart/calculateAmount", this.cartProducts);

            this.$store.commit("cart/setLoading", false);
        },
        handleRemoveItemFromPackageList(idx,product) {
            this.$store.dispatch('product/removeItemFromPackageList', idx);
            this.$notify({
                group: 'addCartSuccess',
                title: 'Remove Item!',
                text: `${product.title_en} has been removed from your Package List!`
            });
        },
       
    }
};
</script>

<style lang="scss" scoped></style>
