<template lang="html">
    <section>
        <div class="row mb-100">
            <div class="col-lg-12">
                <div class="card">
                    <div class="comment-widgets">
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row m-t-0">
                            <div class="p-2">
                                <img
                                    v-if="author.image"
                                    width="60" class="rounded-circle"
                                   :src="`${$config.remoteBaseUrl}/uploads/authors/${author.image}`"
                                />
                                <img
                                    v-else
                                    width="60" class="rounded-circle"
                                    src="~/static/img/products/dummy/5.png"
                                />
                            </div>
                            <div class="comment-text w-100">
                                <h3>{{author.name_en}}</h3> 
                                <span class="m-b-15 d-block" v-html="author.description"></span>
                            </div>
                        </div> <!-- Comment Row -->
                    </div>
                </div> <!-- Card -->
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'PartialVendor',
    props: {
        author: {
            type: Object,
            default: null
        }
    },
};
</script>

<style lang="scss" scoped>

    .mt-100 {
        margin-top: 100px
    }

    .mb-100 {
        margin-bottom: 100px
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid transparent;
        border-radius: 0px
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem
    }

    .card .card-title {
        position: relative;
        font-weight: 600;
        margin-bottom: 10px
    }

    .comment-widgets {
        position: relative;
        margin-bottom: 10px
    }

    .comment-widgets .comment-row {
        border-bottom: 1px solid transparent;
        padding: 14px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 10px 0
    }

    .p-2 {
        padding: 0.5rem !important
    }

    .comment-text {
        padding-left: 15px
    }

    .w-100 {
        width: 100% !important
    }

    .m-b-15 {
        margin-bottom: 15px
    }

    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.76563rem;
        line-height: 1.5;
        border-radius: 1px
    }

    .btn-cyan {
        color: #fff;
        background-color: #27a9e3;
        border-color: #27a9e3
    }

    .btn-cyan:hover {
        color: #fff;
        background-color: #1a93ca;
        border-color: #198bbe
    }

    .comment-widgets .comment-row:hover {
        background: rgba(0, 0, 0, 0.05)
    }
</style>
