<template lang="html">
    <div class="ps-document" v-html="product.summary_en">
        
    </div>
</template>

<script>
export default {
    name: 'PartialDescription',
    props: {
        product: {
            type: Object,
            default: {}
        }
    },
};
</script>

<style lang="scss" scoped></style>
