<template lang="html">
    <div class="row">
        <!-- <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 ">
            <div class="ps-block--average-rating">
                <div class="ps-block__header">
                    <h3>4.00</h3>
                    <rating />
                    <span>1 Review</span>
                </div>
                <div class="ps-block__star">
                    <span>5 Star</span>
                    <div class="ps-progress" data-value="100">
                        <span></span>
                    </div>
                    <span>100%</span>
                </div>
                <div class="ps-block__star">
                    <span>4 Star</span>
                    <div class="ps-progress" data-value="0">
                        <span></span>
                    </div>
                    <span>0</span>
                </div>
                <div class="ps-block__star">
                    <span>3 Star</span>
                    <div class="ps-progress" data-value="0">
                        <span></span>
                    </div>
                    <span>0</span>
                </div>
                <div class="ps-block__star">
                    <span>2 Star</span>
                    <div class="ps-progress" data-value="0">
                        <span></span>
                    </div>
                    <span>0</span>
                </div>
                <div class="ps-block__star">
                    <span>1 Star</span>
                    <div class="ps-progress" data-value="0">
                        <span></span>
                    </div>
                    <span>0</span>
                </div>
            </div>
        </div> -->

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
            <form @submit.prevent="saveRating">
                <h4>Submit Your Review</h4>
                <!-- <div class="form-group form-group__rating">
                    <label>Your rating of this product</label>
                    <rating />
                </div> -->
                <div class="form-group">
                    <textarea
                        v-model="form.content"
                        class="form-control"
                        rows="3"
                        placeholder="Write your review here"
                        required
                    ></textarea>
                </div>
                <div class="form-group submit">
                    <button style="submit" :disabled="isLoading" class="ps-btn">{{isLoading? "Processing..":  "Submit Review"}}</button>
                </div>
            </form>
            <template v-if="ratings.length">
                <div class="ps-block--comment" v-for="(rating,index) in ratings" :key="index">
                    <div class="ps-block__thumbnail">
                        <img
                            class="rounded-circle"
                            src="~/static/img/users/1.png"
                            alt="martfury"
                        />
                    </div>
        
                    <div class="ps-block__content">
                        <div>
                            <h5>{{ rating.user.name }}<small>MARCH 12, 2013 AT 1:17 PM</small></h5>
                            <p>
                                {{ rating.content }}
                            </p>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import Rating from '~/components/elements/commons/Rating';
export default {
    name: 'PartialReview',
    components: { Rating },
    props:{
        product: Object,
    },
    data(){
        return{
            isLoading: false,
            form:{
                book_id: '',
                rating: 5,
                content: '',
                is_active: 1,
            },
            ratings:[],
        }
    },
    mounted(){
        if(this.product.ratings){
            this.ratings = this.product.ratings
        }
        
    },
    
    methods:{
        saveRating(){
            this.isLoading = true;
            this.form.book_id = this.product.id
            this.$axios.post("/ratings", this.form)
            .then((response) => {
                this.isLoading = false;
                this.form.content = ''
                this.$notify({
                    title: "Success!",
                    text: `Successfully Submit your Review`
                  });
                // this.$emit('review-complete', response.data.data)
                // this.ratings.push(response.data.data);
            })
            .catch(error => {
                this.isLoading = false;
                console.log(error)
            })
        },

    }
};
</script>

<style lang="scss" scoped></style>
