<template lang="html">
    <div class="table-responsive">
        <div v-html="product.additional_info"></div>
        <!-- <table class="table table-bordered ps-table ps-table--specification">
            <tbody>
                <tr>
                    <td>Country</td>
                    <td>{{ product.country.name_en }}</td>
                </tr>
                <tr>
                    <td>Edition</td>
                    <td>{{ product.edition }}</td>
                </tr>
                <tr>
                    <td>Series</td>
                    <td>{{ product.series }}</td>
                </tr>
                
                <tr>
                    <td>Author</td>
                    <td>{{ product.author.name_en }}</td>
                </tr>
                <tr>
                    <td>Publisher</td>
                    <td>{{ product.publisher.name_en }}</td>
                </tr>
                <tr>
                    <td>Translator</td>
                    <td>{{ product.translator.name_en }}</td>
                </tr>
                <tr>
                    <td>Editor</td>
                    <td>{{ product.editor.name_en }}</td>
                </tr>
                
            </tbody>
        </table> -->
    </div>
</template>

<script>
export default {
    name: 'PartialSpecification',
    props: {
        product: {
            type: Object,
            default: {}
        }
    },
};
</script>

<style lang="scss" scoped></style>
