<template lang="html">
    <div class="ps-footer__widgets">
        <aside class="widget widget_footer widget_contact-us">
            <h4 class="widget-title">
                {{ $t('footer.widgetHeading.contactUs') }}
            </h4>
            <div class="widget_content">
                <p>Call us 24/7</p>
                <h3>+88 01890-323232</h3>
                <p>
                    114/1 New Eskaton, Dhaka, Bangladesh <br />
                    <a href="mailto:contact@martfury.co"> info@enilkhet.com</a>
                </p>
                <ul class="ps-list--social">
                    <li>
                        <a class="facebook" href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a class="google-plus" href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a class="instagram" href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <aside class="widget widget_footer">
            <h4 class="widget-title">
                {{ $t('footer.widgetHeading.quickLink') }}
            </h4>
            <ul class="ps-list--link">
                <li v-for="(page, index) in pages" :key="index">
                    <nuxt-link 
                        :to="`/pages/${page.slug}`"
                    >
                    {{page.title}}
                    </nuxt-link>
                </li>
            </ul>
        </aside>
        <aside class="widget widget_footer">
            <h4 class="widget-title">
                {{ $t('footer.widgetHeading.company') }}
            </h4>
            <ul class="ps-list--link">
                <li>
                    <a href="about-us.html">About Us</a>
                </li>
                <li>
                    <a href="#">Affilate</a>
                </li>
                <li>
                    <a href="#">Career</a>
                </li>
                <li>
                    <a href="contact-us.html">Contact</a>
                </li>
            </ul>
        </aside>
        <aside class="widget widget_footer">
            <h4 class="widget-title">
                {{ $t('footer.widgetHeading.bussiness') }}
            </h4>
            <ul class="ps-list--link">
                <li>
                    <a href="#">Our Press</a>
                </li>
                <li>
                    <a href="checkout.html">Checkout</a>
                </li>
                <li>
                    <a href="my-account.html">My account</a>
                </li>
                <li>
                    <a href="shop-default.html">Shop</a>
                </li>
            </ul>
        </aside>
    </div>
</template>

<script>
export default {
    name: 'FooterWidgets',
    mounted(){
        this.loadPages()
    },
    data(){
        return{
            pages: [],
        }
    },

    methods:{
        loadPages(){
            this.$axios.get('/pages/')
                .then((response) => {
                   this.pages = response.data.data.pages
                })
                .catch( (error) => {
                    this.$toast.error("Operaation Failed");
                });
        }
    }
};
</script>

<style lang="scss" scoped></style>
