<template lang="html">
    <div v-if="type != 'package'" class="ps-product--detail ps-product--fullwidth">
        <div class="ps-product__header">
            <thumbnail-default />
            <information-default />
        </div>
        <default-description :product="product" />
    </div>
    <div v-else class="ps-product--detail ps-product--fullwidth">
        <div class="ps-product__header">
            <thumbnail-default-package/>
            <information-default-package />
        </div>
        <package-description  />
    </div>
</template>

<script>
import { mapState } from 'vuex';
import DefaultDescription from '~/components/elements/detail/modules/DefaultDescription';
import PackageDescription from '~/components/elements/detail/modules/PackageDescription';
import InformationDefault from '~/components/elements/detail/information/InformationDefault';
import InformationDefaultPackage from '~/components/elements/detail/information/InformationDefaultPackage';
import ThumbnailDefault from '~/components/elements/detail/thumbnail/ThumbnailDefault';
import ThumbnailDefaultPackage from '~/components/elements/detail/thumbnail/ThumbnailDefaultPackage';
export default {
    name: 'ProductDetailFullwidth',
    components: { PackageDescription,ThumbnailDefault,ThumbnailDefaultPackage, InformationDefault, DefaultDescription , InformationDefaultPackage },
    props: {
        type: {
            type: String,
            default: null
        }
    },
    computed: {
        ...mapState({
            product: state => state.product.product,
            packageInfo: state => state.collection.packageInfo,
        })
    },
    async created() {
        if(this.product){
            const variant = await this.$store.dispatch(
                'variant/setProductVariant',
                this.product.variants[0]
            );
        }
       
        
    },
};
</script>

<style lang="scss" scoped></style>
