<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Discount List</h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Discount</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <div class="row mb-3">
                                    <div class="col-md-12 table-topper-row">
                                        <NuxtLink class="btn btn-primary"  to="/discounts/create"><i class="icon fa fa-plus"></i> Create</NuxtLink>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover table-bordered dataTable no-footer table-sm text-center" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>#</th>
                                                    <th>Title</th>
                                                    <th>Discount Type</th>
                                                    <th>Discount Value</th>
                                                    <th>Started At</th>
                                                    <th>Ended At</th>
                                                    <th>Status</th>
                                                    <th style="width: 66.8px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row" v-for="(item, idx) in itemList" :key="idx">
                                                    <td class="">{{idx + 1}}</td>
                                                    <td>{{item.title}}</td>

                                                    <td>{{item.discount_type}}</td>
                                                    <td>{{item.value}}</td>
                                                    <td>{{item.started_at}}</td>
                                                    <td>{{item.ended_at}}</td>
                                                    <td>
                                                        <span  class="badge badge-success" v-if="item.status">Active</span>
                                                        <span class="badge badge-warning" v-else>Inactive</span>
                                                    </td> 
                                                    <td>
                                                        <NuxtLink :to="{ name: 'discounts-discountId-edit', params: { discountId: item.id }}" class="btn btn-primary btn-sm" title="Edit"><i class="fa fa-lg fa-edit"></i></NuxtLink>
                                                        <a class="btn btn-danger btn-sm" @click="destroy(item.id)" href="#" title="Delete"><i class="fa fa-lg fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        data() {
            return {
                dropdownList:[],
                trackIndex:null,
                itemList :[]
            }
        },
        methods: {
            async getPackages(){
                var response = await this.$axios.get("/discounts");
                try {
                    this.itemList = response.data.data.discounts;
                } catch (e) {
                    this.itemList = [];
                }
            },
            
            destroy(id){
                this.$swal({
                    title: 'Are you sure?',
                    text: "Do You Want To Delete This ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: ' Yes '
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var self = this;
                            this.$axios.delete( '/packages/'+id)
                                .then((response) => {
                                    self.$toast.success("Package Delete Successfully");
                                    this.getPackages();
                                })
                                .catch( (error) => {
                                    this.$toast.error("Package did not  Deleted");
                                });
                        }
                    })
            },
        },
        computed:{
        },
        mounted() {
            this.getPackages();
        }
    }
</script>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
