<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Slider Setting </h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Slider</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <div class="row mb-3">
                                    <div class="col-md-12 table-topper-row">
                                        <button type="button" class="btn btn-primary" @click="create" >
                                            <i class="fa fa-plus fa-sm" aria-hidden="true"></i> Add New
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover table-bordered dataTable no-footer table-sm text-center" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                            <thead>
                                            <tr role="row">
                                                <th  width="5%">#</th>
                                                <th  style="width: 186.8px;">Title 1</th>
                                                <th  style="width: 186.8px;">Title 2</th>
                                                <th  style="width: 186.8px;">Title 3</th>
                                                <th  style="width: 132.4px;">Image</th>
                                                <th  style="width: 132.4px;">Status</th>
                                                <th style="width: 66.8px;">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" v-for="(item, idx) in itemList" :key="idx" >
                                                <td class="">{{idx + 1}}</td>
                                                <td class="sorting_1">{{item.title_1}}</td>
                                                <td>{{item.title_2}}</td>
                                                <td>{{item.title_3}}</td>
                                                <td>{{item.image}}</td>
                                                <td>{{item.status}}</td>
                                                <td>
                                                    <div class="btn-group ml-3">
                                                        <a class="btn btn-primary" @click="edit(item)" href="#">
                                                            <i class="fa fa-lg fa-edit"></i>
                                                        </a> &nbsp;
                                                        <a class="btn btn-danger" @click="destroy(item.id)"   href="#">
                                                            <i class="fa fa-lg fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="insertModal" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{mode?'Edit':'Add'}} {{modulename}} Info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div
                            class="alert alert-danger"
                            v-if="serverError"
                            role="alert"
                        >
                            {{ serverError }}
                        </div>
                        <form>
                            <b-form-group label="Title 1" label-for="title-1-input">
                                <b-form-input id="en-name-input"  v-bind:class="{'is-invalid': validationErrors.title_1}" aria-placeholder="Title 1" v-model="form.title_1" ></b-form-input>
                                <small class="text-danger" v-if="validationErrors.title_1" >{{ validationErrors.title_1[0] }}</small>
                            </b-form-group>
                            <b-form-group label="Title 2" label-for="title-2-input">
                                <b-form-input id="bn-name-input" v-bind:class="{'is-invalid': validationErrors.title_2}"  aria-placeholder="Title 2" v-model="form.title_2" ></b-form-input>
                                <small class="text-danger" v-if="validationErrors.title_2" >{{ validationErrors.title_2[0] }}</small>
                            </b-form-group>
                            <b-form-group label="Title 3" label-for="title-3-input">
                                <b-form-input id="bn-name-input" v-bind:class="{'is-invalid': validationErrors.title_3}"  aria-placeholder="Title 3" v-model="form.title_3" ></b-form-input>
                                <small class="text-danger" v-if="validationErrors.title_3" >{{ validationErrors.title_3[0] }}</small>
                            </b-form-group>
                            <b-form-group label="Status" label-for="status" >
                                <b-form-select v-model="form.status" class="mb-3">
                                    <b-form-select-option value="Active">Active</b-form-select-option>
                                    <b-form-select-option value="Deactive">Deactive</b-form-select-option>
                                </b-form-select>
                            </b-form-group>
                            <b-form-group label="Status" label-for="status" >
                                <template v-if="form.image">
                                    <viewer>
                                        <img
                                            :src="
                                                baseUrl +
                                                'public/uploads/sliders/' +
                                                form.image
                                            "
                                            alt="Book Banner Photo"
                                            height="250"
                                        />
                                    </viewer>
                                </template>
                                <template v-else>
                                    <file-uploader
                                        v-on:complete="(fileName) => {
                                            form.image = fileName
                                        }"
                                    >
                                    </file-uploader>
                                </template>
                            </b-form-group>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click.prevent="mode ? update() : store()" >{{mode?'Update':'Save'}} changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        layout: "Dashboard",
        // comments:{SettingModal},
        data() {
            return {
                modulename:'Slider',
                mode:false,
                trackIndex:null,
                info:{},
                itemList :[],
                form: {
                    title_1:'',
                    title_2:'',
                    title_3:'',
                    status:'Active',
                    image: ''
                }
            }
        },
        methods: {
            async getItems(){
                var response = await this.$axios.get("/setting-sliders");
                try {
                    this.itemList = response.data.sliders;
                } catch (e) {
                    this.itemList = [];
                }
            },
            create(){
                this.mode = false;
                this.info={};
                $('#insertModal').modal('show');
            },
            store(){
                this.$axios.post( '/setting-sliders', this.form)
                    .then((response) => {
                        this.$toast.success("Slider  Created Successfully");
                        this.getItems();
                        $('#insertModal').modal('hide');
                    })
                    .catch( (error) => {
                        this.$toast.error("Slider Can not  Created");
                    });
            },
            edit(item){
                this.form = {...item};
                this.mode=true;
                $('#insertModal').modal('show');
            },
            update(){
                var self = this;
                this.$axios.patch( '/setting-sliders/'+ this.form.id, this.form)
                    .then((response) => {
                        self.$toast.success("Slider  Updated Successfully");
                        this.getItems();
                        $('#insertModal').modal('hide');
                    })
                    .catch( (error) => {
                        this.$toast.error("Slider Can not  Updated");
                    });
            },
            destroy(id){
                this.$swal({
                    title: 'Are you sure?',
                    text: "Do You Want To Delete This ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: ' Yes '
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var self = this;
                            this.$axios.delete( '/setting-sliders/'+id)
                                .then((response) => {
                                    self.$toast.success("Slider  Delete Successfully");
                                    this.getItems();
                                    $('#settingModal').modal('hide');
                                })
                                .catch( (error) => {
                                    this.$toast.error("Slider Can not  Delete");
                                });
                        }
                    })
            },

        },
        computed:{
            validationErrors() {
                return this.$store.getters['commonStore/validationErrors'];
            },
            serverError() {
                return this.$store.getters['commonStore/serverError'];
            }
        },
        mounted() {
            this.getItems();
        }
    }
</script>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>