<template lang="html">
    <div>
        <h1>{{ product.title_en }}</h1>
        <div class="ps-product__meta">
            <p>
                Editor:
                <nuxt-link to="/shop">
                    <a class="ml-2 text-capitalize" v-if="product.editor">
                        {{ product.editor.name_en }}
                    </a>
                </nuxt-link>
            </p>
            <div class="ps-product__rating">
                <rating />
                <span>(4 review)</span>
            </div>
        </div>

        <h4 v-if="variant.discount_value" class="ps-product__price sale">
            <del class="mr-2"> ৳  {{variant.price}}</del>
            ৳ {{ variant.price - variant.discount_value }}
        </h4>
        <h4 v-else class="ps-product__price">
            ৳  {{variant.price}}
        </h4>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import Rating from '~/components/elements/Rating';
export default {
    name: 'ModuleProductInfo',
    components: { Rating },
    props: {
        product: {
            type: Object,
            default: () => {}
        }
    },
    computed: {
        ...mapState({
            variant: state => state.variant.variant
        })

    },
};
</script>

<style lang="scss" scoped></style>
