<template lang="html">
    <div>
        <h1>{{ package.title_en }}</h1>
        <!-- <div class="ps-product__meta">
            <p>
                Editor:
                <nuxt-link to="/shop">
                    <a class="ml-2 text-capitalize" v-if="product.editor">
                        {{ product.editor.name_en }}
                    </a>
                </nuxt-link>
            </p>
            <div class="ps-product__rating">
                <rating />
                <span>(4 review)</span>
            </div>
        </div> -->

        
    </div>
</template>

<script>
import { mapState } from 'vuex';
import Rating from '~/components/elements/Rating';
export default {
    name: 'ModuleProductInfo',
    components: { Rating },
    props: {
        package: {
            type: Object,
            default: () => {}
        }
    },
    computed: {
        ...mapState({
            variant: state => state.variant.variant
        })

    },
};
</script>

<style lang="scss" scoped></style>
