<template lang="html">
    <div class="ps-product__desc">
        <p>
            Author:
            <!-- <nuxt-link to="/shop" v-if="product.author">
                <strong> {{ product.author.name_en }}</strong>
            </nuxt-link> -->
        </p>
        <div v-html="package.additional_info"></div>
    </div>
</template>

<script>
export default {
    name: 'ModuleProductDetailDesc',
    props: {
        package: {
            type: Object,
            default: {}
        }
    },
    computed:{

    }
};
</script>

<style lang="scss" scoped></style>
