<template lang="html">
    <div class="ps-product__specification">
        <nuxt-link to="/page/blank">
            <a class="report">Report Abuse</a>
        </nuxt-link>
        <p><strong>ISBN:</strong> {{product.isbn_number}}</p>
        <p class="categories">
            <strong> Categories:</strong>
            <nuxt-link to="/shop">
                <a>Consumer Electronics</a>
            </nuxt-link>
            <nuxt-link to="/shop">
                <a>Refrigerator</a>
            </nuxt-link>
            <nuxt-link to="/shop">
                <a>Babies & Moms</a>
            </nuxt-link>
        </p>
        <p class="tags">
            <strong> Tags</strong>
            {{product.tags}}
        </p>
    </div>
</template>

<script>
export default {
    name: 'ModuleProductDetailSpecification',
    props: {
        product: {
            type: Object,
            default: {}
        }
    }
};
</script>

<style lang="scss" scoped></style>
