<template lang="html">
    <div>
        <div class="ps-product__shopping variant-section-design">
            <figure>
                <figcaption>Quantity</figcaption>
                <div class="form-group--number">
                    <button class="up" @click.prevent="handleIncreaseQuantity">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="down" @click.prevent="handleDescreaseQuantity">
                        <i class="fa fa-minus"></i>
                    </button>
                    <input
                        v-model="quantity"
                        class="form-control"
                        type="text"
                        disabled
                    />
                </div>
            </figure>

            <div  class="ps-form__categories">
               <figcaption>Variant</figcaption>
                <select  class="form-control variant-select"  @change="changeProductVariant($event.target.value)">
                    <option :value="index" v-for="(variantitem,index)  in product.variants"  :key="index"  :selected= "variantitem.variant_id == variant.variant_id"  > {{variantitem.variant_info.name_en}} </option>
                </select>
            </div>
            <!-- <div class="ps-product__actions">
                <a href="#">
                    <i class="icon-heart"></i>
                </a>
                <a href="#">
                    <i class="icon-chart-bars"></i>
                </a>
            </div> -->
            
        </div>
        <div class="ps-product__shopping">
            
            <a
                class="ps-btn ps-btn--black"
                href="#"
                @click.prevent="handleAddToCart"
            >
                Add to cart
            </a>
            <a class="ps-btn" href="#" @click.prevent="buyNowAction">
                Buy Now
            </a>
            
        </div>
    </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ModuleProductShopping",
  props: {
    product: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    ...mapState({
      cartItems: state => state.cart.cartItems,
      variant: state => state.variant.variant,
      cartProducts: state => state.product.cartProducts
    })
  },
  data() {
    return {
      quantity: 1
    };
  },
  methods: {
    async changeProductVariant(variantIndex) {
      return await this.$store.dispatch(
        "variant/setProductVariant",
        this.product.variants[variantIndex]
      );
    },

    handleIncreaseQuantity() {
      this.quantity++;
    },

    handleDescreaseQuantity() {
      if (this.quantity > 1) {
        this.quantity--;
      }
    },
    buyNowAction() {
      this.$router.push("/account/checkout");
    },

    async handleAddToCart(isBuyNow) {
      const cartItemsOnCookie = this.$cookies.get("cart", {
        parseJSON: true
      });
      let item = {
        product_id: this.product.id,
        variant_id: this.variant.id,
        quantity: this.quantity
      };
      let existItem;
      if (cartItemsOnCookie) {
        this.isCookieExistOperation(cartItemsOnCookie.cartItems, item);
      } else {
        var referanceCartNewItem = [];
        referanceCartNewItem.push(item);
        if (this.$store.state.auth.loggedIn) {
          var response = await this.$axios.post(
            "/cart-authenticate-info-operation",
            {
              cart: referanceCartNewItem
            }
          );
        } else {
          var response = await this.$axios.post("/cart-info-operation", {
            cart: referanceCartNewItem
          });
        }
        this.addItemToCart(response.data.data);
      }
    },
    async isCookieExistOperation(cookieItem, currentItem) {
      var existItem = cookieItem.find(
        item =>
          item.product_id === this.product.id &&
          item.variant_id === this.variant.id
      );
      if (existItem !== undefined) {
        if (1 + existItem.quantity > 10) {
          this.$notify({
            group: "addCartSuccess",
            title: "Waring!",
            text: `Can't add more than 10 items`
          });
        } else {
          var referanceCartItem = cookieItem;
          var index = referanceCartItem.findIndex(item => {
            if (
              existItem["product_id"] == item["product_id"] &&
              existItem["variant_id"] == item["variant_id"]
            ) {
              return true;
            }
          });
          referanceCartItem[index].quantity += currentItem.quantity;
          if (this.$store.state.auth.loggedIn) {
            var response = await this.$axios.post(
              "/cart-authenticate-info-operation",
              {
                cart: referanceCartItem
              }
            );
          } else {
            var response = await this.$axios.post("/cart-info-operation", {
              cart: referanceCartItem
            });
          }
          this.addItemToCart(response.data.data);
        }
      } else {
        //call db check cart product method
        var referanceCartNewItem = cookieItem;
        referanceCartNewItem.push(currentItem);
        if (this.$store.state.auth.loggedIn) {
          var response = await this.$axios.post(
            "/cart-authenticate-info-operation",
            {
              cart: referanceCartNewItem
            }
          );
        } else {
          var response = await this.$axios.post("/cart-info-operation", {
            cart: referanceCartNewItem
          });
        }
        this.addItemToCart(response.data.data);
      }
    },

    async addItemToCart(payload) {
      console.log("Add Cart Product", payload);
      await this.$store.dispatch("cart/addProductToCart", payload.cart);
      await this.getCartProduct(payload.products);
      this.$notify({
        group: "addCartSuccess",
        title: "Success!",
        text: `${this.product.title_en} has been added to your cart!`
      });
    },

    //get cart product
    async getCartProduct(products) {
      console.log("get Product list ", products);
      await this.$store.dispatch("product/saveCartProductList", products);
      await this.$store.dispatch("cart/calculateAmount", this.cartProducts);

      this.$store.commit("cart/setLoading", false);
    },

    async loadCartProducts() {
      const cookieCart = this.$cookies.get("cart", { parseJSON: true });
      let queries = [];

      cookieCart.cartItems.forEach(item => {
        queries.push(item);
      });
      if (this.cartItems.length >= 0) {
        if (this.$store.state.auth.loggedIn) {
          var response = await this.$axios.post(
            "/cart-authenticate-info-operation",
            {
              cart: queries
            }
          );
        } else {
          var response = await this.$axios.post("/cart-info-operation", {
            cart: queries
          });
        }
        await this.$store.dispatch(
          "cart/addProductToCart",
          response.data.data.cart
        );
        await this.$store.dispatch(
          "product/saveCartProductList",
          response.data.data.products
        );
        await this.$store.dispatch("cart/calculateAmount", this.cartProducts);
        if (response) {
          this.$store.commit("cart/setLoading", false);
        }
      } else {
        this.$store.commit("product/setCartProducts", null);
      }
    }
  }
};
</script>

<style lang="css" scoped>
.variant-section-design {
  border-bottom: none;
  padding-bottom: inherit;
}
.variant-section-design .ps-form__categories {
  width: 31%;
}
.variant-select {
  height: 41px;
}
</style>
