<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Edit Order</h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Edit Order</li>
            </ul>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <b-row>
                            <b-col cols="2">
                                <b-form-select v-model="form.orderType">
                                    <b-form-select-option value="edit">Edit Order</b-form-select-option>
                                    <b-form-select-option value="return">Return Order</b-form-select-option>
                                </b-form-select>
                            </b-col>
                            
                        </b-row>
                        <div class="table-responsive mt-4">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <b-row> 
                                    <b-col cols="3">
                                        <label for="">Select Book Variant</label>
                                    </b-col>
                                    <b-col cols="9">
                                        <multiselect 
                                            v-model="selectedBookVariant" 
                                            track-by="id" 
                                            placeholder="Type to search" 
                                            open-direction="bottom" 
                                            :options="bookVariants" 
                                            :custom-label="customerLabel" 
                                            :searchable="true" 
                                            :loading="isLoading" 
                                            @search-change="asyncFind"
                                        >
                                            <template slot="tag" slot-scope="{ option, remove }"><span class="custom__tag"><span>{{ option.name }}</span><span class="custom__remove" @click="remove(option)">❌</span></span></template>
                                            <template slot="clear">
                                            </template><span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                                        </multiselect>
                                    </b-col> 
                                </b-row>
                                <div class="row mt-4">
                                    <div class="col-sm-12">
                                        <b-card>
                                            <table class="table table-hover table-bordered dataTable no-footer table-sm text-center" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Book Name</th>
                                                        <th>Varinat Name</th>
                                                        <th>Price</th>
                                                        <th>Qty</th>
                                                        <th>Sub total </th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr role="row" v-for="(item, idx) in form.itemList" :key="idx">
                                                        <td>{{ item.bookName }}</td>
                                                        <td>{{ item.variantName }}</td>
                                                        <td>{{ item.price }}</td>
                                                        <td>
                                                            <b-form-input type="number" v-model="form.itemList[idx].qty"></b-form-input>
                                                        </td>
                                                        <td>{{ item.price * item.qty }}</td>
                                                        <td><button v-on:click="removeItem(idx)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></td>
                                                    </tr>
                                                </tbody>
                                                <tfoot v-if="form.itemList.length">
                                                    <tr style="text-align: right;">
                                                        <td colspan="4">Total:</td>
                                                        <td>{{ totalAmount }} </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr style="text-align: right;">
                                                        <td colspan="4">Discount:</td>
                                                        <td><b-form-input type="number" class="text-right" v-model="form.discount" placeholder="Enter Discount Amount"></b-form-input> </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr style="text-align: right;">
                                                        <td colspan="4">Grand Total:</td>
                                                        <td>{{ form.discount? totalAmount-form.discount :  totalAmount}} </td>
                                                        <td></td>
                                                    </tr>
                                                    
                                                    <tr v-if="form.orderType == 'return'">
                                                        <td colspan="4" class="text-right">Deduct Amount:</td>
                                                        <td><b-form-input type="number" class="text-right" v-model="form.deduct_amount" placeholder="Enter Deduct Amount"></b-form-input> </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr v-if="form.orderType == 'return'" style="text-align: right;">
                                                        <td colspan="4">Return Amount:</td>
                                                        <td>{{ (form.discount? totalAmount-form.discount :  totalAmount) - form.deduct_amount }} </td>
                                                        <td></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <b-card-footer v-if="form.itemList.length">
                                                <b-button class="pull-right" v-on:click="UpdateOrder" variant='success'>Save Order</b-button>
                                            </b-card-footer>
                                        </b-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        data() {
            return {
                form:{
                    customer_id: '',
                    discount: 0,
                    itemList :[],
                    orderType: 'edit',
                    deduct_amount: 0
                },
                customer:{
                    name: '',
                    address:'',
                    area_id:null
                },
                bookVariants:[],
                trackIndex:null,
                variantIds: '',
                selectedBookVariant: '',
                isLoading: false,

            }
        },
        
        mounted() {
            this.editOrder()
        },
        methods: {
            editOrder(){
                this.$axios.get("/orders/"+this.$route.params.orderId+'/edit')
                    .then((response) => {
                        this.form = {
                            ...this.form,
                            ...response.data.data
                        }
                    })
                    .catch( (error) => {
                        // console.log(error.response)
                        this.$toast.error("Sorry Operation failed");
                    })
            },
            
            UpdateOrder(){
                if(this.form.itemList.length){
                    this.$axios.patch("/orders/"+this.$route.params.orderId, this.form)
                        .then((response) => {
                            if(response.data.status == 'error'){
                                this.$toast.error(response.data.message);
                            }else{
                                this.$toast.success("Order Successfully Updated")
                                this.$router.push('/orders')
                            }
                        })
                        .catch( (error) => {
                            // console.log(error.response)
                            this.$toast.error("Sorry Operation failed");
                        })
                }else{
                    this.$toast.error("Please select minimum item");
                }
            },


            customerLabel(customerLabel){
               return customerLabel.book.title_en +' - '+  customerLabel.variant_info.name_en
            },
            
            asyncFind (query) {
                if(query){
                    this.isLoading = true   
                    this.$axios.get("/book-variants", {params:{title: query, except: this.variantIds}})
                    .then(response => {
                        this.bookVariants = response.data.data.bookVariants 
                        this.isLoading = false
                    })  
                    .catch(error => {
                        this.isLoading = false
                        console.log(error)
                    })
                }else{
                    this.bookVariants = []
                }
                
            },
            removeItem(index){
                this.$swal({
                    title: 'Are you sure?',
                    text: "Do You Want To Delete This ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: ' Yes '
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var self = this;
                            this.form.itemList.splice(index, 1);
                        }
                    })
            },
            
        },
        computed:{
            totalAmount(){
                let total = 0
                if(this.form.itemList.length){
                    this.form.itemList.map(item => {
                        total += (item.price * item.qty)
                    })
                }
                return total;
            },
             validationErrors() {
                return this.$store.getters['commonStore/validationErrors'];
            },
            serverError() {
                return this.$store.getters['commonStore/serverError'];
            }
        },
        watch:{
            selectedBookVariant: function(newValue){
                if(newValue){
                    this.selectedBookVariant = ''
                    let newItem = {
                        varinatId: newValue.id,
                        bookName: newValue.book.title_en,
                        variantName: newValue.variant_info.name_en,
                        price: newValue.price,
                        qty: 1,
                    }
                    this.form.itemList.push(newItem)
                }
            },
            
            'form.itemList': function(){
                if(this.form.itemList.length){
                    this.variantIds = []
                    this.form.itemList.map(item =>{
                        this.variantIds.push(item.varinatId) 
                    })
                }
                else{
                    this.variantIds = ''
                }
                
            }
            
        },
        
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
