<template lang="html">
    <section class="ps-page--my-account">
        <bread-crumb :breadcrumb="breadCrumb" />
        <OrderList />
    </section>
</template>
<script>
import BreadCrumb from '~/components/elements/BreadCrumb';
import OrderList from '~/components/partials/account/OrderList';
import HeaderMobile from '~/components/shared/mobile/HeaderMobile';

export default {
    middleware: 'auth',
    transition: 'zoom',
    components: {
        HeaderMobile,
        OrderList,
        BreadCrumb
    },
    data: () => {
        return {
            breadCrumb: [
                {
                    text: 'Order',
                    url: '/'
                },
                {
                    text: 'Order List'
                }
            ]
        };
    }
};
</script>

<style lang="scss" scoped></style>
