<template lang="html">
    <section class="ps-page--my-account">
        <bread-crumb :breadcrumb="breadCrumb" />
        <div class="ps-my-account">
            <div class="container">
                <div class="ps-form--register">
                    <ul class="ps-tab-list">
                        <li>
                            <nuxt-link to="/account/login">
                                Login
                            </nuxt-link>
                        </li>
                        <li class="active">
                            <nuxt-link to="/account/register">
                                Register
                            </nuxt-link>
                        </li>
                    </ul>
                    <div class="ps-tab active">
                        <register />
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import BreadCrumb from '~/components/elements/BreadCrumb';
import Login from '~/components/partials/account/Login';
import Register from '~/components/partials/account/Register';
import HeaderMobile from '~/components/shared/mobile/HeaderMobile';

export default {
    auth: 'guest',
    transition: 'zoom',
    components: {
        HeaderMobile,
        Register,
        Login,
        BreadCrumb
    },
    data: () => {
        return {
            breadCrumb: [
                {
                    text: 'Home',
                    url: '/'
                },
                {
                    text: 'Register'
                }
            ]
        };
    }
};
</script>

<style lang="scss" scoped>
.ps-tab-list {
    padding-left: 0;
}
</style>
