<template lang="html">
    <section class="ps-page--my-account">
        <bread-crumb :breadcrumb="breadCrumb" />
        <shopping-cart />
    </section>
</template>

<script>
import BreadCrumb from "~/components/elements/BreadCrumb";
import EditAddress from "~/components/partials/account/EditAddress";
import Checkout from "~/components/partials/account/Checkout";
import ShoppingCart from "~/components/partials/account/ShoppingCart";

export default {
  transition: "zoom",
  components: {
    ShoppingCart,
    Checkout,
    EditAddress,
    BreadCrumb
  },
  data: () => {
    return {
      breadCrumb: [
        {
          text: "Home",
          url: "/"
        },
        {
          text: "Shopping Cart"
        }
      ]
    };
  },
  created() {
    // this.loadCartProducts();
  },
  methods: {
    async loadCartProducts() {
      const cookieCart = this.$cookies.get("cart", { parseJSON: true });
      let queries = [];

      cookieCart.cartItems.forEach(item => {
        queries.push(item);
      });
      if (this.cartItems.length >= 0) {
        if (this.$store.state.auth.loggedIn) {
          var response = await this.$axios.post(
            "/cart-authenticate-info-operation",
            {
              cart: queries
            }
          );
        } else {
          var response = await this.$axios.post("/cart-info-operation", {
            cart: queries
          });
        }
        await this.$store.dispatch(
          "cart/addProductToCart",
          response.data.data.cart
        );
        await this.$store.dispatch(
          "product/saveCartProductList",
          response.data.data.products
        );
        await this.$store.dispatch("cart/calculateAmount", this.cartProducts);
        if (response) {
          this.$store.commit("cart/setLoading", false);
        }
      } else {
        this.$store.commit("product/setCartProducts", null);
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
