<template lang="html">
    <section class="ps-page--my-account">
        <bread-crumb :breadcrumb="breadCrumb" />
        <div class="ps-checkout ps-section--shopping">
        <div class="container">
            <div class="ps-section__header">
                <h1>Thank you for your order. ID# {{ $route.params.orderId }}</h1>
            </div>
            <div class="row">
                Thank you. Your order has been received.
                <br>
               <p>Pay with cash upon delivery.</p>
            </div>
            <h1>Order details</h1>
            <template v-if="order">
                <table class="table ps-table--responsive ps-table--shopping-cart">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(orderDetail, index) in order.order_details" :key="index">
                            <td data-label="Product">
                                <product-shopping-cart :product="orderDetail.variant" />
                            </td>
                            <td data-label="Price" class="price">৳ {{ orderDetail.price }}</td>
                            <td data-label="Quantity">{{ orderDetail.qty }}</td>
                            <td data-label="Total">
                                ৳ {{(orderDetail.price*orderDetail.qty).toFixed(2) }}
                            </td>
                        </tr>
                        <tr>
                            <td style="float: right;">Total: </td>
                            <td colspan="3">৳ {{ subTotal.toFixed(2) }}</td>
                        </tr>
                    </tbody>
                </table>
            </template>
            <hr>
            <div class="card">
                <div class="card-header">Customer Details</div>
                <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    <p><strong>Customer Name </strong><br>{{ order.customer_details? order.customer_details.name : '' }} </p>
                                    <p><strong>Address</strong> <br>{{ order.customer_details? order.customer_details.address : '' }}</p>
                                </td>
                                <td>
                                    <p><strong>Payment Methods:</strong><br>Cash On Delivery </p>
                                    <p><strong>Shipping</strong><br>Free Shipping</p>
                                </td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
    </section>
</template>
<script>
import BreadCrumb from '~/components/elements/BreadCrumb';
import ProductShoppingCart from '~/components/elements/product/ProductShoppingCart';
export default {
    middleware: 'auth',
    components: {
        BreadCrumb,
        ProductShoppingCart
    },
    transition: 'zoom',
    data: () => {
        return {    
            order:'',
            breadCrumb: [
                {
                    text: 'Home',
                    url: '/'
                },
                {
                    text: 'Shopping Cart',
                    url: '/account/shopping-cart'
                },
                {
                    text: 'Order Complete'
                }
            ]
        };
    },

    mounted(){
        this.getOrder()
    },

    methods:{
        async getOrder(){
            var response = await this.$axios.get("/orders/"+this.$route.params.orderId)
            try {
                console.log(response.data)
                this.order = response.data.data.orders
            } catch (error) {
                this.$notify({
                    group: 'addCartError',
                    title: 'Error!',
                    text: `Soory, Operation Failed`
                });
            }
        },
    },

    computed: {
        subTotal() {
            return this.order.order_details.reduce((total, item) => {
                return total + parseFloat(item.price*item.qty);
            }, 0);
        },

    },
};
</script>

<style lang="scss" scoped></style>
