<template lang="html">
    <section class="ps-page--my-account">
        <bread-crumb :breadcrumb="breadCrumb" />
        <checkout />
    </section>
</template>
<script>
import BreadCrumb from "~/components/elements/BreadCrumb";
import EditAddress from "~/components/partials/account/EditAddress";
import Checkout from "~/components/partials/account/Checkout";
import { mapState } from "vuex";
export default {
  middleware: "auth",
  components: {
    Checkout,
    EditAddress,
    BreadCrumb
  },
  transition: "zoom",
  data: () => {
    return {
      breadCrumb: [
        {
          text: "Home",
          url: "/"
        },
        {
          text: "Shopping Cart",
          url: "/account/shopping-cart"
        },
        {
          text: "Checkout Information"
        }
      ]
    };
  },
  computed: {
    ...mapState({
      total: state => state.cart.total,
      cartItems: state => state.cart.cartItems,
      cartProducts: state => state.product.cartProducts,
      currency: state => state.app.currency
    })
  },
  mounted() {
    this.loadCartProducts();
  },
  methods: {
    async loadCartProducts() {
      const cookieCart = this.$cookies.get("cart", { parseJSON: true });
      let queries = [];

      cookieCart.cartItems.forEach(item => {
        queries.push(item);
      });
      if (this.cartItems.length >= 0) {
        if (this.$store.state.auth.loggedIn) {
          var response = await this.$axios.post(
            "/cart-authenticate-info-operation",
            {
              cart: queries
            }
          );
        } else {
          var response = await this.$axios.post("/cart-info-operation", {
            cart: queries
          });
        }
        await this.$store.dispatch(
          "cart/addProductToCart",
          response.data.data.cart
        );
        await this.$store.dispatch(
          "product/saveCartProductList",
          response.data.data.products
        );
        await this.$store.dispatch("cart/calculateAmount", this.cartProducts);
        if (response) {
          this.$store.commit("cart/setLoading", false);
        }
      } else {
        this.$store.commit("product/setCartProducts", null);
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
