<template lang="html">
    <client-only>
        <div class="ps-product__thumbnail " data-vertical="true">
            <figure>
                <div class="ps-wrapper">
                    <!-- Gallery-->
                    <div class="ps-product__gallery">
                        <div
                            class=" ps-carousel inside swiper"
                            v-swiper:swiperGallery="swiperOptionTop"
                            ref="mySwiper"
                        >
                            <div class="swiper-wrapper">
                                <!-- <div
                                    class="swiper-slide"
                                    v-for="image in product.images"
                                >
                                    <img :src="`${baseURL}${image.url}`" />
                                </div> -->
                                
                                <img
                                    v-if="product.image"
                                   :src="`${$config.remoteBaseUrl}/uploads/books/${product.image}`"
                                />
                                <img
                                    v-else
                                    src="~/static/img/products/dummy/5.png"
                                />
                            </div>
                            <div class="swiper-nav">
                                <span class="swiper-arrow swiper-prev">
                                    <i class="icon-chevron-left"></i>
                                </span>
                                <div class="swiper-arrow swiper-next">
                                    <i class="icon-chevron-right"></i>
                                </div>
                            </div>
                            <div
                                class="swiper-pagination swiper-pagination-bullets"
                            ></div>
                        </div>
                    </div>
                </div>
            </figure>
            <!--Variants-->
            <div class="ps-product__variants">
                <div
                    class="ps-carousel swiper"
                    v-swiper:swiperVariants="swiperOptionThumbs"
                >
                    <div class="swiper-wrapper">
                        <!-- <div
                            v-for="(image, index) in product.images"
                            :class="
                                `swiper-slide ${
                                    activeSlide === index ? 'active' : ''
                                } `
                            "
                            @click="handleClickSlide(index)"
                        >
                        </div> -->
                            <img
                                v-if="product.image"
                               :src="`${$config.remoteBaseUrl}/uploads/books/${product.image}`"
                            />
                            <img
                                v-else
                                src="~/static/img/products/dummy/5.png"
                            />
                           <!-- <img  :src="`${$config.remoteBaseUrl}/uploads/books/${product.image}`" /> -->
                    </div>
                </div>
            </div>
        </div>
    </client-only>
</template>

<script>
import { mapState } from 'vuex';
import { baseUrl,baseUrlPublic } from '~/repositories/Repository';

export default {
    name: 'ThumbnailDefault',
    computed: {
        ...mapState({
            product: state => state.product.product,
            baseURL() {
                return baseUrl;
            },
            baseUrlPublic() {
                return baseUrlPublic;
            },
        })
    },
    data() {
        return {
            swiperOptionTop: {
                loop: false,
                slidesPerView: 1,
                navigation: {
                    nextEl: '.swiper-next',
                    prevEl: '.swiper-prev'
                }
            },
            swiperOptionThumbs: {
                direction: 'vertical',
                loop: false,
                spaceBetween: 10,
                slidesPerView: 3,
                centeredSlides: false,
                slideToClickedSlide: false
            },
            activeSlide: 0
        };
    },
    methods: {
        handleClickSlide(index) {
            this.activeSlide = index;
            this.swiperVariants.activeIndex = index;
            this.swiperGallery.slideTo(index, 500, false);
        }
    }
};
</script>

<style lang="scss" scoped></style>
