<template lang="html">
    <div id="shop-widgets">
        <aside class="widget widget_shop" v-if="categories != undefined && categories">
            <h4 class="widget-title">
                {{ $t('shop.widget.categories') }}
            </h4>
            <!-- <ul>
                <li class="item-has-children">
                    <a href="#0" v-on:click = "click" >Main Item One</a>
                    <ul class="sub-menu1 ">
                        <li><a href="#0">Sub Item One</a></li>
                        <li><a href="#0">Sub Item Two</a></li>
                        <li><a href="#0">Sub Item Three</a></li>
                        <li><a href="#0">Sub Item Four</a></li>
                        <li><a href="#0">Sub Item Five</a></li>
                        <li><a href="#0">Sub Item Six</a></li>
                    </ul>
                </li>
                <li class="item-has-children">
                    <a href="#0">Main Item Two</a>
                    <ul class="sub-menu1 selected">
                        <li><a href="#0">Sub Item One</a></li>
                        <li><a href="#0">Sub Item Two</a></li>
                        <li><a href="#0">Sub Item Three</a></li>
                        <li><a href="#0">Sub Item Four</a></li>
                        <li><a href="#0">Sub Item Five</a></li>
                        <li><a href="#0">Sub Item Six</a></li>
                    </ul>
                </li>
            </ul> -->
            <v-list class="menu--mobile">
                <template v-for="menuItem in categories">
                    <!-- <v-list-group v-if="menuItem.child.length <1 " >
                        <template v-slot:activator>
                            <v-list-item-content>
                                <nuxt-link
                                    :to="menuItem.slug"
                                >
                                    {{ menuItem.name_en }}
                                </nuxt-link>
                            </v-list-item-content>
                        </template>
                    </v-list-group> -->
                    <v-list-group v-if="menuItem.child.length > 0 " no-action>
                        <template v-slot:activator>
                            <v-list-item-content>
                                <a @click="handleGotoCategory(menuItem.slug)">
                                    {{ menuItem.name_en }}
                                </a>
                            </v-list-item-content>
                        </template>
                        <v-list>
                            <template v-for="megaItem in menuItem.child">
                                <v-list-group no-action>
                                    <template v-slot:activator>
                                        <v-list-item>
                                            <v-list-item-content>
                                                <a  @click="handleGotoCategory(megaItem.slug)">
                                                    {{ megaItem.name_en }}
                                                </a>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </template>
                                    <!-- <v-list>
                                        <template v-for="menuItem1 in megaItem.megaItems">
                                            <v-list-item v-if="!menuItem1.subMenu">
                                                <v-list-item-content>
                                                    <nuxt-link :to="menuItem1.url">
                                                        {{ menuItem1.text }}
                                                    </nuxt-link>
                                                </v-list-item-content>
                                            </v-list-item>
                                            <v-list-group v-else no-action>
                                                <template v-slot:activator>
                                                    <v-list-item-content>
                                                        <nuxt-link :to="menuItem1.url">
                                                            {{ menuItem1.text }}
                                                        </nuxt-link>
                                                    </v-list-item-content>
                                                </template>
                                            </v-list-group>
                                        </template>
                                    </v-list> -->
                                </v-list-group>
                            </template>
                        </v-list>
                    </v-list-group>
                    <v-list-item v-else>
                        <v-list-item-content>
                            <a  @click="handleGotoCategory(menuItem.slug)" >
                                {{ menuItem.name_en }}
                            </a>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </aside>
        <aside class="widget widget_shop">
            <!-- <h4 class="widget-title">
                {{ $t('shop.widget.byBrands') }}
            </h4>
            <figure>
                <v-checkbox
                    v-for="brand in brands"
                    v-model="selectedBrands"
                    :value="brand.slug"
                    :label="brand.name"
                    :key="brand.id"
                    @click="handleFilterByBrand"
                />
            </figure> -->
            <figure>
                <h4 class="widget-title">
                    <!-- {{ $t('shop.widget.byBrands') }} -->
                    Filter Price Range
                </h4>
                <v-range-slider
                    v-model="priceRange"
                    color="warning"
                    min="0"
                    max="1500"
                    track-color="#dddddd"
                    @end="handleFilterByPriceRagne"
                />
                <p>
                    Price: ${{ priceRange[0].toFixed(2) }} - ${{
                        priceRange[1].toFixed(2)
                    }}
                </p>
            </figure>
        </aside>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import { getColletionBySlug } from '~/utilities/product-helper';
import { serializeQuery } from '~/repositories/Repository';
import MobileSubmenu from '~/components/shared/mobile/modules/MobileSubmenu';

export default {
    name: 'ShopWidget',
    component:{MobileSubmenu},
    computed: {
        ...mapState({
            categories: state => state.product.categories,
            brands: state => state.product.brands,
            products: state => state.product.products
        }),
        categorySlugInfo() {
            return this.$route;
        },
        menu() {
            var jsonMenu = [
                {
                    "text": "Home",
                    "url": "/",
                    // "extraClass": "menu-item-has-children",
                    // "subClass": "sub-menu",
                    // "subMenu": [
                    // {
                    //     "text": "Marketplace Full Width",
                    //     "url": "/"
                    // },
                    // {
                    //     "text": "Home Marketplace V1",
                    //     "url": "/home/market-place"
                    // },
                    // {
                    //     "text": "Home Marketplace V2",
                    //     "url": "/home/market-place-2"
                    // },
                    // {
                    //     "text": "Home Marketplace V3",
                    //     "url": "/home/market-place-4"
                    // }
                    // ]
                },
                {
                    "text": "Shop",
                    "url": "/shop",
                    "extraClass": "menu-item-has-children has-mega-menu",
                    "subClass": "sub-menu",
                    "mega": "true",
                    "megaContent": [
                    {
                        "heading": "Catalog Pages",
                        "megaItems": [
                        {
                            "text": "Shop Default",
                            "url": "/shop"
                        },
                        {
                            "text": "Shop Fullwidth",
                            "url": "/shop/shop-fullwidth"
                        },
                        {
                            "text": "Shop Sidebar",
                            "url": "/shop/shop-sidebar"
                        },
                        {
                            "text": "Shop Without Banner",
                            "url": "/shop/shop-sidebar-without-banner"
                        },
                        {
                            "text": "Shop Carousel",
                            "url": "/shop/shop-carousel"
                        }
                        ]
                    },
                    {
                        "heading": "Product Layout",
                        "megaItems": [
                        {
                            "text": "Default",
                            "url": "/product/1"
                        },
                        {
                            "text": "Extended",
                            "url": "/product/extended"
                        },
                        {
                            "text": "Full Content",
                            "url": "/product/full-content"
                        },
                        {
                            "text": "Sidebar",
                            "url": "/product/sidebar"
                        },
                        {
                            "text": "Fullwidth",
                            "url": "/product/1"
                        }
                        ]
                    },
                    {
                        "heading": "Product Types",
                        "megaItems": [
                        {
                            "text": "Simple",
                            "url": "/product/3"
                        },
                        {
                            "text": "Countdown",
                            "url": "/product/countdown"
                        },
                        {
                            "text": "Affiliate",
                            "url": "/product/affiliate"
                        },
                        {
                            "text": "On sale",
                            "url": "/product/on-sale"
                        },
                        {
                            "text": "Grouped",
                            "url": "/product/groupped"
                        },
                        {
                            "text": "Out Of Stock",
                            "url": "/product/out-of-stock"
                        }
                        ]
                    },
                    {
                        "heading": "Ecomerce Pages",
                        "megaItems": [
                        {
                            "text": "Shopping Cart",
                            "url": "/account/shopping-cart"
                        },
                        {
                            "text": "Checkout",
                            "url": "/account/checkout"
                        },
                        {
                            "text": "Whishlist",
                            "url": "/account/wishlist"
                        },
                        {
                            "text": "Compare",
                            "url": "/account/compare"
                        },
                        {
                            "text": "Order Tracking",
                            "url": "/account/order-tracking"
                        },
                        {
                            "text": "My Account",
                            "url": "/account/login"
                        },
                        {
                            "text": "Login / Register",
                            "url": "/account/login"
                        }
                        ]
                    }
                    ]
                },
                {
                    "text": "Pages",
                    "url": "",
                    "extraClass": "menu-item-has-children has-mega-menu",
                    "subClass": "sub-menu",
                    "mega": "true",
                    "megaContent": [
                    {
                        "heading": "Basic Page",
                        "megaItems": [
                        {
                            "text": "About Us",
                            "url": "/page/about-us"
                        },
                        {
                            "text": "Contact",
                            "url": "/page/contact-us"
                        },
                        {
                            "text": "Faqs",
                            "url": "/page/faqs"
                        },
                        {
                            "text": "404 Page",
                            "url": "/page/page-404"
                        }
                        ]
                    },
                    {
                        "heading": "Vendor Pages",
                        "megaItems": [
                        {
                            "text": "Become a Vendor",
                            "url": "/vendor/become-a-vendor"
                        },
                        {
                            "text": "Vendor Store",
                            "url": "/vendor/vendor-store"
                        },
                        {
                            "text": "Store List",
                            "url": "/vendor/store-list"
                        },
                        {
                            "text": "Store List 2",
                            "url": "/vendor/store-list-2"
                        }
                        ]
                    }
                    ]
                },
                {
                    "text": "Blogs",
                    "url": "/blog",
                    "current": "shop",
                    "extraClass": "menu-item-has-children has-mega-menu",
                    "subClass": "sub-menu",
                    "mega": "true",
                    "megaContent": [
                        {
                            "heading": "Blog Layout",
                            "megaItems": [
                            {
                                "text": "Grid",
                                "url": "/blog"
                            },
                            {
                                "text": "Listing",
                                "url": "/blog/blog-list"
                            },
                            {
                                "text": "Small Thumb",
                                "url": "/blog/blog-small-thumbnail"
                            },
                            {
                                "text": "Left Sidebar",
                                "url": "/blog/blog-left-sidebar"
                            },
                            {
                                "text": "Right Sidebar",
                                "url": "/blog/blog-right-sidebar"
                            }
                            ]
                        },
                        {
                            "heading": "Single Blog",
                            "megaItems": [
                            {
                                "text": "Single 1",
                                "url": "/post/default"
                            },
                            {
                                "text": "Single 2",
                                "url": "/post/detail-2"
                            },
                            {
                                "text": "Single 3",
                                "url": "/post/detail-3"
                            },
                            {
                                "text": "Single 4",
                                "url": "/post/default"
                            }
                            ]
                        }
                    ]
                }
            ];
            return jsonMenu;
        }
    },
    mounted() {
       
    },
    data() {
        return {
            priceRange: [100, 1000],
            selectedBrands: []
        };
    },
    methods: {

        click(){
                console.log("sdfsd")
                var allHasChildren = document.querySelectorAll(".item-has-children a");
                for (var x = 0; x < allHasChildren.length; x++) {
                    allHasChildren[x].onclick = function() {
                        // get the first submenu and toggle using classes
                        var subMenu = this.parentNode.getElementsByClassName("sub-menu")[0];
                        if (subMenu.classList.contains('selected')) {
                            subMenu.classList.remove("selected");
                        } else {
                            subMenu.classList.add("selected");
                        }
                    }
                }
        },
        async handleGotoCategory(slug) {
            console.log(slug)
             await this.$store.dispatch(
                'product/getProducCategoryWise',slug
            );
            // console.log(slug);
            // if (slug) {
            //     const url = `/shop/${slug}`;
            //     const products = getColletionBySlug(this.categories, slug);
                // this.$store.commit('product/setProducts', products);
                // this.$store.commit('product/setProducts', products);
                // this.$store.commit('product/setTotal', products.length);
                // this.$store.commit('collection/setQueries', [slug]);
                // this.$router.push(url);
            // } else {
            //     const url = `/shop`;
            //     this.$router.push(url);
            // }
        },

        async handleFilterByBrand() {
            if (this.selectedBrands) {
                await this.$store.commit(
                    'collection/setQueries',
                    this.selectedBrands
                );

                await this.$store.dispatch(
                    'product/getProductsByBrands',
                    this.selectedBrands
                );
            } else {
                const params = {
                    _start: 1,
                    _limit: 12
                };
                await this.$store.commit('collection/setQueries', null);
                await this.$store.dispatch('product/getTotalRecords', params);
                await this.$store.dispatch('product/getProducts', params);
            }
        },

        async handleFilterByPriceRagne() {
            const params = {
                price_gt: this.priceRange[0],
                price_lt: this.priceRange[1],
                _start: 1,
                _limit: 999
            };
            console.log(params);
            // console.log(this.priceRange);
            await this.$store.dispatch(
                'product/getProductsByPriceRange',
                params
            );
            // await this.$router.push(`/search?${serializeQuery(params)}`);
        }
    }
};
</script>

<style lang="scss" scoped></style>
