<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Customer Create </h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Customer</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <PackageCreateEditForm
                    v-on:mounted="initEditData"
                    v-on:form-submit="updateData"
                    ref="editForm"
                />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        data() {
            return {
                
            }
        },
        methods: {
            initCreateData(){},
            updateData(form){
                this.$axios.patch( '/packages/'+this.$route.params.packageId, form)
                    .then((response) => {
                        console.log(response);
                        this.$toast.success("Updated Successfully");
                        this.$router.push('/packages')
                    })
                    .catch( (e) => {
                        this.$toast.error();(e.message);
                    });
            },
            initEditData(){
                this.$refs.editForm.initEditData()
            }
        },
        
        created() {}
    }
</script>
