.sale-button-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}

.button-buy {
  display: none;
}
.ps-product:hover .button-buy {
  display: block;
  font-size: 1.5rem;
  height: calc(2.875rem + 2px);
  line-height: 1.25;
  padding: 0.375rem 1rem;
  font-weight: 500;
  width: 100%;
}
