<template lang="html">
    <div class="ps-home-banner ps-home-banner--1">
        <div class="ps-container">
            <div class="ps-section__left">
                <div class="ps-carousel" v-if="sliders.length" v-swiper:mySwiper="swiperOption">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(slider, index) in sliders" :key="index">
                            <div
                                class="ps-banner"
                                :style="{
                                    backgroundImage: `url(${baseUrlPublic}uploads/pages/${slider.photo})`
                                }"
                            ></div>
                        </div>
                    </div>
                    <!--Carousel controls-->
                    <div class="swiper-nav">
                        <span class="swiper-arrow swiper-prev"
                            ><i class="icon-chevron-left"></i
                        ></span>
                        <div class="swiper-arrow swiper-next">
                            <i class="icon-chevron-right"></i>
                        </div>
                    </div>
                    <div
                        class="swiper-pagination swiper-pagination-bullets"
                    ></div>
                </div>
                <img
                    v-else  
                    src="/img/slider/no-banner.jpg"
                />
            </div>
            <div class="ps-section__right" v-if="ads.length">
                <nuxt-link to="/shop" class="ps-collection" v-for="(item, index) in ads" :key="index">
                    <img
                        :src="`${baseUrlPublic}uploads/pages/${item.photo}`"
                        :alt="item.title"
                    />
                </nuxt-link>
            </div>
            <div class="ps-section__right" v-else>
                <nuxt-link to="/shop" class="ps-collection">
                    <img
                        src="/img/slider/no-ads-blocker-ss-1920.jpg"
                        alt="martfury"
                    />
                </nuxt-link>
                <nuxt-link to="/shop" class="ps-collection">
                    <img
                        src="/img/slider/no-ads-blocker-ss-1920.jpg"
                        alt="martfury"
                    />
                </nuxt-link>
            </div>
            
        </div>
    </div>
</template>

<script>
import { baseUrlPublic } from "~/repositories/Repository";
export default {
    name: 'HomeBanner',
    data() {
        return {
            siteUrl: process.env.siteUrl,
            swiperOption: {
                loop: true,
                slidesPerView: 1,
                spaceBetween: 1,
                navigation: {
                    nextEl: '.swiper-next',
                    prevEl: '.swiper-prev'
                }
            },
            sliders: [],
            ads: [],

        }
    },
    mounted(){
        this.getSlider();
    },
    computed:{
        baseUrlPublic() {
          return baseUrlPublic;
        },
    },
    methods:{
        async getSlider(){
            var response = await this.$axios.get("/pages", {params: {
                for: 'slider'
            }});
            try {
                this.sliders = response.data.data.pages;
            } catch (e) {
                this.sliders = [];
            }
        },

        async getAds(){
            var response = await this.$axios.get("/pages", {params: {
                for: 'ads',
                limit: 2
            }});
            try {
                this.ads = response.data.data.pages;
            } catch (e) {
                this.ads = [];
            }
        },
    }
};
</script>

<style lang="scss" scoped></style>
