<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Books Discount List</h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Books Discount</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <div class="row mb-3">
                                    <div class="col-md-12 table-topper-row">
                                        <div class="col-md-2">
                                            <b-form-select 
                                                v-model="discount.discount_type"
                                                v-bind:class="{'is-invalid': validationErrors.discount_type}"
                                            >
                                                <b-form-select-option 
                                                    :value="null" 
                                                >Select Type
                                                </b-form-select-option>
                                                <b-form-select-option value="fixed">Fixd</b-form-select-option>
                                                <b-form-select-option value="percantage">Percantage</b-form-select-option>
                                            </b-form-select>
                                        </div>
                                        <div class="col-md-2">
                                            <b-form-input
                                                type="number"
                                                placeholder="Discount Value" 
                                                v-model="discount.discount_value"
                                                v-bind:class="{'is-invalid': validationErrors.discount_value}"
                                            ></b-form-input>
                                        </div>
                                        <b-button variant="primary" v-on:click="saveVariantDiscount" class="col-md-2"><i class="icon fa fa-plus"></i> Create</b-button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <input type="text" 
                                                    class="form-control" 
                                                    placeholder="Enter Book Title"
                                                    v-model="params.title"
                                                >
                                            </div>
                                            <div class="col-md-2">
                                                <b-form-select 
                                                    v-model="params.author_id"
                                                    v-on:change="getBookVariants"
                                                >
                                                    <b-form-select-option :value="null">Select Author</b-form-select-option>
                                                    <b-form-select-option 
                                                        v-for="(author,index) in authors" 
                                                        :key="index" 
                                                        :value="author.id"
                                                    >{{ author.name_en }}</b-form-select-option>
                                                </b-form-select>
                                            </div>
                                            <div class="col-md-2">
                                                <b-form-select 
                                                    v-model="params.publisher_id"
                                                    v-on:change="getBookVariants"
                                                >
                                                    <b-form-select-option :value="null">Select Publisher</b-form-select-option>
                                                    <b-form-select-option 
                                                        v-for="(punlisher,index) in punlishers" 
                                                        :key="index" 
                                                        :value="punlisher.id"
                                                    >{{ punlisher.name_en }}</b-form-select-option>
                                                </b-form-select>
                                            </div>
                                            <div class="col-md-2">
                                                <b-form-select 
                                                    v-model="params.editor_id"
                                                    v-on:change="getBookVariants"
                                                >
                                                    <b-form-select-option :value="null">Select Editor</b-form-select-option>
                                                    <b-form-select-option 
                                                        v-for="(editor,index) in editors" 
                                                        :key="index" 
                                                        :value="editor.id"
                                                    >{{ editor.name_en }}</b-form-select-option>
                                                </b-form-select>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="col-sm-12">
                                        <table class="table table-hover table-bordered dataTable no-footer table-sm text-center" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                            <thead>
                                                <tr role="row">
                                                    <td class="">
                                                        <input type="checkbox" v-model="selectAll">
                                                    </td>
                                                    <th>Title</th>
                                                    <th>Variant Name</th>
                                                    <th>Price</th>
                                                    <th>Discount Type</th>
                                                    <th>Discount Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row" v-for="(item, idx) in itemList" :key="idx">
                                                    <td class="">
                                                        <input type="checkbox" :value="item.id" v-model="discount.checkItems">
                                                    </td>
                                                    <td>{{item.book.title_en}}

                                                    </td>
                                                    <td>{{item.variant_info.name_en}}</td>
                                                    <td>{{item.price}}</td>
                                                    <td>{{item.discount_type}}</td>
                                                    <td>{{item.discount_value}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        data() {
            return {
                discount:{
                    discount_type:null,
                    discount_value: '',
                    checkItems:[],
                },
                variantTypes:[],
                countries:[],
                authors:[],
                punlishers:[],
                editors:[],
                dropdownList:[],
                trackIndex:null,
                itemList :[],
                
                selectAll: '',
                params:{
                    author_id: null,
                    publisher_id: null,
                    editor_id : null,
                    title: ''

                }
            }
        },
        watch:{
            "params.title":function(newValue){
                this.getBookVariants()
            },
            selectAll: function (isSelected) {
                if (!isSelected) {
                    this.discount.checkItems = []
                    return false
                }
                if (isSelected) {
                    this.itemList.map(item => this.discount.checkItems.push(item.id))
                }
            }
        },
        mounted() {
            this.getBookVariants();
            this.getEditor()
            this.getPublisher()
            this.getAuthor()
        },
        methods: {
            async getBookVariants(){
                var response = await this.$axios.get("/book-variants", {params: this.params});
                try {
                    this.itemList = response.data.data.bookVariants;
                } catch (e) {
                    this.itemList = [];
                }
            },
            saveVariantDiscount(){
                if(this.discount.checkItems.length){
                    this.$axios.post("/save-book-variants-discount", this.discount)
                        .then((response) => {
                            if(response.data.status == 'error'){
                                this.$toast.error(response.data.message);
                            }else{
                                this.$toast.success("Successfully Discount Added")
                                this.getBookVariants()
                            }
                        })
                        .catch( (error) => {
                            // console.log(error.response)
                            this.$toast.error("Sorry Operation failed");
                        })
                }else{
                    this.$toast.error("Please select minimum item");
                }
                
                
            },
            getAuthor(){
                this.$axios.get("/setting-authors")
                .then((response) => {
                    this.authors = response.data.data.author;
                })
                .catch(error => {
                    console.log(error)
                })
            },
            getPublisher(){
                this.$axios.get("/setting-publishers")
                .then((response) => {
                    this.punlishers = response.data.data.publisher;
                })
                .catch(error => {
                    console.log(error)
                })
            },
            getTranslator(){
                this.$axios.get("/setting-translators")
                .then((response) => {
                    this.translators = response.data.data.translator;
                })
                .catch(error => {
                    console.log(error)
                })
            },
            
            getEditor(){
                this.$axios.get("/setting-editors")
                .then((response) => {
                    this.editors = response.data.data.editor;
                })
                .catch(error => {
                    console.log(error)
                })
            },
            
        },
        computed:{
             validationErrors() {
                return this.$store.getters['commonStore/validationErrors'];
            },
            serverError() {
                return this.$store.getters['commonStore/serverError'];
            }
        },
        
    }
</script>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
