<template>
  <div>
      <div class="app-title">
        <div>
            <h1><i class="fa fa-user-plus "></i> User List </h1>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Users</li>
        </ul>
      </div>
    <div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                    <div class="row mb-3">
                        <div class="col-md-12 table-topper-row">
                            <b-button variant="btn btn-primary" @click="create"><i class="fa fa-plus fa-sm" aria-hidden="true"></i> Add New</b-button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered dataTable no-footer table-sm" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                            <thead>
                                <tr role="row">
                                    <th  style="width: 127.6px;">#</th>
                                    <th  style="width: 186.8px;">Name</th>
                                    <th style="width: 304.4px;" >Email</th>
                                    <th  style="width: 132.4px;">Phone</th>
                                    <th style="width: 66.8px;">Level</th>
                                    <th style="width: 66.8px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" v-for="(item, idx) in userList" :key="idx" >
                                    <td class="">{{idx+1}}</td>
                                    <td class="sorting_1">{{item.name}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.userable_type}}</td>
                                    <td>
                                        <div class="btn-group ml-3">
                                            <a class="btn btn-primary" @click="edit(item)" href="#">
                                                <i class="fa fa-lg fa-edit"></i>
                                            </a>
                                            <a class="btn btn-primary" href="#">
                                                <i class="fa fa-lg fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <b-modal
        id="modal-prevent-closing"
        ref="user-modal"
        title="Create New User"
        ok-title="Submit"
        @ok="addEditMode?updateUser:createUser"
    >
        <div slot="modal-title">
            {{addEditMode?'Update User':'Create New User'}}
        </div>

        <form ref="form"  @submit.prevent="addEditMode ? updateUser() : createUser()"  >
            <b-form-group label="Name" label-for="name-input" >
                <b-form-input id="name-input" aria-placeholder="Enter Full Name " v-model="form.name" required ></b-form-input>
            </b-form-group>
            <b-form-group label="Email" label-for="email-input" >
                <b-form-input id="email-input" aria-placeholder="Enter Your Email " type="email" v-model="form.email" required ></b-form-input>
            </b-form-group>
            <b-form-group label="Phone" label-for="phone-input" >
                <b-form-input id="phone-input" aria-placeholder="Enter Your Phone Number "  v-model="form.phone" required ></b-form-input>
            </b-form-group>
            <b-form-group label="Address" label-for="address-input" v-if="!addEditMode" >
                <b-form-textarea id="textarea-input" v-model="form.address" placeholder="Enter Your Address" rows="3" max-rows="6" ></b-form-textarea>
            </b-form-group>
            <b-form-group label="User Type" v-slot="{ ariaType }" v-if="!addEditMode">
                <b-form-radio v-model="form.type" :aria-describedby="ariaType" name="type" value="Customer">Customer</b-form-radio>
                <b-form-radio v-model="form.type" :aria-describedby="ariaType" name="type" value="Driver">Driver</b-form-radio>
            </b-form-group>
            <b-form-group label="Password" label-for="password-input" v-if="!addEditMode" >
                <b-form-input id="password-input" type="password" v-model="form.password" placeholder="Enter Password" required ></b-form-input>
            </b-form-group>
            <b-form-group label="Confirm Password" label-for="cpassword-input" v-if="!addEditMode" >
                <b-form-input id="cpassword-input" type="password" v-model="form.cpassword" placeholder="Re-Type Password" required ></b-form-input>
            </b-form-group>
        </form>
    </b-modal>
</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
 layout: "Dashboard",
 data() {
    return {
        addEditMode: false,
        errors:null,
        alertMessage:null,
        userList :[],
        form:{
            name:'',
            email:'',
            phone:'',
            address:'',
            type:'',
            password:'',
            cpassword:''
        }
    }
},
 methods: {
    
    async getUsers(){
        var response = await this.$axios.get("/user_list");
        try {
            this.userList = response.data.data;
        } catch (e) {
            this.userList = [];
        }
    },
    create(){
        this.$store.commit('commonStore/CLEAR_VALIDATION');
        this.addEditMode = false;
        this.$data.form = { ...this.$options.data.form };
        this.$refs['user-modal'].show()
    },
    createUser(bvModalEvt){
        bvModalEvt.preventDefault();
        this.$axios.post( '/customers', {...this.form})
        .then((response) => {
            this.$toast.success("Your Account  Created Successfully");
            this.getUsers();
            this.$refs['user-modal'].hide()
        })
        .catch( (error) => {
            this.$store.commit("commonStore/VALIDATION_ERROR", error);
            this.$toast.error("Your Account Can Not Created Successfully");
        });
    },
    edit(item){
        console.log(item);
        this.form={...item};
        this.$store.commit('commonStore/CLEAR_VALIDATION');
        this.addEditMode = true;
        this.form = Object.assign(this.form, item);
        this.form = {...item};
        this.$refs['user-modal'].show()
    },
    updateUser(

    ){
    },
    deleteUser(){
        
    },
    
 },
created(){
    this.getUsers();
},
computed: {
    
},

}
</script>

<style scoped>
.table-topper-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
</style>
