<template>
    <li class=" menu-item-has-children has-mega-menu">
        <nuxt-link  :to="`/shop/${menuData.slug}`" >
            {{ menuData.name_en }}
        </nuxt-link>
        <!-- <div class="mega-menu">
            <ul class="mega-menu__list">
                <li v-for="(subItem,index) in menuData.child" :key="index">
                    <nuxt-link :to="`/shop/${subItem.slug}`">
                        {{ subItem.name_en }}
                    </nuxt-link>
                </li>
            </ul>
        </div> -->
    </li>
</template>

<script>
export default {
    name: 'MenuMega',
    props: {
        menuData: {
            type: Object,
            defaut: {}
        }
    }
};
</script>

<style scoped></style>
