<template lang="html">
    <ul :class="className">
        <template v-for="item in mainMenu">
          <li class=" menu-item-has-children dropdown">
            <nuxt-link to="#">
              {{ item.name_en }}
            </nuxt-link>
            <ul v-if="item.subMenu" class="sub-menu">
              <MenuDropdown
                v-for="itemInfo in item.subMenu"
                :menu-data="itemInfo"
                :key="itemInfo.name_en"
                :type-data="item.type"
              />
            </ul>
          </li>
            <!-- <MenuDropdown v-if="item.subMenu" :menu-data="item"  /> -->
            <!-- <MenuMega v-else-if="item.mega" :menu-data="item" />
            <li v-else :key="item.text">
                <nuxt-link :to="localePath(item.url)">
                    {{ item.text }}
                </nuxt-link>
            </li> -->
        </template>
    </ul>
</template>

<script>
import { mapState } from "vuex";
import MenuDropdown from "./MenuDropdown";
import MenuMega from "./MenuMega";
export default {
  name: "MenuDefault",
  components: { MenuMega, MenuDropdown },
  props: {
    className: {
      type: String,
      default: "menu-bottom"
    }
  },
  computed: {
    ...mapState({
      mainMenu: state => state.menu.mainMenu
    })
  },
  created() {},
  methods: {}
};
</script>

<style lang="scss" scoped></style>
