<template>
  <li class="menu-item-has-children dropdown">
    <a @click="passClickMenuInfo(typeData, menuData.id)" to="#">{{ menuData.name_en }}</a>
    <!-- <ul v-if="menuData.subMenu" class="sub-menu">
      <MenuDropdown
        v-for="item in menuData.subMenu"
        :menu-data="item"
        :key="item.name_en"
      />
    </ul>-->
  </li>
</template>

<script>
export default {
  name: "MenuDropdown",
  props: {
    menuData: {
      type: Object,
      defaut: {}
    },
    typeData: {
      type: String
    }
  },
  data: () => {
    return {};
  },
  methods: {
    async passClickMenuInfo(type, id) {
      var query = type + "/" + id;
      await this.$store.dispatch("product/getShopProductList", query);
      this.$router.push({
        path: "/shop",
        query: { name: type, id: id }
      });
    }
  }
};
</script>

<style scoped></style>
