<template lang="html">
    <div class="ps-page--shop" id="shop-sidebar">
        <bread-crumb :breadcrumb="breadCrumb" />
        <div class="container">

            <template v-if="page">
                <b-card>
                    <b-card-header> <h2 align="center">{{ page.title }}</h2></b-card-header>
                    <hr>
                    <b-card-body>
                        <div v-html="page.content"></div>
                    </b-card-body>
                </b-card>
            </template>
            <template v-else>
                <b-alert show variant="danger">Not Content Here</b-alert>
            </template>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import BreadCrumb from '~/components/elements/BreadCrumb';;

export default {
    transition() {
        return 'fadeIn';
    },
    components: {
        BreadCrumb
    },

    mounted(){
        this.getPage()
    },

    data() {
        return {
            page: '',
            breadCrumb: [
                {
                    text: 'Home',
                    url: '/'
                },
                {
                    text: 'Pages'
                }
            ]
        };
    },

    methods:{
        getPage(){
            this.$axios.get('/pages/'+this.$route.params.slug)
                .then((response) => {
                   this.page = response.data.data.page
                })
                .catch( (error) => {
                    this.$toast.error("Operaation Failed");
                });
        }
    }

};
</script>

<style lang="scss" scoped></style>
