<template>
    <div>
        <section class="material-half-bg">
            <div class="cover"></div>
        </section>
        <section class="login-content">
            <div class="logo">
                <h1>E-Nilkhet</h1>
            </div>
            <div class="login-box">
                <form class="login-form" method="post" @submit.prevent="userLogin">
                    <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
                    <div class="form-group has-error">
                        <!-- <b-alert variant="warning" show v-for="(error, index) in errors" :key="index" >{{ error[0] }}</b-alert> -->
                        <label class="control-label">USERNAME</label>
                        <input class="form-control" v-model="login.email" type="text" placeholder="Email Address" autofocus="">
                         <p>{{ $validationError('email') }}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">PASSWORD</label>
                        <input class="form-control" v-model="login.password" type="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="utility">
                        <div class="animated-checkbox">
                            <label>
                            <input type="checkbox"><span class="label-text">Stay Signed in</span>
                            </label>
                        </div>
                        <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Forgot Password ?</a></p>
                        </div>
                    </div>
                    <div class="form-group btn-container">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
                    </div>
                </form>
                <form class="forget-form" action="index.html">
                    <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
                    <div class="form-group">
                        <label class="control-label">EMAIL</label>
                        <input class="form-control" type="text" placeholder="Email">
                    </div>
                    <div class="form-group btn-container">
                        <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
                    </div>
                    <div class="form-group mt-3">
                        <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
                    </div>
                </form>
            </div>
            </section>
    </div>
</template>
<script>
export default {
    layout: "PublicLayout",
    data() {
        return {
            login: {
                email: '',
                password: ''
            },
        }
    },
    methods: {
        async userLogin() {
            try{
              this.$auth
                .login({ data: this.login })
                .then(response=>{
                    window.location.href = "/";
                })
                .catch(error=>{
                    console.log(error)
                });
            }
            catch(error){
              return;
            }
        }
    },
}
</script>
