<template lang="html">
    <div class="ps-product--cart ps-package-product">
        <div class="ps-product__thumbnail">
            <nuxt-link :to="`/product/${product.slug}`">
                <img
                    height="50"
                    v-if="product.image"
                   :src="`${baseUrlPublic}uploads/books/${product.image}`"
                />
                <img
                    v-else
                    height="50"
                    class="ps-product__thumbnail-image"
                    src="~/static/img/products/dummy/5.png"
                />
            </nuxt-link>
        </div>
        <div class="ps-product__content">
            <nuxt-link :to="`/product/${product.slug}`">
                <a class="ps-product__title">{{ product.title_en }}</a>
            </nuxt-link>
        </div>
    </div>
</template>

<script>
import { baseUrlPublic } from '~/repositories/Repository';
export default {
    name: 'ProductShoppingWishList',
    props: {
        product: {
            type: Object,
            default: () => {}
        }
    },
    computed: {
        baseUrlPublic() {
            return baseUrlPublic;
        }
    }
};
</script>

<style lang="scss" scoped></style>
