<template lang="html">
    <div class="ps-product--cart-mobile">
        <div class="ps-product__thumbnail">
            <nuxt-link :to="`/product/${product.book.slug}`">
                <img
                    v-if="product.book.image"
                   :src="`${$config.remoteBaseUrl}/uploads/books/${product.book.image}`"
                />
                <img
                    v-else
                    src="~/static/img/products/dummy/5.png"
                />
            </nuxt-link>
        </div>
        <div class="ps-product__content">
            <a
                class="ps-product__remove"
                href="#"
                @click.prevent="handleRemoveProductFromCart(product)"
            >
                <i class="icon-cross"></i>
            </a>
            <nuxt-link :to="`/product/${product.book.slug}`" class="ps-product__title">
                {{ product.book.title_en }}
            </nuxt-link>
            <p>
                <strong>Book Type: {{product.variant_info.name_en}}</strong>
            </p>
            <small v-if="product.buy_quantity !== null">
                {{ product.buy_quantity }} x  {{ product.buy_price }}
            </small>
        </div>
    </div>
</template>

<script>
import { mapState } from "vuex";
import { baseUrlPublic } from "~/repositories/Repository";
export default {
  name: "ProductMiniCart",
  props: {
    product: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    ...mapState({
      total: state => state.cart.total,
      cartItems: state => state.cart.cartItems,
      cartProducts: state => state.product.cartProducts,
      currency: state => state.app.currency
    }),
    // quantity() {
    //     if (this.cartItems !== null) {
    //         const cartItem = this.cartItems.find(
    //             item => item.id === this.product.id
    //         );
    //         if (cartItem !== undefined) {
    //             return cartItem.quantity;
    //         } else {
    //             return null;
    //         }
    //     } else {
    //         return null;
    //     }
    // },
    baseUrlPublic() {
      return baseUrlPublic;
    }
  },
  methods: {
    async loadCartProducts() {
      const cookieCart = this.$cookies.get("cart", { parseJSON: true });
      let queries = [];

      cookieCart.cartItems.forEach(item => {
        queries.push(item);
      });
      if (this.cartItems.length >= 0) {
        if (this.$store.state.auth.loggedIn) {
          var response = await this.$axios.post(
            "/cart-authenticate-info-operation",
            {
              cart: queries
            }
          );
        } else {
          var response = await this.$axios.post("/cart-info-operation", {
            cart: queries
          });
        }
        await this.$store.dispatch(
          "cart/addProductToCart",
          response.data.data.cart
        );
        await this.$store.dispatch(
          "product/saveCartProductList",
          response.data.data.products
        );
        await this.$store.dispatch("cart/calculateAmount", this.cartProducts);
        if (response) {
          this.$store.commit("cart/setLoading", false);
        }
      } else {
        this.$store.commit("product/setCartProducts", null);
      }
    },
    handleRemoveProductFromCart(product) {
      const cartItem = this.cartItems.find(
        item =>
          item.product_id === product.book_id && item.variant_id === product.id
      );
      this.$store.dispatch("cart/removeProductFromCart", cartItem);
      this.$store.commit("cart/setLoading", true);
      this.loadCartProducts();
    }
  }
};
</script>

<style lang="scss" scoped></style>
