
<template lang="html">
    <div class="ps-product">
        <div class="ps-product__thumbnail">
            <nuxt-link :to="`/product/${product.slug}`">
                <img
                    v-if="product.image"
                    class="ps-product__thumbnail-image"
                   :src="`${baseUrlPublic}uploads/books/${product.image}`"
                />
                <img
                    v-else
                    class="ps-product__thumbnail-image"
                    src="~/static/img/products/dummy/5.png"
                />
            </nuxt-link>
            <div v-if="isSale === true" class="ps-product__badge">sale</div>
            <ul class="ps-product__actions">
                <li>
                    <a
                        to="#"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to cart"
                        @click.prevent="handleAddToCart"
                    >
                        <i class="icon-bag2"></i>
                        <span>Add Cart</span>
                    </a>
                </li>
                <!-- <li>
                    <a
                        to="#"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Quick View"
                        @click.prevent="quickviewDialog = true"
                    >
                        <i class="icon-eye"></i>
                    </a>
                </li>
                <li>
                    <a
                        href="#"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to wishlist"
                        @click.prevent="handleAddItemToWishlist"
                    >
                        <i class="icon-heart"></i>
                    </a>
                </li>
                <li>
                    <a
                        to="#"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Compare"
                        @click.prevent="handleAddItemToCompare"
                    >
                        <i class="icon-chart-bars"></i>
                    </a>
                </li> -->
            </ul>
        </div>
        <div class="ps-product__container">
            <nuxt-link to="/shop" class="ps-product__vendor">
                {{ product.active_variant.variant_info.name_en }}
            </nuxt-link>
            
            <div class="ps-product__content">
                <nuxt-link
                    :to="`/product/${product.slug}`"
                    class="ps-product__title"
                >
                    {{ product.title_en }}
                </nuxt-link>
                <div class="ps-product__rating">
                    <!-- <rating /> -->
                </div>

                <template>
                    <p
                        v-if="product.active_variant.discount_value>0"
                        class="ps-product__price sale"
                    >
                        ৳ {{ product.active_variant.price - product.active_variant.discount_value }}
                        <del class="ml-2">
                            ৳ {{ product.active_variant.price }}
                        </del>
                    </p>
                    <p v-else class="ps-product__price">
                        ৳ {{ product.active_variant.price }}
                    </p>
                </template>
               
            </div>
            
        </div>
        <v-dialog v-model="quickviewDialog" width="1200">
            <div class="ps-dialog">
                <a
                    class="ps-dialog__close"
                    @click.prevent="quickviewDialog = false"
                >
                    <i class="icon icon-cross"></i>
                </a>
                <product-quickview :product="product" />
            </div>
        </v-dialog>
    </div>
</template>
<script>
import { mapState } from "vuex";
import { baseUrlPublic } from "~/repositories/Repository";
import Rating from "../Rating";
import ProductQuickview from "~/components/elements/detail/ProductQuickview";

export default {
  components: { ProductQuickview, Rating },
  props: {
    product: {
      type: Object,
      require: true,
      default: () => {}
    }
  },

  computed: {
    ...mapState({
      user: state => state.auth.user,
      loggedIn: state => state.auth.loggedIn,
      cartItems: state => state.cart.cartItems,
      variant: state => state.variant.variant,
      currency: state => state.app.currency,
      cartProducts: state => state.product.cartProducts
    }),
    baseUrlPublic() {
      return baseUrlPublic;
    },
    isSale() {
      return true;
    }
  },
  mounted() {
    // this.productPriceAndDiscountCalculate();
  },

  data() {
    return {
      productDiscount: 0,
      productRating: 5,
      productModal: false,
      productPreload: true,
      isImageLoaded: false,
      quickviewDialog: false
    };
  },
  methods: {
    async handleAddToCart() {
      const variant = await this.$store.dispatch(
        "variant/setProductVariant",
        this.product.active_variant
      );
      this.productAddInCart();
    },

    async productAddInCart() {
      const cartItemsOnCookie = this.$cookies.get("cart", {
        parseJSON: true
      });
      let item = {
        product_id: this.product.id,
        variant_id: this.variant.id,
        quantity: 1
      };

      let existItem;
      if (cartItemsOnCookie) {
        this.isCookieExistOperation(cartItemsOnCookie.cartItems, item);
      } else {
        var referanceCartNewItem = [];
        referanceCartNewItem.push(item);
        if (this.$store.state.auth.loggedIn) {
          var response = await this.$axios.post(
            "/cart-authenticate-info-operation",
            {
              cart: referanceCartNewItem
            }
          );
        } else {
          var response = await this.$axios.post("/cart-info-operation", {
            cart: referanceCartNewItem
          });
        }
        this.addItemToCart(response.data.data);
      }
    },
    async isCookieExistOperation(cookieItem, currentItem) {
      var existItem = cookieItem.find(
        item =>
          item.product_id === this.product.id &&
          item.variant_id === this.variant.id
      );
      if (existItem !== undefined) {
        if (1 + existItem.quantity > 10) {
          this.$notify({
            group: "addCartSuccess",
            title: "Waring!",
            text: `Can't add more than 10 items`
          });
        } else {
          var referanceCartItem = cookieItem;
          var index = referanceCartItem.findIndex(item => {
            if (
              existItem["product_id"] == item["product_id"] &&
              existItem["variant_id"] == item["variant_id"]
            ) {
              return true;
            }
          });
          referanceCartItem[index].quantity += currentItem.quantity;
          if (this.$store.state.auth.loggedIn) {
            var response = await this.$axios.post(
              "/cart-authenticate-info-operation",
              {
                cart: referanceCartItem
              }
            );
          } else {
            var response = await this.$axios.post("/cart-info-operation", {
              cart: referanceCartItem
            });
          }
          this.addItemToCart(response.data.data);
        }
      } else {
        //call db check cart product method
        var referanceCartNewItem = cookieItem;
        referanceCartNewItem.push(currentItem);
        if (this.$store.state.auth.loggedIn) {
          var response = await this.$axios.post(
            "/cart-authenticate-info-operation",
            {
              cart: referanceCartNewItem
            }
          );
        } else {
          var response = await this.$axios.post("/cart-info-operation", {
            cart: referanceCartNewItem
          });
        }
        this.addItemToCart(response.data.data);
      }
    },

    async addItemToCart(payload) {
      await this.$store.dispatch("cart/addProductToCart", payload.cart);
      await this.getCartProduct(payload.products);
      this.$notify({
        group: "addCartSuccess",
        title: "Success!",
        text: `${this.product.title_en} has been added to your cart!`
      });
    },
    handleAddItemToWishlist() {
      let item = {
        id: this.product.id
      };

      this.$store.dispatch("wishlist/addItemToWishlist", item);
      this.$notify({
        group: "addCartSuccess",
        title: "Add to wishlist!",
        text: `${this.product.title_en} has been added to your wishlist !`
      });
    },

    handleAddItemToCompare() {
      let item = {
        id: this.product.id
      };
      this.$store.dispatch("compare/addItemToCompare", item);
      this.$notify({
        group: "addCartSuccess",
        title: "Add to compare!",
        text: `${this.product.title} has been added to your compare !`
      });
    },

    async getCartProduct(products) {
      await this.$store.dispatch("product/saveCartProductList", products);
      await this.$store.dispatch("cart/calculateAmount", this.cartProducts);

      this.$store.commit("cart/setLoading", false);
    }
  }
};
</script>