<template lang="html">
    <div class="ps-product--cart">
        <div class="ps-product__thumbnail">
            <nuxt-link :to="`/product/${product.book.slug}`">
                <img
                :src="`${$config.remoteBaseUrl}/uploads/books/${product.book.image}`"
                    alt="martfury"
                />
            </nuxt-link>
        </div>
        <div class="ps-product__content">
            <nuxt-link :to="`/product/${product.book.slug}`">
                <a class="ps-product__title">{{ product.book.title_en }}</a>
            </nuxt-link>
        </div>
    </div>
</template>

<script>
import { baseUrlPublic } from '~/repositories/Repository';
export default {
    name: 'ProductShoppingCart',
    props: {
        product: {
            type: Object,
            default: () => {}
        }
    },
    computed: {
        baseUrlPublic() {
            return baseUrlPublic;
        }
    }
};
</script>

<style lang="scss" scoped></style>
