<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Pages Edit </h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Pages</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <PageCreateEditForm 
                    v-on:mounted="initEditData"
                    v-on:form-submit="updateData"
                    ref="editForm"
                />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        
        data() {
            return {
                
            }
        },

        methods: {
            initEditData(){
                this.$refs.editForm.editPage()
            },
            updateData(form){
                this.$axios.patch( '/pages/'+this.$route.params.pageId, form)
                    .then((response) => {
                        this.$toast.success("Updated Successfully");
                        this.$router.push('/pages')
                    })
                    .catch( (error) => {
                        this.$toast.error("Did not Created");
                    });
            },
            
        },
        
        mounted() {
        }
    }
</script>

