<template lang="html">
    <div>
      <div class="content__wrapper--shipping">
        <div class="card">
            <div class="card-header d-flex justify-content-start align-items-center">
              <h3 class="card-title mb-0">Shipping Address</h3>
              <p class="card-subtitle">(Please select only one! shipping address)</p>
            </div>
            <!-- old user start -->
            <div class="old-user-shipping">
              <div class="card-body">
                <template v-if="addresses.length">
                  <div class="item d-flex justify-content-between align-items-center" v-for="(address, index) in addresses" :key="index">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" @change="passSelectedAddress(address.id)"   >
                        <label class="form-check-label" for="141835">
                        {{address.area.name_en?address.area.name_en:address.district.name_en}}
                        </label>
                    </div>
                    <div class="address">
                        <p class="text-dark">Name: <span class="js--acc-name">{{ address.name }}</span></p>
                        <p class="text-dark">Phone: <span class="js--acc-phone">{{ address.phone }}</span></p>
                        <p class="js--acc-address mb-1">{{ address.address }}</p>
                        <p>
                          <span class="js--acc-id" data-acc-id="141835"></span>
                          <span v-if="address.zone.name_en" class="js--acc-zone">{{ address.zone.name_en }} ,</span>
                          <span v-if="address.area.name_en" class="js--acc-area">{{address.area.name_en}},</span>
                          <span v-if="address.district.name_en" class="js--acc-city">{{address.district.name_en}}</span>
                        </p>
                    </div>
                    <div class="btn-action">
                        <button @click="editAddress(index)"  type="button" class="btn btn-link js--edit-address"><img src="https://www.rokomari.com/static/200/images/icon-edit.png" alt="edit_icon"> Edit </button>
                        <button  @click="deleteAddress(address.id, index)"  type="button" class="btn btn-link js--delete-address ml-1"><img src="https://www.rokomari.com/static/200/images/icon-delete.png" alt="delete_icon"> Delete </button>
                    </div>
                  </div>
                </template>
              </div>
              <div class="card-footer text-center">
                  <button   @click.prevent="quickviewDialog = true" class="btn btn-link text-capitalize js--add-address"><img src="https://www.rokomari.com/static/200/images/icon-plus.png" alt="plus_icon"> Add new address</button>
              </div>
            </div>
        </div>
      </div>
        
         <v-dialog v-model="quickviewDialog" width="600">
            <div class="ps-dialog">
              <div class="modal-header-item">
                <div class="radio-inline">
                  <label style="font-size: 15px;"> <b>{{editMode?'Update':'Create'}} Shipping Info </b></label>
              </div>
                <a class="" @click.prevent="quickviewDialog = false">
                    <i class="icon icon-cross"></i>
                </a>
              </div>
                <form>
                    <div class="form-group">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                  <label>Name <span class="required">*</span></label>
                                  <input type="text" class="form-control" placeholder="Enter Name" v-model="shippingAddress.name">
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                  <label>Phone <span class="required">*</span></label>
                                  <input type="text" class="form-control" placeholder="Enter Contact Number" v-model="shippingAddress.phone">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                  <label>Select District <span class="required">*</span></label>
                                  <select class="form-control" v-model="shippingAddress.setting_district_id">
                                      <option :value="null">Select District</option>
                                      <option v-if="districts.length" v-for="(district,index) in districts" :key="index" :value="district.id">{{ district.name_en }}</option>
                                  </select>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                  <label>Select Area <span class="required">*</span></label>
                                  <select class="form-control" v-model="shippingAddress.setting_area_id">
                                      <option :value="null">Select Area</option>
                                      <option v-if="areas.length" v-for="(area,index) in areas" :key="index" :value="area.id">{{ area.name_en }}</option>
                                  </select>
                              </div>
                           </div>
                        </div>
                        <div class="form-group" v-if="zones.length" >
                            <label>Select Zone <span class="required">*</span></label>
                            <select class="form-control" v-model="shippingAddress.setting_zone_id">
                                <option :value="null">Select Zone</option>
                                <option v-if="zones.length" v-for="(zone,index) in zones" :key="index" :value="zone.id">{{ zone.name_en }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Address <span class="required">*</span></label>
                            <textarea class="form-control" v-model="shippingAddress.address"></textarea>
                        </div>
                        <button type="button" @click="editMode? updateAddress() : addressAdded()" class="ps-btn">  {{editMode? "Address Update" : "Save Address"}}</button>
                    </div>
                </form>
            </div>
        </v-dialog>
    </div>
</template>

<script>
export default {
  name: "Address",
  computed: {},
  mounted() {
    this.getSettingDistrict();
    this.getAddress();
  },
  data() {
    return {
      editMode: false,
      shippingAddress: {
        setting_district_id: null,
        setting_area_id: null,
        setting_zone_id: null,
        type: "home",
        address: null,
        name: this.$auth.user.userable.name,
        phone: this.$auth.user.phone
      },
      areas: [],
      zones: [],
      addresses: [],
      districts: [],
      quickviewDialog: false
    };
  },
  validations: {},
  methods: {
    passSelectedAddress: function(id) {
      console.log(id);
      this.$emit("changeAddress", id);
    },
    async getSettingArea(district_id) {
      var response = await this.$axios.get("/setting-areas", {
        params: {
          district_id: district_id
        }
      });
      try {
        this.areas = response.data.data.areas;
      } catch (error) {
        this.$notify({
          group: "addCartError",
          title: "Error!",
          text: `Soory, Operation Failed`
        });
      }
    },

    async getSettingZone(area_id) {
      var response = await this.$axios.get("/setting-zones", {
        params: {
          area_id: area_id
        }
      });
      try {
        this.zones = response.data.data.zones;
      } catch (error) {
        this.$notify({
          group: "addCartError",
          title: "Error!",
          text: `Soory, Operation Failed`
        });
      }
    },

    async getSettingDistrict() {
      var response = await this.$axios.get("/setting-districts");
      try {
        this.districts = response.data.data.district;
      } catch (error) {
        this.$notify({
          group: "addCartError",
          title: "Error!",
          text: `Soory, Operation Failed`
        });
      }
    },

    async getAddress() {
      var response = await this.$axios.get("/addresses");
      try {
        this.addresses = response.data.data.addresses;
      } catch (error) {
        this.$notify({
          group: "addCartError",
          title: "Error!",
          text: `Soory, Operation Failed`
        });
      }
    },
    async addressAdded() {
      this.editMode = false;
      var response = await this.$axios.post("/addresses", this.shippingAddress);
      try {
        this.$notify({
          title: "Success!",
          text: `Address Create Successfully`
        });
        this.addresses = response.data.data.addresses;
        this.quickviewDialog = false;
      } catch (error) {
        this.$notify({
          title: "Error!",
          text: `Soory, Operation Failed`
        });
      }
    },

    async updateAddress() {
      var response = await this.$axios.patch(
        "/addresses/" + this.shippingAddress.id,
        this.shippingAddress
      );
      try {
        this.$notify({
          title: "Success!",
          text: `Address Create Successfully`
        });
        this.quickviewDialog = false;
        this.resetForm();
      } catch (error) {
        this.$notify({
          title: "Error!",
          text: `Soory, Operation Failed`
        });
      }
    },

    async deleteAddress(id, index) {
      if (confirm("are you sure, you want to delete")) {
        var response = await this.$axios.delete("/addresses/" + id);
        try {
          this.$notify({
            title: "Success!",
            text: `Address Successfully Delete`
          });
          this.addresses.splice(index, 1);
        } catch (error) {
          this.$notify({
            title: "Error!",
            text: `Soory, Operation Failed`
          });
        }
      }
    },
    resetForm() {
      (this.shippingAddress.phone = ""),
        (this.shippingAddress.name = ""),
        (this.shippingAddress.setting_district_id = null);
      this.shippingAddress.setting_area_id = null;
      this.shippingAddress.setting_zone_id = null;
      this.shippingAddress.type = "home";
      this.shippingAddress.address = null;
    },

    editAddress(index) {
      this.editMode = true;
      this.quickviewDialog = true;
      this.shippingAddress = this.addresses[index];
    }
  },
  watch: {
    "shippingAddress.setting_district_id": function(newValue) {
      if (newValue) {
        this.getSettingArea(newValue);
      } else {
        this.areas = [];
      }
    },

    "shippingAddress.setting_area_id": function(newValue) {
      if (newValue) {
        this.getSettingZone(newValue);
      } else {
        this.zones = [];
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.modal-header-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content__wrapper--shipping {
  .card-header {
    height: 56px;
    background-color: #fafafa;
    padding: 0 20px;

    .card-title {
      font-size: 90%;
      color: #333333;
      margin-bottom: 0 !important;
    }
    .card-subtitle {
      font-size: 50%;
      color: #666666;
      margin: 3px 0 0 5px;
    }
  }
  .card-body {
    .item {
      padding: 19px 30px;
      border-bottom: 1px solid #e2e2e2;
      align-items: "center" !important;

      .address {
        width: 50%;

        p {
          font-size: 60%;
          font-family: "SiyamRupali", sans-serif;
          color: #666666;
        }

        .text-dark {
          color: #343a40 !important;
          margin: 0;
        }
      }
      .btn-action {
        width: 25%;
        button {
          color: #03a9ec;
          font-size: 50%;
          padding-right: 0;
          text-decoration: none;
        }
      }
    }
    .form-check {
      display: flex;
    }
    .form-check-label {
      font-size: 16px;
      padding-left: 11px;
    }
  }
  .card-footer {
    background-color: #eef4f7;
    button {
      font-size: 60%;
      color: #03a9ec;
      text-decoration: none;
    }
  }
}
</style>
