<template lang="html">
    <section class="ps-my-account ps-page--account">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ps-section__left">
                        <aside class="ps-widget--account-dashboard">
                            <div class="ps-widget__header">
                                <img src="/img/users/3.jpg" />
                                <figure>
                                    <figcaption>Hello</figcaption>
                                    <p>username@gmail.com</p>
                                </figure>
                            </div>
                            <div class="ps-widget__content">
                                <AccountLinks :links="accountLinks" />
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-8">
                    <section class="ps-section--account-setting">
                        <div class="ps-section__content">
                            <form>
                                <div class="card">
                                    <div class="card-header">Address</div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <textarea class="form-control" required="" placeholder="Enter Address"></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label>Country</label>
                                                <select class="form-control" required="">
                                                    <option>Select Country</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Division</label>
                                                <select class="form-control" required="">
                                                    <option>Select Division</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>District</label>
                                                <select class="form-control" required="">
                                                    <option>Select District</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Area</label>
                                                <select class="form-control" required="">
                                                    <option>Select Area</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="ps-btn" style="float: right;">Update Info</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import AccountLinks from './modules/AccountLinks';
import FormEditAddress from '~/components/partials/account/modules/FormEditAddress';
export default {
    name: 'Addresses',
    components: { AccountLinks, FormEditAddress },
    data() {
        return {
           
        };
    }
};
</script>

<style lang="scss" scoped></style>
