<template lang="html">
    <form>
        <div class="ps-form__content">
            
            <h5>Log In Your Account</h5>
            <div class="form-group">
                <v-text-field
                    v-model="credentials.email"
                    class="ps-text-field"
                    :error-messages="usernameErrors"
                    @input="$v.credentials.email.$touch()"
                    placeholder="email"
                    height="50"
                    outlined
                />
            </div>
            <div class="form-group">
                <v-text-field
                    v-model="credentials.password"
                    type="password"
                    class="ps-text-field"
                    :error-messages="passwordErrors"
                    @input="$v.credentials.password.$touch()"
                    placeholder="Please enter password"
                    height="50"
                    outlined
                />
            </div>
            <div class="form-group">
                <v-checkbox label="Remember me" color="warning" />
            </div>
            <div class="form-group submit">
                <button
                    type="submit"
                    class="ps-btn ps-btn--fullwidth"
                    @click.prevent="handleSubmit"
                >
                    Login
                </button>
            </div>
        </div>
        <div class="ps-form__footer">
            <p>Connect with:</p>
            <ul class="ps-list--social">
                <li>
                    <a href="#" class="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="google">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </form>
</template>

<script>
import { email, required } from 'vuelidate/lib/validators';
import { validationMixin } from 'vuelidate';

export default {
    name: 'Login',
    computed: {
        usernameErrors() {
            const errors = [];
            if (!this.$v.credentials.email.$dirty) return errors;
            !this.$v.credentials.email.required && errors.push('This field is required');
            return errors;
        },
        passwordErrors() {
            const errors = [];
            if (!this.$v.credentials.password.$dirty) return errors;
            !this.$v.credentials.password.required && errors.push('This field is required');
            return errors;
        }
    },
    data() {
        return {
            credentials:{
                email:'',
                password:''
            }
        };
    },
    validations: {
        credentials:{
            email:{required},
            password:{required}
        }
    },
    methods: {
        async handleSubmit() {
            this.$v.$touch();
            if (!this.$v.$invalid) {

                this.$auth.login({
                    data:this.credentials,
                })
                .then(response=>{
                    this.$router.push('/');
                })
                .catch(error=>{ 
                    this.$notify({
                        type:'warning',
                        text:error?.response?.data?.errors?.email[0]
                    });

                });
            }
        }
    }
};
</script>

<style lang="css">
.ps-form--account {
    padding-top: 0px !important;
}
</style>
