<template lang="html">
    <section class="ps-my-account ps-page--account">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ps-section__left">
                        <aside class="ps-widget--account-dashboard">
                            <div class="ps-widget__header">
                                <img src="/img/users/3.jpg" />
                                <figure>
                                    <figcaption>{{ $auth.user.userable.name }}</figcaption>
                                    <p>{{ $auth.user.email }}</p>
                                </figure>
                            </div>
                            <div class="ps-widget__content">
                                <AccountLinks  />
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <section class="ps-section--account-setting">
                        <div class="ps-section__content">
                            <div class="card">
                                <div class="card-header">User Info</div>
                                <div class="card-body">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>OrderId</th>
                                                <th>Date</th>
                                                <th>Total</th>
                                                <th>Discount</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="orders.length">
                                            <tr v-for="(order,index) in orders" :key="index">
                                                <td>{{ order.invoice_number }}</td>
                                                <td>{{ order.created_at }}</td>
                                                <td>{{ order.totalAmount }}</td>
                                                <td>{{ order.discount }}</td>
                                                <td>Pending</td>
                                            </tr>
                                        </tbody>
                                        <tr v-else>
                                            <td colspan="6">
                                                <div class="alert-danger">No Orders Data Found !!!</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import AccountLinks from './modules/AccountLinks';
export default {
    name: 'OrderList',
    components: { AccountLinks },
    data() {
        return {
            orders:[],
        };
    },

    mounted(){
        this.getOrders()
    },

    methods:{
        async getOrders(){
            var response = await this.$axios.get("orders", {params:{'userId': this.$auth.user.id}})
            try {
                this.orders = response.data.orders
            } catch (error) {
                this.$notify({
                    group: 'addCartSuccess',
                    title: 'Success!',
                    text: `Successfully UserInformation Updated`
                });
            }
        },
    }
};
</script>

<style lang="scss" scoped></style>
