<template lang="html">
    <form v-on:submit.prevent="formSubmit">
        <div class="ps-form__content">
            <h5>Register An Account</h5>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <v-text-field
                        v-model="form.customer.name"
                        placeholder="Customer Full Name"
                        class="ps-text-field"
                        outlined
                        height="50"
                    />
                    <span v-if="validationErrors.name" class="red--text">{{ validationErrors.name[0]}}</span>
                </div>
                <div class="form-group col-md-12">
                    <v-text-field
                        type="email"
                        v-model="form.email"
                        placeholder="Customer E-Mail"
                        class="ps-text-field"
                        outlined
                        height="50"
            
                    />
                <span v-if="validationErrors.email" class="red--text">{{ validationErrors.email[0]}}</span>

                </div>

                <div class="form-group col-md-12">
                    <v-text-field
                        v-model="form.phone"
                        placeholder="Customer Phone"
                        class="ps-text-field"
                        outlined
                        height="50"  
                    />
                <span v-if="validationErrors.phone" class="red--text">{{ validationErrors.phone[0]}}</span>

                </div>
                
                <!-- <div class="form-group col-md-12">
                    <v-text-field
                        v-model="emailOrPhone"
                        placeholder="Enter Email Or Phone"
                        class="ps-text-field"
                        outlined
                        height="50"
                        required
                    />
                </div> -->
                <div class="form-group col-md-12">
                    <v-text-field
                        type="password"
                        v-model="form.password"
                        placeholder="Password"
                        class="ps-text-field"
                        outlined
                        height="50"
                        
                    />
                    <span v-if="validationErrors.password" class="red--text">{{ validationErrors.password[0]}}</span>
                </div>
            </div>
             <div class="form-group">
                <select class="form-control" v-model="form.customer.profession_id">
                    <option :value="null">Select Profession</option>
                    <option v-for="(profession,index) in professions" :key="index" :value="profession.id">{{ profession.name }}</option>
                </select>
                <span v-if="validationErrors.profession_id" class="red--text">{{ validationErrors.profession_id[0]}}</span>
            </div>            
            <div class="form-group submit mt-2">
                <button
                    type="submit"
                    class="ps-btn ps-btn--fullwidth mb-10"
                >
                    Register
                </button>
            </div>
        </div>
        
    </form>
</template>

<script>
import { email, required } from 'vuelidate/lib/validators';
import { validationMixin } from 'vuelidate';

export default {
    name: 'Register',
    computed: {
        
    },
    mounted(){
        this.loadProfessions();
    },
    data() {
        return {
            form:{
                username: '',
                password: '',
                password_confirmation: '',
                email: '',
                phone: '',
                customer:{
                    name: '',
                    profession_id: null,
                }
            },
            professions: [],
            emailOrPhone: '',
            validationErrors:[],
            
        };
    },
    validations: {
        username: { required },
        password: { required }
    },
    methods: {
        async formSubmit(){
            try{
                await this.$axios.post("/customer-register", this.form)
                this.$notify({
                    title: 'Success!',
                    text: `Successfully Register Custmomer`
                });
                await this.$auth.login({
                    data:{
                        email: this.form.email,
                        password: this.form.password
                    }
                })
            }
            catch (error) {
                if(error.name=="Error"){
                    this.validationErrors=error.response.data.errors;
                }
                this.$notify({
                    group: 'addCartError',
                    title: 'Error!',
                    text: `Soory, Operation Failed`
                });
            }         
        },
      
        
        async loadProfessions(){
            var response = await this.$axios.get("/professions")
            try {
                this.professions = response.data.data.professions
            } catch (error) {
                this.professions = []
                this.$notify({
                    group: 'addCartError',
                    title: 'Error!',
                    text: `Soory, Operation Failed`
                });
            }
        },

        emailPhoneCheck() {
            if (this.emailOrPhone == "") {
                console.log("Fill in the Required Fields field cannot be empty");
            }
            else if (isNaN(this.emailOrPhone) == true) {
                var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                if (reg.test(this.emailOrPhone) == false) {
                    this.$notify({
                        type:'error',
                        text:'Invalid Email Address'
                    });
                    this.form.email =  this.emailOrPhone
                    return false;
                }else{
                    this.form.email =  ""
                    return true;
                }
            }
            else if (isNaN(this.emailOrPhone) == false) {
                var reg_mobile = /^(\+\d{1,3}[- ]?)?\d{11}$/;

                if (reg_mobile.test(this.emailOrPhone) == false) {
                    this.$notify({
                        type:'error',
                        text:'Invalid Phone Number'
                    });
                    this.form.phone =  this.emailOrPhone
                    return false;
                }else{
                    this.form.phone =  ""
                    return true;
                }
            }
        }

    }
};
</script>

<style lang="scss" scoped></style>
