<template lang="html">
    <section class="ps-my-account ps-page--account">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ps-section__left">
                        <aside class="ps-widget--account-dashboard">
                            <div class="ps-widget__header">
                                <img src="/img/users/3.jpg" />
                                <figure>
                                    <figcaption>Hello</figcaption>
                                    <p>username@gmail.com</p>
                                </figure>
                            </div>
                            <div class="ps-widget__content">
                                <AccountLinks  />
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <section class="ps-section--account-setting">
                        <div class="ps-section__content">
                            <form v-on:submit.prevent="updateuserInfo">
                                <div class="card">
                                    <div class="card-header">User Info</div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" v-model="user.userable.name" required placeholder="Enter Name">
                                                </div>
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control" v-model="user.email" placeholder="Enter Email">
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone</label>
                                                    <input type="text" class="form-control" v-model="user.phone" required placeholder="Enter Phone">
                                                </div>
                                                <div class="form-group">
                                                    <label>Area</label>
                                                    <select class="form-control" v-model="user.userable.area_id">
                                                        <option :value="null">Select Area</option>
                                                        <option v-if="areas.length" v-for="(area,index) in areas" :key="index" :value="area.id">{{ area.name_en }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt-5">
                                                <template v-if="addresses.length">
                                                    <div class="form-group mt-5" v-for="(address, index) in addresses" :key="index">
                                                        <h5 style="margin-bottom: 0;">{{ address.address }} <button type="button"  class="btn btn-primary btn-sm">{{ address.type }}</button></h5>
                                                        <span>{{ address.zone.name_en }} ,</span>
                                                        <span>{{ address.area.name_en }} ,</span>
                                                        <span>{{ address.district.name_en }}</span>
                                                        <div class="button-group">
                                                            <button type="button" @click="editAddress(index)" class="btn btn-warning">Edit</button>
                                                            <button type="button" @click="deleteAddress(address.id, index)"  class="btn btn-danger">Delete</button>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </template>
                                                <div class="form-group mt-10" style="text-align: center;">
                                                    <button
                                                        type="button"
                                                        data-toggle="Add Shipping Address"
                                                        data-placement="top"
                                                        title="Add Shipping Address"
                                                        @click.prevent="quickviewDialog = true"
                                                        class="btn btn-primary"
                                                    >
                                                        <i class="icon-add"></i> Add Shipping Address
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">User Image</div>
                                            <div class="card-body">
                                                <FileUploader />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="ps-btn" style="float: right;">Update Info</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <v-dialog v-model="quickviewDialog" width="600">
                            <div class="ps-dialog">
                                <a
                                    class="ps-dialog__close"
                                    @click.prevent="quickviewDialog = false"
                                >
                                    <i class="icon icon-cross"></i>
                                </a>
                                <form>
                                    <div class="form-group">
                                        <div class="radio-inline">
                                            <label style="font-size: 15px;">Pick Up Your Parcel From:   </label>
                                            <input style="width: 30px;" checked type="radio" value="home">Home
                                            <input style="width: 30px;" type="radio" value="office">Office
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <label>Select District <span class="required">*</span></label>
                                            <select class="form-control" v-model="shippingAddress.setting_district_id">
                                                <option :value="null">Select District</option>
                                                <option v-if="districts.length" v-for="(district,index) in districts" :key="index" :value="district.id">{{ district.name_en }}</option>
                                            </select>
                                        </div>

                                        <div class="form-group" v-if="shippingAddress.setting_district_id">
                                            <label>Select Area <span class="required">*</span></label>
                                            <select class="form-control" v-model="shippingAddress.setting_area_id">
                                                <option :value="null">Select Area</option>
                                                <option v-if="areas.length" v-for="(area,index) in areas" :key="index" :value="area.id">{{ area.name_en }}</option>
                                            </select>
                                        </div>

                                        <div class="form-group" v-if="shippingAddress.setting_area_id">
                                            <label>Select Zone <span class="required">*</span></label>
                                            <select class="form-control" v-model="shippingAddress.setting_zone_id">
                                                <option :value="null">Select Zone</option>
                                                <option v-if="zones.length" v-for="(zone,index) in zones" :key="index" :value="zone.id">{{ zone.name_en }}</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Address <span class="required">*</span></label>
                                            <textarea class="form-control" v-model="shippingAddress.address"></textarea>
                                        </div>

                                        <button type="button" @click="editMode? updateAddress() : addressAdded()" class="ps-btn">{{editMode? "Address Update" : "Save Address"}}</button>
                                    </div>
                                </form>
                            </div>
                        </v-dialog>
                    </section>
                </div>
            </div>
        </div>
      
        
    </section>
</template>

<script>
import AccountLinks from "./modules/AccountLinks";
import FileUploader from "./modules/FileUploader";
export default {
  name: "UserInformation",
  components: { AccountLinks, FileUploader },
  data() {
    return {
      editMode: false,
      user: {
        email: "",
        phone: "",
        userable: {
          name: "",
          address: "",
          area_id: null
        }
      },
      shippingAddress: {
        setting_district_id: null,
        setting_area_id: null,
        setting_zone_id: null,
        type: "home",
        address: null
      },
      areas: [],
      zones: [],
      addresses: [],
      districts: [],
      quickviewDialog: false
    };
  },

  mounted() {
    // let user = this.$auth.user
    this.user = {
      ...this.user,
      ...this.$auth.user
    };

    this.getSettingDistrict();
    this.getAddress();
  },

  methods: {
    async getSettingArea(district_id) {
      var response = await this.$axios.get("/setting-areas", {
        params: {
          district_id: district_id
        }
      });
      try {
        this.areas = response.data.data.areas;
      } catch (error) {
        this.$notify({
          group: "addCartError",
          title: "Error!",
          text: `Soory, Operation Failed`
        });
      }
    },

    async getSettingZone(area_id) {
      var response = await this.$axios.get("/setting-zones", {
        params: {
          area_id: area_id
        }
      });
      try {
        this.zones = response.data.data.zones;
      } catch (error) {
        this.$notify({
          group: "addCartError",
          title: "Error!",
          text: `Soory, Operation Failed`
        });
      }
    },

    async getSettingDistrict() {
      var response = await this.$axios.get("/setting-districts");
      try {
        this.districts = response.data.data.district;
      } catch (error) {
        this.$notify({
          group: "addCartError",
          title: "Error!",
          text: `Soory, Operation Failed`
        });
      }
    },

    async getAddress() {
      var response = await this.$axios.get("/addresses");
      try {
        this.addresses = response.data.data.addresses;
      } catch (error) {
        this.$notify({
          group: "addCartError",
          title: "Error!",
          text: `Soory, Operation Failed`
        });
      }
    },

    updateuserInfo() {
      this.$axios
        .patch("/users/" + this.user.id, this.user)
        .then(response => {
          this.$notify({
            group: "addCartSuccess",
            title: "Success!",
            text: `Successfully UserInformation Updated`
          });
          this.$auth.fetchUser();
        })
        .catch(error => {
          this.$notify({
            group: "addCartSuccess",
            title: "Success!",
            text: `Successfully UserInformation Updated`
          });
        });
    },

    async addressAdded() {
      this.editMode = false;
      var response = await this.$axios.post("/addresses", this.shippingAddress);
      try {
        this.$notify({
          title: "Success!",
          text: `Address Create Successfully`
        });
        this.addresses = response.data.data.addresses;
        this.quickviewDialog = false;
      } catch (error) {
        this.$notify({
          title: "Error!",
          text: `Soory, Operation Failed`
        });
      }
    },

    async updateAddress() {
      var response = await this.$axios.patch(
        "/addresses/" + this.shippingAddress.id,
        this.shippingAddress
      );
      try {
        this.$notify({
          title: "Success!",
          text: `Address Create Successfully`
        });
        this.quickviewDialog = false;
        this.resetForm();
      } catch (error) {
        this.$notify({
          title: "Error!",
          text: `Soory, Operation Failed`
        });
      }
    },

    async deleteAddress(id, index) {
      if (confirm("are you sure, you want to delete")) {
        var response = await this.$axios.delete("/addresses/" + id);
        try {
          this.$notify({
            title: "Success!",
            text: `Address Successfully Delete`
          });
          this.addresses.splice(index, 1);
        } catch (error) {
          this.$notify({
            title: "Error!",
            text: `Soory, Operation Failed`
          });
        }
      }
    },

    resetForm() {
      this.shippingAddress.setting_district_id = null;
      this.shippingAddress.setting_area_id = null;
      this.shippingAddress.setting_zone_id = null;
      this.shippingAddress.type = "home";
      this.shippingAddress.address = null;
    },

    editAddress(index) {
      this.editMode = true;
      this.quickviewDialog = true;
      this.shippingAddress = this.addresses[index];
    }
  },

  watch: {
    "shippingAddress.setting_district_id": function(newValue) {
      if (newValue) {
        this.getSettingArea(newValue);
      } else {
        this.areas = [];
      }
    },

    "shippingAddress.setting_area_id": function(newValue) {
      if (newValue) {
        this.getSettingZone(newValue);
      } else {
        this.zones = [];
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.required {
  color: red;
  font-weight: bold;
}
</style>
