<template lang="html">
    <client-only>
        <v-app>
            <v-main>
                <notifications position="top right" :duration="3000"/>
                <header-default />
                <header-mobile />
                <nuxt></nuxt>
                <notify />
                <footer-default />
                <navigation-list />
                <mobile-drawer />
            </v-main>
        </v-app>
    </client-only>
</template>

<script>
import Notify from '~/components/elements/commons/notify';
import NavigationList from '~/components/shared/mobile/NavigationList';
import MobileDrawer from '~/components/shared/mobile/MobileDrawer';
import HeaderDefault from '~/components/shared/headers/HeaderDefault';
import HeaderMobile from '~/components/shared/mobile/HeaderMobile';
import FooterDefault from '~/components/shared/footers/FooterDefault';
export default {
    components: { FooterDefault, HeaderMobile, HeaderDefault, MobileDrawer, NavigationList, Notify }
};
</script>

<style lang="scss" scoped></style>
