<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Country Setting </h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Countryss</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <div class="row mb-3">
                                    <div class="col-md-12 table-topper-row">
                                        <button type="button" class="btn btn-primary" @click="create" >
                                            <i class="fa fa-plus fa-sm" aria-hidden="true"></i> Add New
                                        </button>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover table-bordered dataTable no-footer table-sm text-center" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                            <thead>
                                            <tr role="row">
                                                <th  style="width: 127.6px;">#</th>
                                                <th  style="width: 186.8px;">English Name</th>
                                                <th style="width: 304.4px;" >Bangla Name</th>
                                                <th  style="width: 132.4px;">Status</th>
                                                <th style="width: 66.8px;">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" v-for="(item, idx) in itemList" :key="idx" >
                                                <td class="">{{idx + 1}}</td>
                                                <td class="sorting_1">{{item.name_en}}</td>
                                                <td>{{item.name_bn}}</td>
                                                <td>{{item.status}}</td>

                                                <td>
                                                    <div class="btn-group ml-3">
                                                        <a class="btn btn-primary" @click="edit(item,idx)" href="#">
                                                            <i class="fa fa-lg fa-edit"></i>
                                                        </a> &nbsp;
                                                        <a class="btn btn-danger" @click="destroy(item.id)"   href="#">
                                                            <i class="fa fa-lg fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <SettingModal :mode="mode" :info="info" :modulename="modulename"  @store="store" @update="update"  />
    </div>
</template>

<script>
    import SettingModal from '../../../components/reuse/SettingModal'
    export default {
        layout: "Dashboard",
        comments:{SettingModal},
        data() {
            return {
                modulename:'Country',
                mode:false,
                trackIndex:null,
                info:{},
                itemList :[]
            }
        },
        methods: {
            async getItems(){
                var response = await this.$axios.get("/setting-countries");
                try {
                    this.itemList = response.data.data.country;
                } catch (e) {
                    this.itemList = [];
                }
            },
            create(){
                this.mode = false;
                this.info={};
                $('#settingModal').modal('show');
            },
            store(form){
                this.$axios.post( '/setting-countries', {...form})
                    .then((response) => {
                        this.$toast.success("Country  Created Successfully");
                        this.getItems();
                        $('#settingModal').modal('hide');
                    })
                    .catch( (error) => {
                        this.$toast.error("Country Can not  Created");
                    });
            },
            edit(item,index){
                this.info={...item};
                this.trackIndex = index ;
                this.mode=true;
                $('#settingModal').modal('show');
            },
            update(form){
                var self = this;
                this.$axios.patch( '/setting-countries/'+form.id, {...form})
                    .then((response) => {
                        self.$toast.success("Country  Updated Successfully");
                        this.getItems();
                        $('#settingModal').modal('hide');
                    })
                    .catch( (error) => {
                        this.$toast.error("Country Can not  Updated");
                    });
            },
            destroy(id){
                this.$swal({
                    title: 'Are you sure?',
                    text: "Do You Want To Delete This ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: ' Yes '
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var self = this;
                            this.$axios.delete( '/setting-countries/'+id)
                                .then((response) => {
                                    self.$toast.success("Country  Delete Successfully");
                                    this.getItems();
                                    $('#settingModal').modal('hide');
                                })
                                .catch( (error) => {
                                    this.$toast.error("Country Can not  Delete");
                                });
                        }
                    })
            },

        },
        computed:{

        },
        mounted() {
            this.getItems();
        }


    }
</script>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
