<template lang="html">
    <main id="homepage-1">
        <home-banner />
        <!-- <site-feautures-fullwidth /> -->
        <!-- <home-default-deal-of-day
            v-if="collections !== null"
            collection-slug="deal-of-the-day"
        /> -->
        <!-- <home-ads-columns /> -->
        <!-- <home-default-top-categories /> -->
         <package-product v-if="packageList"></package-product>
         <conumer-electronics v-if="preOrderList" collection-slug="Pre-Order-Book" />
         <clothings  v-if="collection.books.length>0"  v-for="(collection,_idx) in  collections" :collectionSlug="collection.slug" :collectionName="collection.name_en"  :key="_idx"/>
        <!-- <template v-if="collections !== null">
            <conumer-electronics collection-slug="consumer-electronics" />
            <clothings collection-slug="clothings" />
            <garden-and-kitchen collection-slug="garden-and-kitchen" />
        </template> -->
        <!-- <home-ads /> -->
        <!-- <download-app /> -->
        <!-- <new-arrivals
            v-if="collections !== null"
            collection-slug="new-arrivals-products"
        /> -->

    </main>
</template>
<script>
import { mapState } from 'vuex';
import DownloadApp from '~/components/partials/commons/DownloadApp';
import FooterFullwidth from '~/components/shared/footers/FooterFullwidth';
import Newsletters from '~/components/partials/commons/Newsletters';
import SiteFeauturesFullwidth from '~/components/partials/commons/SiteFeauturesFullwidth';
import HomeAdsColumns from '~/components/partials/homepage/default/HomeAdsColumns';
import HomeAds from '~/components/partials/homepage/default/HomeAds';
import NewArrivals from '~/components/partials/homepage/default/NewArrivals';
import HomeDefaultTopCategories from '~/components/partials/homepage/default/HomeDefaultTopCategories';
import GardenAndKitchen from '~/components/partials/homepage/default/GardenAndKitchen';
import Clothings from '~/components/partials/homepage/default/Clothings';
import ConumerElectronics from '~/components/partials/homepage/default/ConumerElectronics';
import PackageProduct from '~/components/partials/homepage/default/PackageProduct';
import HomeBanner from '~/components/partials/homepage/default/HomeBanner';
import HeaderDefault from '~/components/shared/headers/HeaderDefault';
import NavigationList from '~/components/shared/mobile/NavigationList';
import HeaderMobile from '~/components/shared/mobile/HeaderMobile';
import MobileDrawer from '~/components/shared/mobile/MobileDrawer';
import HomeDefaultDealOfDay from '~/components/partials/homepage/default/HomeDefaultDealOfDay';
import DemoPanel from '~/components/shared/DemoPanel';

export default {
    components: {
        DemoPanel,
        PackageProduct,
        HomeDefaultDealOfDay,
        MobileDrawer,
        HeaderMobile,
        NavigationList,
        HeaderDefault,
        HomeBanner,
        GardenAndKitchen,
        HomeAdsColumns,
        SiteFeauturesFullwidth,
        HomeAds,
        FooterFullwidth,
        DownloadApp,
        Newsletters,
        NewArrivals,
        HomeDefaultTopCategories,
        Clothings,
        ConumerElectronics,
    },

    transition: 'zoom',
    layout: 'layout-default',

    computed: {
        ...mapState({
            packageList: state => state.collection.packageList,
            collections: state => state.collection.collections,
            preOrderList: state => state.collection.preOrderList
        })
    },

    async created() {
        await this.$store.dispatch('collection/getCollections');
        await this.$store.dispatch('collection/getPreOrder');
        await this.$store.dispatch('collection/packageList');
    }
};
</script>
