<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Customer Create </h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Customer</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <form>
                            <b-col>
                                <b-form-group label="Name">
                                    <b-form-input 
                                        v-bind:class="{'is-invalid': validationErrors.name}" 
                                        placeholder="Enter Name" 
                                        v-model="form.name" 
                                        required 
                                    ></b-form-input>
                                </b-form-group>   
                            </b-col>
                            <b-col>
                                <b-form-group label="Phone">
                                    <b-form-input 
                                        v-bind:class="{'is-invalid': validationErrors.phone}" 
                                        placeholder="017 xxx xxxxx" 
                                        v-model="form.phone" 
                                    ></b-form-input>
                                </b-form-group>   
                            </b-col>
                            <b-col>
                                <b-form-group label="Email">
                                    <b-form-input 
                                        v-bind:class="{'is-invalid': validationErrors.email}" 
                                        placeholder="example@gmail.com" 
                                        v-model="form.email" 
                                    ></b-form-input>
                                </b-form-group>   
                            </b-col>
                            <b-col>
                                <b-form-group label="Password">
                                    <b-form-input 
                                        v-bind:class="{'is-invalid': validationErrors.password}" 
                                        placeholder="Enter Password" 
                                        v-model="form.password" 
                                    ></b-form-input>
                                </b-form-group>   
                            </b-col>
                            <b-col>
                                <b-form-group label="Password Confirmation">
                                    <b-form-input 
                                        v-bind:class="{'is-invalid': validationErrors.password_confirmation}" 
                                        placeholder="Confirm Password" 
                                        v-model="form.password_confirmation" 
                                    ></b-form-input>
                                </b-form-group>   
                            </b-col>
                            <b-form-group label="Address">
                                <b-form-textarea 
                                    v-bind:class="{'is-invalid': validationErrors.address}" 
                                    placeholder="Enter Address" 
                                    v-model="form.address"
                                ></b-form-textarea>
                            </b-form-group>
                            <b-form-group label="Area">
                                <b-form-select 
                                    v-model="form.area_id"
                                    v-bind:class="{'is-invalid': validationErrors.area_id}" 
                                >
                                    <b-form-select-option :value="null">Select Area</b-form-select-option>
                                    <b-form-select-option 
                                        v-for="(area,index) in areas" 
                                        :key="index" 
                                        :value="area.id"
                                    >{{ area.name_en }}</b-form-select-option>
                                </b-form-select>
                            </b-form-group>
                        </form>
                    </div>
                    <div class="title-footer">
                        <button type="button" class="btn btn-secondary">Reset All</button>
                        <button type="button" class="btn btn-primary" v-on:click.prevent="Editmode ? update() : store()" >{{Editmode?'Update':'Save'}} changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        // comments:{SettingModal},
        data() {
            return {
                Editmode:false,
                areas:[],
                form:{
                    name:'',
                    phone:'',
                    email:'',
                    password:'',
                    password_confirmation:'',
                    address:'',
                    area_id:'',
                }
            }
        },

        methods: {
            store(){
                this.$axios.post( '/customers', this.form)
                    .then((response) => {
                        this.$toast.success("Created Successfully");
                    })
                    .catch( (error) => {
                        this.$toast.error("Did not Created");
                    });
            },
            getAreas(){
                this.$axios.get("/setting-areas")
                .then((response) => {
                    this.areas = response.data.data.areas;
                })
                .catch(error => {
                    console.log(error)
                })
            }
        },
        computed:{
             validationErrors() {
                return this.$store.getters['commonStore/validationErrors'];
            },
            serverError() {
                return this.$store.getters['commonStore/serverError'];
            }
        },
        mounted() {
            this.getAreas()
        }
    }
</script>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
