<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Order List</h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Order</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <!-- <div class="row mb-3">
                                    <div class="col-md-12 table-topper-row">
                                        <NuxtLink class="btn btn-primary"  to="/customers/create"><i class="icon fa fa-plus"></i> Create</NuxtLink>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover table-bordered dataTable no-footer table-sm text-center" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                            <thead>
                                                <tr role="row">
                                                    <th width="5%">#</th>
                                                    <th width="25%">Primary Info</th>
                                                    <th width="25%">Customer Details</th>
                                                    <th width="25%">Payment Info</th>
                                                    <th width="20%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row" v-for="(item, idx) in itemList" :key="idx">
                                                    <td class="">{{idx + 1}}</td>
                                                    <td class="text-left">
                                                        Invoice : <strong>{{ item.invoice_number}}</strong><br>
                                                        Vendor : <strong>Enilkhet(s)</strong><br>
                                                        Ordered : <strong> {{ item.user? item.user.userable.name : '' }} , {{ item.created_at }}</strong><br>
                                                        Status : <span class="badge badge-success">{{ item.status_id }}</span> <br>
                                                        Delivery : <span class="badge badge-danger">{{ item.delivery_by }}</span><br>
                                                        Pay. Type : <span class="badge badge-info">COD(s)</span>
                                                    </td>
                                                    <td class="text-left">
                                                        <strong>{{ item.customer_details.name }}</strong><br>
                                                        <strong>017xxxxxxxx (s)</strong><br>
                                                        <strong>{{ item.customer_details.address }}</strong><br>
                                                        Area : <strong>{{ item.customer_details.area_id }}</strong><br>
                                                        <small>
                                                            <strong>*** Note: </strong>
                                                            <strong class="text-danger">{{ item.note }}</strong>
                                                        </small>
                                                    </td>
                                                    <td class="text-right">
                                                        <div style="border-bottom: 2px dashed grey; margin-left: 16px;">
                                                            Sub Total : <strong>{{ item.totalAmount }} Tk(s)</strong><br>
                                                            VAT : <strong>{{ item.vat }} Tk</strong><br>
                                                            Advance (-) : <strong>{{ item.advance }} Tk</strong><br>
                                                            Discount (-) : <strong>{{ item.discount }} Tk</strong><br>
                                                            Deliver Charge : <strong>{{ item.delivery_charge }} Tk</strong><br>
                                                        </div>
                                                        Total Bill : <strong>{{ item.totalAmount - item.discount }} Tk(s)</strong>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group ml-3">
                                                            <NuxtLink :to="{ name: 'orders-orderId-invoice', params: { orderId: item.id }}" class="btn btn-warning" title="Invoice"><i class="fa fa-lg fa-print"></i></NuxtLink>
                                                            <NuxtLink :to="{ name: 'orders-orderId-edit', params: { orderId: item.id }}" class="btn btn-primary" title="Edit"><i class="fa fa-lg fa-edit"></i></NuxtLink>
                                                            <a class="btn btn-danger" @click="destroy(item.id)" href="#" title="Delete"><i class="fa fa-lg fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        data() {
            return {
                modulename:'Order',
                dropdownList:[],
                mode:false,
                trackIndex:null,
                info:{},
                itemList :[]
            }
        },
        created() {
            this.getOrders();
        },
        methods: {
            async getOrders(){
                try {
                    var response = await this.$axios.get("/orders");
                    this.itemList = response.data.orders;
                } catch (error) {
                    this.itemList = [];
                    console.log('Orders did not loaded!' + error);
                }
            },
            // create(){
            //     this.mode = false;
            //     this.info={};
            //     $('#settingModal').modal('show');
            // },
            // store(form){
            //     this.$axios.post( '/setting-areas', {...form})
            //         .then((response) => {
            //             this.$toast.success("Customer created successfully");
            //             this.getItems();
            //             $('#settingModal').modal('hide');
            //         })
            //         .catch( (error) => {
            //             this.$toast.error("Customer did not created");
            //         });
            // },
            edit(item,index){
                this.info={...item};
                this.trackIndex = index ;
                this.mode=true;
                $('#settingModal').modal('show');
            },
            // update(form){
            //     var self = this;
            //     this.$axios.patch( '/setting-areas/'+form.id, {...form})
            //         .then((response) => {
            //             self.$toast.success("Order updated successfully");
            //             this.getItems();
            //             $('#settingModal').modal('hide');
            //         })
            //         .catch( (error) => {
            //             this.$toast.error("Order did not updated");
            //         });
            // },
            destroy(id){
                this.$swal({
                    title: 'Are you sure?',
                    text: "Do You Want To Delete This ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: ' Yes '
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var self = this;
                            this.$axios.delete( '/orders/'+id)
                                .then((response) => {
                                    self.$toast.success("Order Delete Successfully");
                                    this.getCustomers();
                                })
                                .catch( (error) => {
                                    this.$toast.error("Order did not  Deleted");
                                });
                        }
                    })
            },
        },
        computed:{
        },
    }
</script>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
