<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Order List</h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Order</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <!-- <div class="row mb-3">
                                    <div class="col-md-12 table-topper-row">
                                        <NuxtLink class="btn btn-primary"  to="/customers/create"><i class="icon fa fa-plus"></i> Create</NuxtLink>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover table-bordered dataTable no-footer table-sm text-center" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>#</th>
                                                    <th>OrderId</th>
                                                    <th>Order Total</th>
                                                    <th>Return Amount</th>
                                                    <th>Deduct Amount</th>
                                                    <th>Create By</th>
                                                    <th>Create Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row" v-for="(item, idx) in itemList" :key="idx">
                                                    <td>{{ ++idx }}</td>
                                                    <td>{{ item.order.invoice_number }}</td>
                                                    <td>{{ item.order.totalAmount }}</td>
                                                    <td>{{ item.return_amount }}</td>
                                                    <td>{{ item.deduct_amount }}</td>
                                                    <td>{{ item.user.userable.name }}</td>
                                                    <td>{{ item.created_at }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        data() {
            return {
              
                itemList :[]
            }
        },
        created() {
            this.getOrders();
        },
        methods: {
            async getOrders(){
                try {
                    var response = await this.$axios.get("/return-orders");
                    this.itemList = response.data.returnOrders;
                } catch (error) {
                    this.itemList = [];
                    console.log('Orders did not loaded!' + error);
                }
            },
           
            
        },
        computed:{
        },
    }
</script>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
