<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Create Order</h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Create Order</li>
            </ul>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <b-row>
                            <b-col cols="2">
                                Customer
                            </b-col>
                            <b-col cols="8">
                                <multiselect 
                                    v-model="selectedCustomer" 
                                    track-by="id" 
                                    placeholder="Select Customer" 
                                    open-direction="bottom" 
                                    :options="customers" 
                                    label="name" 
                                >
                                    <template slot="tag" slot-scope="{ option, remove }"><span class="custom__tag"><span>{{ option.name }}</span><span class="custom__remove" @click="remove(option)">❌</span></span></template>
                                    <template slot="clear">
                                    </template><span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                                </multiselect>
                            </b-col> 
                            <b-col cols="2">
                                <b-button variant="info" v-b-modal.customer-add> <i class="fa fa-plus"></i> Create</b-button>
                            </b-col>
                            
                            <b-modal 
                                id="customer-add" 
                                ref="modal"
                                title="Customer Added"
                                hide-footer
                                
                            >
                                <b-form-group label="Name">
                                    <b-form-input 
                                        v-bind:class="{'is-invalid': validationErrors.name}" 
                                        placeholder="Enter Name" 
                                        v-model="customer.name" 
                                        required 
                                    ></b-form-input>
                                </b-form-group>   
                                <b-form-group label="Address">
                                    <b-form-textarea 
                                        v-bind:class="{'is-invalid': validationErrors.address}" 
                                        placeholder="Enter Address" 
                                        v-model="customer.address"
                                    ></b-form-textarea>
                                </b-form-group>
                                <b-form-group label="Area">
                                    <b-form-select 
                                        v-model="customer.area_id"
                                        v-bind:class="{'is-invalid': validationErrors.area_id}" 
                                    >
                                        <b-form-select-option :value="null">Select Area</b-form-select-option>
                                        <b-form-select-option 
                                            v-for="(area,index) in areas" 
                                            :key="index" 
                                            :value="area.id"
                                        >{{ area.name_en }}</b-form-select-option>
                                    </b-form-select>
                                </b-form-group>
                            
                                <template>
                                    <button type="button" v-on:click="saveCustomer" class="btn btn-primary float-right">Save Customer</button>
                                </template>
                            </b-modal>
                        </b-row>
                        <div class="table-responsive mt-4">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <b-row> 
                                    <b-col cols="3">
                                        <label for="">Select Book Variant</label>
                                    </b-col>
                                    <b-col cols="9">
                                        <multiselect 
                                            v-model="selectedBookVariant" 
                                            track-by="id" 
                                            placeholder="Type to search" 
                                            open-direction="bottom" 
                                            :options="bookVariants" 
                                            :custom-label="customerLabel" 
                                            :searchable="true" 
                                            :loading="isLoading" 
                                            @search-change="asyncFind"
                                        >
                                            <template slot="tag" slot-scope="{ option, remove }"><span class="custom__tag"><span>{{ option.name }}</span><span class="custom__remove" @click="remove(option)">❌</span></span></template>
                                            <template slot="clear">
                                            </template><span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                                        </multiselect>
                                    </b-col> 
                                </b-row>
                                <div class="row mt-4">
                                    <div class="col-sm-12">
                                        <b-card>
                                            <table class="table table-hover table-bordered dataTable no-footer table-sm text-center" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Book Name</th>
                                                        <th>Varinat Name</th>
                                                        <th>Price</th>
                                                        <th>Qty</th>
                                                        <th>Sub total </th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr role="row" v-for="(item, idx) in form.itemList" :key="idx">
                                                        <td>{{ item.bookName }}</td>
                                                        <td>{{ item.variantName }}</td>
                                                        <td>{{ item.price }}</td>
                                                        <td>
                                                            <b-form-input type="number" v-model="form.itemList[idx].qty"></b-form-input>
                                                        </td>
                                                        <td>{{ item.price * item.qty }}</td>
                                                        <td><button v-on:click="removeItem(idx)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></td>
                                                    </tr>
                                                </tbody>
                                                <tfoot v-if="form.itemList.length">
                                                    <tr style="text-align: right;">
                                                        <td colspan="4">Total:</td>
                                                        <td>{{ totalAmount }} </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr style="text-align: right;">
                                                        <td colspan="4">Discount:</td>
                                                        <td><b-form-input type="number" class="text-right" v-model="form.discount" placeholder="Enter Discount Amount"></b-form-input> </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr style="text-align: right;">
                                                        <td colspan="4">Grand Total:</td>
                                                        <td>{{ form.discount? totalAmount-form.discount :  totalAmount}} </td>
                                                        <td></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <b-card-footer v-if="form.itemList.length">
                                                <b-button class="pull-right" v-on:click="saveOrder" variant='success'>Save Order</b-button>
                                            </b-card-footer>
                                        </b-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        data() {
            return {
                form:{
                    customer_id: '',
                    discount: 0,
                    itemList :[],
                },
                customer:{
                    name: '',
                    address:'',
                    area_id:null
                },
                areas:[],
                bookVariants:[],
                trackIndex:null,
                customers:[],
                variantIds: '',
                selectedBookVariant: '',
                isLoading: false,
                selectedCustomer:'',

            }
        },
        
        mounted() {
            this.getAreas()
            this.getCustomers()
        },
        methods: {
            async getCustomers(){
                var response = await this.$axios.get("/customers");
                try {
                    this.customers = response.data.customers;
                } catch (e) {
                    this.customers = [];
                }
            },
            saveOrder(){
                if(this.form.itemList.length){
                    this.$axios.post("/save-offline-sales", this.form)
                        .then((response) => {
                            console.log(response)
                            if(response.data.status == 'error'){
                                this.$toast.error(response.data.message);
                            }else{
                                this.$toast.success("Order Successfully Created")
                                this.$router.push('/orders')
                            }
                        })
                        .catch( (error) => {
                            // console.log(error.response)
                            this.$toast.error("Sorry Operation failed");
                        })
                }else{
                    this.$toast.error("Please select minimum item");
                }
            },

            saveCustomer(){
                this.$axios.post('/save-customer', this.customer)
                    .then((response) => {
                        let customer = response.data.data.customer
                        this.customers.push(customer)
                        this.selectedCustomer = customer
                        this.$bvModal.hide('customer-add')
                    })
                    .catch( (e) => {
                        this.$toast.error();(e.message);
                    });
            },

            getAreas(){
                this.$axios.get("/setting-areas")
                .then((response) => {
                    this.areas = response.data.data.areas;
                })
                .catch(error => {
                    console.log(error)
                })
            },

            customerLabel(customerLabel){
               return customerLabel.book.title_en + ' - ' +  customerLabel.variant_info.name_en
            },
            
            asyncFind (query) {
                if(query){
                    this.isLoading = true
                    this.$axios.get("/book-variants", {params:{title: query, except: this.variantIds}})
                    .then(response => {
                        this.bookVariants = response.data.data.bookVariants 
                        this.isLoading = false
                    })  
                    .catch(error => {
                        this.isLoading = false
                        console.log(error)
                    })
                }else{
                    this.bookVariants = []
                }
                
            },
            removeItem(index){
                this.$swal({
                    title: 'Are you sure?',
                    text: "Do You Want To Delete This ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: ' Yes '
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var self = this;
                            this.form.itemList.splice(index, 1);
                        }
                    })
            },
            
        },
        computed:{
            totalAmount(){
                let total = 0
                if(this.form.itemList.length){
                    this.form.itemList.map(item => {
                        total += (item.price * item.qty)
                    })
                }
                return total;
            },
             validationErrors() {
                return this.$store.getters['commonStore/validationErrors'];
            },
            serverError() {
                return this.$store.getters['commonStore/serverError'];
            }
        },
        watch:{
            selectedBookVariant: function(newValue){
                if(newValue){
                    this.selectedBookVariant = ''
                    let newItem = {
                        varinatId: newValue.id,
                        bookName: newValue.book.title_en,
                        variantName: newValue.variant_info.name_en,
                        price: newValue.price,
                        qty: 1,
                    }
                    this.form.itemList.push(newItem)
                }
            },
            selectedCustomer: function(newValue){
                if(newValue){
                    this.form.customer_id = newValue.id
                }
            },
            'itemList': function(){
                if(this.form.itemList.length){
                    this.variantIds = []
                    this.form.itemList.map(item =>{
                        this.variantIds.push(item.varinatId) 
                    })
                }
                else{
                    this.variantIds = ''
                }
                
            }
            
        },
        
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
