<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Book Create </h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Book</li>
            </ul>
        </div>
        <BookCreateEditForm formtype="create" v-on:formSubmit="saveBook"></BookCreateEditForm>
    </div>
</template>
<script>
export default {
  watch: {
  },
    name:'book-create',
    layout:'Dashboard',
    methods:{
        saveBook(book){
            this.$axios.post( '/books', book)
            .then((response) => {
                this.$toast.success("Book  Created Successfully");
                this.$router.push('/books')
            })
            .catch( (error) => {
                this.$toast.error("Book Can not  Created");
            });
        },
    }
}
</script>