<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Book List </h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Book</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <div class="row mb-3">
                                    <div class="col-md-12 table-topper-row">
                                        <NuxtLink class="btn btn-primary"  to="/books/create"><i class="icon fa fa-plus"></i> Create</NuxtLink>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 table-responsive">
                                        <table class="table table-hover table-bordered table-striped dataTable no-footer table-sm text-center" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                            <thead>
                                            <tr role="row">
                                                <th>#</th>
                                                <th>Title</th>
                                                <th>Edition</th>
                                                <th>Series</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" v-for="(item, idx) in itemList" :key="idx" >
                                                <td class="">{{idx + 1}}</td>
                                                <td>{{item.title_en}}</td>
                                                <td>{{item.edition}}</td>
                                                <td>{{item.series}}</td>
                                                <td>
                                                    <div class="btn-group ml-3">
                                                      <NuxtLink :to="{ name: 'books-bookId-edit', params: { bookId: item.id }}" class="btn btn-primary btn-sm" title="Edit"><i class="fa fa-lg fa-edit"></i></NuxtLink>
                                                        <a class="btn btn-danger btn-sm" @click="destroy(item.id)"   href="#">
                                                            <i class="fa fa-lg fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        // comments:{SettingModal},
        data() {
            return {
                modulename:'Book',
                dropdownList:[],
                mode:false,
                trackIndex:null,
                info:{},
                itemList :[]
            }
        },
        methods: {
            async getItems(){
                var response = await this.$axios.get("/books");
                try {
                    this.itemList = response.data.data.books;
                } catch (e) {
                    this.itemList = [];
                }
            },
            async getDistrictList(){
                var response = await this.$axios.get("/setting-districts");
                try {
                    this.dropdownList = response.data.data.district;
                } catch (e) {
                    this.dropdownList = [];
                }
            },
            create(){
                this.mode = false;
                this.info={};
                $('#settingModal').modal('show');
            },
            store(form){
                this.$axios.post( '/setting-areas', {...form})
                    .then((response) => {
                        this.$toast.success("Area  Created Successfully");
                        this.getItems();
                        $('#settingModal').modal('hide');
                    })
                    .catch( (error) => {
                        this.$toast.error("Area Can not  Created");
                    });
            },
            edit(item,index){
                this.info={...item};
                this.trackIndex = index ;
                this.mode=true;
                $('#settingModal').modal('show');
            },
            update(form){
                var self = this;
                this.$axios.patch( '/setting-areas/'+form.id, {...form})
                    .then((response) => {
                        self.$toast.success("Area  Updated Successfully");
                        this.getItems();
                        $('#settingModal').modal('hide');
                    })
                    .catch( (error) => {
                        this.$toast.error("Area Can not  Updated");
                    });
            },
            destroy(id){
                this.$swal({
                    title: 'Are you sure?',
                    text: "Do You Want To Delete This ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: ' Yes '
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var self = this;
                            this.$axios.delete( '/setting-areas/'+id)
                                .then((response) => {
                                    self.$toast.success("Area  Delete Successfully");
                                    this.getItems();
                                    $('#settingModal').modal('hide');
                                })
                                .catch( (error) => {
                                    this.$toast.error("Area Can not  Delete");
                                });
                        }
                    })
            },

            

        },
        computed:{
             
        },
        mounted() {
            this.getItems();
            this.getDistrictList();
        }


    }
</script>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
