<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Professions List </h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Professions</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover table-bordered dataTable no-footer table-sm text-center" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                            <thead>
                                            <tr role="row">
                                                <th  style="width: 127.6px;">#</th>
                                                <th  style="width: 186.8px;">Name Name</th>
                                                <th  style="width: 132.4px;">Status</th>
                                                <th style="width: 66.8px;">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" v-for="(item, idx) in itemList" :key="idx" >
                                                <td class="">{{idx + 1}}</td>
                                                <td class="sorting_1">{{item.name}}</td>
                                                <td>{{item.status? "Active" : "InActive"}}</td>

                                                <td>
                                                    <div class="btn-group ml-3">
                                                        <a class="btn btn-primary" @click="edit(item)" href="#">
                                                            <i class="fa fa-lg fa-edit"></i>
                                                        </a> &nbsp;
                                                        <a class="btn btn-danger" @click="confirmation(item.id)"   href="#">
                                                            <i class="fa fa-lg fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <DeleteComponent @destroy="destroy" />
            <div class="col-md-4">
                 <div  role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" >Profession Operation</h5>
                            <button type="button" class="btn btn-primary pull-right"  @click="create()" > <i class="fa fa-refresh" aria-hidden="true"></i> </button>
                        </div>
                        <div class="modal-body">
                            <div
                                class="alert alert-danger"
                                v-if="serverError"
                                role="alert"
                            >
                                {{ serverError }}
                            </div>
                            <form>
                                
                                <b-form-group label="Name" label-for="en-input" >
                                    <b-form-input id="en-name-input"  v-bind:class="{'is-invalid': validationErrors.name}" aria-placeholder="Enter Name " v-model="form.name" required ></b-form-input>
                                    <small class="text-danger" v-if="validationErrors.name" >{{ validationErrors.name[0] }}</small>
                                </b-form-group>
                                
                                <div class="form-group">
                                    <label> Status : </label>
                                    <select v-model="form.status" class="form-control">
                                        <option value="1">Active</option>
                                        <option value="0">InActive</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" v-if="mode==false" @click="store()" > Add New </button>
                            <button type="button" class="btn btn-primary" v-if="mode==true" @click="update()" > Update </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import DeleteComponent from '../../../components/reuse/DeleteComponent'
    export default {
        layout: "Dashboard",
        components: {DeleteComponent},
        data() {
            return {
                mode:false,
                itemList :[],
                errors:null,
                deletId:null,
                alertMessage:null,
                form:{
                    name:'',
                    status:1
                }
            }
        },
        methods: {
            async getItems(){
                var response = await this.$axios.get("/professions");
                try {
                    this.itemList = response.data.data.professions;
                    this.form={
                        name:'',
                        status: 1
                    }
                } catch (e) {
                    this.itemList = [];
                }
            },
            async create(){
                this.mode = false;
                this.getItems();
            },
            store(){
                this.$axios.post( '/professions', {...this.form})
                    .then((response) => {
                        this.$toast.success("Profession  Created Successfully");
                        this.getItems();
                    })
                    .catch( (error) => {
                        this.$toast.error("Profession Can not  Created");
                    });
            },
            edit(item){
                this.form={...item};
                this.mode=true;
            },
            update(){
                var self = this;
                this.$axios.patch( '/professions/'+this.form.id, {...this.form})
                    .then((response) => {
                        self.$toast.success("Profession  Updated Successfully");
                        this.getItems();
                    })
                    .catch( (error) => {
                        this.$toast.error("Profession Can not  Updated");
                    });
            },
            confirmation(id){
                this.deletId = id ;
                $('#deleteModal').modal('show');
            },
            destroy(status){
                if(status){
                    var self = this;
                    this.$axios.delete( '/professions/'+this.deletId)
                    .then((response) => {
                        self.$toast.success("Profession  Delete Successfully");
                        this.getItems();
                    })
                    .catch( (error) => {
                        this.$toast.error("Profession Can not  Delete");
                    });
                }
            },
        },
        computed:{
             validationErrors() {
                return this.$store.getters['commonStore/validationErrors'];
            },
            serverError() {
                return this.$store.getters['commonStore/serverError'];
            }
        },
        mounted() {
            this.getItems();
        }


    }
</script>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
