<template>
  <div class="app sidebar-mini">
    <Navbar />
    <Sidebar />
    <main class="app-content">
      <div id="overlay" v-if="showLoader">
        <div id="text">
          <div class="loader"></div>
        </div>
      </div>
      <div v-if="showLoader" class="loading-page">
        <div class="loading"></div>
      </div>
      <transition name="fade" mode="out-in">
        <Nuxt />
      </transition>
    </main>
  </div>
</template>

<script>
import Navbar from "~/components/layouts/Navbar.vue";
import Sidebar from "~/components/layouts/Sidebar.vue";
export default {
  components: {
    Navbar,
    Sidebar
  },
  middleware:'authenticated',
  computed: {
    showLoader() {
      return this.$store.state.commonStore.showLoader;
    },
  },

}
</script>

<style scoped>
  #overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
