<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Customer Discount List</h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Customer Discount</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <div id="sampleTable_wrapper" class=" container-fluid dt-bootstrap4 no-footer">
                                <div class="row mb-3">
                                    <div class="col-md-12 table-topper-row">
                                        <div class="col-md-6">
                                            <multiselect 
                                                v-model="selectedCustomer" 
                                                label="name" 
                                                track-by="id" 
                                                placeholder="Type to search" 
                                                open-direction="bottom" 
                                                :options="customers" 
                                                :searchable="true" 
                                                :loading="isLoading" 
                                                @search-change="asyncFind"
                                            >
                                                <template slot="tag" slot-scope="{ option, remove }"><span class="custom__tag"><span>{{ option.name }}</span><span class="custom__remove" @click="remove(option)">❌</span></span></template>
                                                <template slot="clear" slot-scope="props">
                                                <div class="multiselect__clear" v-if="selectedCustomer.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
                                                </template><span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                                            </multiselect>
                                        </div>
                                        
                                        <b-button variant="primary" v-on:click="saveCustomerDiscount" class="col-md-2"><i class="icon fa fa-plus"></i> Create</b-button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover table-bordered dataTable no-footer table-sm text-center" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>Customer Name</th>
                                                    <th>Phone</th>
                                                    <th>Discount</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row" v-for="(item, idx) in itemList" :key="idx">
                                                    <td>{{ item.customer.name }}</td>
                                                    <td>01716348711</td>
                                                    <td>
                                                        <b-input-group append="%">
                                                            <b-form-input type="number" v-model="itemList[idx].value"></b-form-input>
                                                        </b-input-group>
                                                    </td>
                                                    <td><button v-on:click="removeItem(idx)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        data() {
            return {
                customers:[],
                trackIndex:null,
                itemList :[],
                customerIds: '',
                selectedCustomer: [],
                customers: [],
                isLoading: false,

            }
        },
        watch:{
            selectedCustomer: function(newValue){
                if(newValue){
                    this.selectedCustomer = ''
                    let newItem = {
                        customer_id: newValue.id,
                        value: 0,
                        customer: newValue,
                        status: 1,
                    }
                    this.itemList.push(newItem)
                }
            },
            'itemList': function(){
                if(this.itemList.length){
                    this.customerIds = []
                    this.itemList.map(item =>{
                        this.customerIds.push(item.customer_id) 
                    })
                }else{
                    this.customerIds = ''
                }
                
            }
            
        },
        mounted() {
            this.getCustomerDiscounts();
        },
        methods: {
            async getCustomerDiscounts(){
                var response = await this.$axios.get("/customer-discounts");
                try {
                    this.itemList = response.data.data.customerDiscounts;
                } catch (e) {
                    this.itemList = [];
                }
            },
            saveCustomerDiscount(){
                if(this.itemList.length){
                    this.$axios.post("/customer-discounts", this.itemList)
                        .then((response) => {
                            console.log(response)
                            if(response.data.status == 'error'){
                                this.$toast.error(response.data.message);
                            }else{
                                this.$toast.success("Customer Discount Successfully Created")
                            }
                        })
                        .catch( (error) => {
                            // console.log(error.response)
                            this.$toast.error("Sorry Operation failed");
                        })
                }else{
                    this.$toast.error("Please select minimum item");
                }
                
                
            },

           
            asyncFind (query) {
                if(query){
                    this.isLoading = true
                    this.$axios.get("/customers", {params:{query: query, except: this.customerIds}})
                    .then(response => {
                        this.customers = response.data.customers 
                        this.isLoading = false
                    })  
                    .catch(error => {
                        this.isLoading = false
                        console.log(error)
                    })
                }else{
                    this.customers = []
                }
                
            },

            removeItem(index){
                this.$swal({
                    title: 'Are you sure?',
                    text: "Do You Want To Delete This ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: ' Yes '
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var self = this;
                            this.itemList.splice(index, 1);
                        }
                    })
            },
            
        },
        computed:{
             validationErrors() {
                return this.$store.getters['commonStore/validationErrors'];
            },
            serverError() {
                return this.$store.getters['commonStore/serverError'];
            }
        },
        
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
