<template lang="html">
    <div class="ps-product__info">
        <module-product-info-package :package="packageInfo" />

        <module-product-detail-desc-package :package="packageInfo" />

        <!-- <module-product-detail-specification :product="product" /> -->

        <!-- <module-product-detail-sharing :product="product" /> -->
    </div>
</template>

<script>
import { mapState } from 'vuex';
import ModuleProductDetailSharing from '~/components/elements/detail/information/modules/ModuleProductDetailSharing';
import ModuleProductDetailSpecification from '~/components/elements/detail/information/modules/ModuleProductDetailSpecification';
import ModuleProductDetailDescPackage from '~/components/elements/detail/information/modules/ModuleProductDetailDescPackage';
import Rating from '~/components/elements/Rating';
import ModuleProductShopping from '~/components/elements/detail/information/modules/ModuleProductShopping';
import ModuleProductInfoPackage from '~/components/elements/detail/information/modules/ModuleProductInfoPackage';

export default {
    name: 'InformationDefault',
    components: {
        ModuleProductInfoPackage,
        ModuleProductShopping,
        Rating,
        ModuleProductDetailDescPackage,
        ModuleProductDetailSpecification,
        ModuleProductDetailSharing
    },
    computed: {
        ...mapState({
            packageInfo: state => state.collection.packageInfo
        })
    }
};
</script>

<style lang="scss" scoped></style>
