<template>
	<div>
		<form @submit.prevent="formSubmitHanleder">
            <div class="tile">
                <div class="tile-body">
                    <b-row>
                        <b-col>
                            <b-form-group label="English Name">
                                <b-form-input 
                                    v-bind:class="{'is-invalid': validationErrors.name_en}" 
                                    placeholder="Enter English Name" 
                                    v-model="form.name_en" 
                                    required 
                                ></b-form-input>
                            </b-form-group>   
                        </b-col>
                        <b-col>
                            <b-form-group label="Bangla Name">
                                <b-form-input 
                                    v-bind:class="{'is-invalid': validationErrors.name_bn}" 
                                    placeholder="Enter Bangla Name" 
                                    v-model="form.name_bn" 
                                    required 
                                ></b-form-input>
                            </b-form-group>   
                        </b-col>
                    </b-row>
                    
                    <b-col>
                        <b-form-group label="Description">
                            <quill-editor
                                v-bind:class="{'is-invalid': validationErrors.description}" 
                                ref="myQuillEditor"
                                v-model="
                                    form.description
                                "
                                :options="editorOption"
                            />
                        </b-form-group>
                    </b-col>
                </div>
                <div class="tile">
                    <div class="tile-heder">Author Image</div>
                    <div class="tile-body">
                        <template v-if="form.image">
                            <viewer>
                                <img
                                    :src="
                                        siteUrl +
                                        'uploads/authors/' +
                                        form.image
                                    "
                                    alt="Author Photo"
                                    height="250"
                                />
                            </viewer>
                            <div>
                                <button type="button" class="btn btn-danger" v-on:click="deleteImage">Delete</button>
                            </div>
                            
                        </template>
                        <template v-else>
                            <file-uploader
                                :endpoint="baseUrl+'setting-authors/image-uploads'"
                                v-on:complete="(fileName) => {
                                    form.image = fileName
                                }"
                            >
                            </file-uploader>
                        </template>
                    </div>
                </div>
                <div class="tile-footer">
                    <button type="button" class="btn btn-secondary">Reset All</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </form>
	</div>
</template>
<script>
	import "quill/dist/quill.core.css";
    import "quill/dist/quill.snow.css";
	export default{
		name: "AuthorCreateEditForm",
		mounted(){
			this.$emit("mounted")
		},
		data(){
			return{
                baseUrl: process.env.baseUrl,
                siteUrl: process.env.siteUrl,
				form:{
                    name_en:'',
                    name_bn:'',
                    description:'',
                    image:'',
                    status: 'Active'
                },
                editorOption: {
                    modules: {
                        toolbar: [
                            ["bold", "italic", "underline", "strike"],
                            ["blockquote", "code-block"],
                            [{ list: "ordered" }, { list: "bullet" }],
                            [{ script: "sub" }, { script: "super" }],
                            [{ indent: "-1" }, { indent: "+1" }],
                            [{ direction: "rtl" }],
                            [{ header: [1, 2, 3, 4, 5, 6, false] }],
                            [{ font: [] }],
                            [{ color: [] }, { background: [] }],
                            [{ align: [] }],
                            ["clean"],
                            ["link", "image", "video"],
                        ],
                    },
                },
			}
		},
		methods:{
			formSubmitHanleder(){
				this.$emit("form-submit", this.form)
			},

			editAuthor(){
                this.$axios.get( '/setting-authors/'+this.$route.params.authorId+'/edit')
                    .then((response) => {
                        this.form = {
                        	...this.form,
                        	...response.data.data.author
                        }
                    })
                    .catch( (error) => {
                        this.$toast.error("Did not Created");
                    });
            },

            deleteImage(){
                this.$swal({
                    title: 'Are you sure?',
                    text: "Do You Want To Delete This ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: ' Yes '
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var self = this;
                            if(self.form.id){
                                this.$axios.delete( '/setting-authors/'+this.form.id+'/remove-image')
                                    .then((response) => {
                                        self.form.image = null 
                                    })
                                    .catch( (error) => {
                                        this.$toast.error("Author Image Not  Delete");
                                    });
                                }else{
                                   self.form.image = null 
                                }
                            
                        }
                    })
            }
		},

		computed:{
            validationErrors() {
                return this.$store.getters['commonStore/validationErrors'];
            },
            serverError() {
                return this.$store.getters['commonStore/serverError'];
            }
        },
	}
</script>
<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>