<template>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <b-alert v-if="Object.keys(validationErrors).length" show variant="danger" dismissible>
                    <p v-for="(ve,index) in validationErrors" :key="index">
                        {{ ve[0] }}
                    </p>
                </b-alert>
                <form @submit.prevent="formSubmit">
                <div class="tile-body">
                        <b-row cols="2">
                            <b-col>
                                <b-form-group label="Title [In English]">
                                    <b-form-input 
                                        v-bind:class="{'is-invalid': validationErrors.title_en}" 
                                        placeholder="Enter English Name " 
                                        v-model="form.title_en"  
                                    ></b-form-input>
                                </b-form-group>   
                            </b-col>
                            <b-col>
                                <b-form-group label="Title [In Bangla]">
                                    <b-form-input 
                                        v-bind:class="{'is-invalid': validationErrors.title_bn}" 
                                        placeholder="Enter Bangla Name" 
                                        v-model="form.title_bn"
                                    ></b-form-input>
                                </b-form-group>   
                            </b-col>
                        </b-row>
                        
                        
                        <b-row cols="4">
                            <b-col>
                                <b-form-group label="Edition">
                                    <b-form-input 
                                        v-bind:class="{'is-invalid': validationErrors.edition}" 
                                        placeholder="Enter Edition" 
                                        v-model="form.edition" 
                                        
                                    ></b-form-input>
                                </b-form-group>   
                            </b-col>
                            <b-col>
                                <b-form-group label="Series">
                                    <b-form-input  
                                        v-bind:class="{'is-invalid': validationErrors.series}" 
                                        placeholder="Enter Series" 
                                        v-model="form.series"
                                    ></b-form-input>
                                </b-form-group> 
                            </b-col>
                            <b-col>
                                <b-form-group label="Publishing Year">
                                    <b-form-input 
                                        type="date"
                                        v-bind:class="{'is-invalid': validationErrors.publishing_year}"
                                        v-model="form.publishing_year"
                                        ></b-form-input>
                                </b-form-group>   
                            </b-col>
                            <b-col>
                                <b-form-group label="ISBN Number">
                                    <b-form-input 
                                        v-bind:class="{'is-invalid': validationErrors.isbn_number}" 
                                        placeholder="Enter ISBN Number" 
                                        v-model="form.isbn_number"
                                    ></b-form-input>
                                </b-form-group>   
                            </b-col>
                        </b-row>
                        <b-row cols="3">
                            <b-col>
                                <b-form-group label="Country">
                                    <b-form-select 
                                        v-model="form.origin_country_id"
                                        v-bind:class="{'is-invalid': validationErrors.origin_country_id}" 
                                    >
                                        <b-form-select-option :value="null">Select Country</b-form-select-option>
                                        <b-form-select-option 
                                            v-for="(country,index) in countries" 
                                            :key="index" 
                                            :value="country.id"
                                        >{{ country.name_en }}</b-form-select-option>
                                    </b-form-select>
                                </b-form-group>   
                            </b-col>
                            <b-col>
                                <b-form-group label="Author">
                                    <b-form-select 
                                        v-model="form.author_id"
                                        v-bind:class="{'is-invalid': validationErrors.author_id}" 
                                    >
                                        <b-form-select-option :value="null">Select Author</b-form-select-option>
                                        <b-form-select-option 
                                            v-for="(author,index) in authors" 
                                            :key="index" 
                                            :value="author.id"
                                        >{{ author.name_en }}</b-form-select-option>
                                    </b-form-select>
                                </b-form-group>   
                            </b-col>
                            <b-col>
                                <b-form-group label="Publisher">
                                    <b-form-select 
                                        v-model="form.publisher_id"
                                        v-bind:class="{'is-invalid': validationErrors.publisher_id}" 
                                    >
                                        <b-form-select-option :value="null">Select Publisher</b-form-select-option>
                                        <b-form-select-option 
                                            v-for="(punlisher,index) in punlishers" 
                                            :key="index" 
                                            :value="punlisher.id"
                                        >{{ punlisher.name_en }}</b-form-select-option>
                                    </b-form-select>
                                </b-form-group>   
                            </b-col>
                        </b-row>
                        <b-row cols="4">
                            <b-col>
                                <b-form-group label="Book Alias:">
                                    <b-form-input 
                                        v-bind:class="{'is-invalid': validationErrors.tags}" 
                                        placeholder="Enter Comma Separeted Tags" 
                                        v-model="form.tags"
                                    ></b-form-input>
                                </b-form-group>
                            </b-col>
                            <b-col>
                                <b-form-group label="Translator">
                                    <b-form-select 
                                        v-model="form.translator_id"
                                        v-bind:class="{'is-invalid': validationErrors.translator_id}" 
                                    >
                                        <b-form-select-option :value="null">Select Translator</b-form-select-option>
                                        <b-form-select-option 
                                            v-for="(translator,index) in translators" 
                                            :key="index" 
                                            :value="translator.id"
                                        >{{ translator.name_en }}</b-form-select-option>
                                    </b-form-select>
                                </b-form-group>
                            </b-col>
                            <b-col>
                                <b-form-group label="Editor">
                                    <b-form-select 
                                        v-model="form.editor_id"
                                        v-bind:class="{'is-invalid': validationErrors.editor_id}" 
                                    >
                                        <b-form-select-option :value="null">Select Editor</b-form-select-option>
                                        <b-form-select-option 
                                            v-for="(editor,index) in editors" 
                                            :key="index" 
                                            :value="editor.id"
                                        >{{ editor.name_en }}</b-form-select-option>
                                    </b-form-select>
                                </b-form-group>
                            </b-col>
                            <b-col>
                                <b-form-group label="Is Pre-Order">
                                    <b-form-select 
                                        v-model="form.is_preorder"
                                        v-bind:class="{'is-invalid': validationErrors.is_preorder}" 
                                    >
                                        <b-form-select-option value="YES">YES</b-form-select-option>
                                        <b-form-select-option value="NO">NO</b-form-select-option>
                                    </b-form-select>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        
                        <b-form-group label="Sub In Category">
                            <multiselect 
                                v-model="select_categories"
                                :options="categories"
                                :multiple="true"
                                placeholder="Select Category"
                                :custom-label="
                                    (category) => category.name_en
                                "
                                track-by="id"
                                :show-labels="true"
                            >
                            </multiselect>
                            <span class="text-danger" v-if="validationErrors.categoriesIds">{{ validationErrors.categoriesIds[0] }}</span>
                        </b-form-group>   
                            
                        <b-row>
                            <b-col>
                                <b-form-group label="Summary En">
                                    <quill-editor
                                        v-bind:class="{'is-invalid': validationErrors.summary_en}" 
                                        ref="myQuillEditor"
                                        v-model="
                                            form.summary_en
                                        "
                                        :options="editorOption"
                                    />
                                </b-form-group>
                            </b-col>
                            <b-col>
                                <b-form-group label="Summary Bangla">
                                    <quill-editor
                                        v-bind:class="{'is-invalid': validationErrors.summary_bn}" 
                                        ref="myQuillEditor"
                                        v-model="
                                            form.summary_bn
                                        "
                                        :options="editorOption"
                                    />
                                </b-form-group>  
                            </b-col>
                        </b-row>
                        
                        <b-row>
                            <b-col>
                                <b-form-group label="Specification">
                                    <quill-editor
                                        v-bind:class="{'is-invalid': validationErrors.additional_info}" 
                                        ref="myQuillEditor"
                                        v-model="
                                            form.additional_info
                                        "
                                        :options="editorOption"
                                    />
                                </b-form-group>
                            </b-col>
                            <b-col>
                                <b-form-group label="Review Link">
                                    <b-form-input 
                                        v-bind:class="{'is-invalid': validationErrors.video_link}" 
                                        placeholder="Enter Video Link" 
                                        v-model="form.video_link"
                                    ></b-form-input>
                                </b-form-group>  
                            </b-col>
                        </b-row>
                        
                        <hr>
                        <h4 align="center">Product Variation <button v-on:click="addVariantRow" type="button" class="btn btn-primary btn-sm">Add Row</button></h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Book Type</th>
                                        <th>Price</th>
                                        <th>Discount Type</th>
                                        <th>Discount Value</th>
                                        <th>Number of pages</th>
                                        <th>Qty</th>
                                        <th style="width: 10%;">Active</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody v-if="form.variants.length">
                                    <tr v-for="(variant,index) in form.variants" :key="index">
                                        <td>
                                            <b-form-select 
                                                v-model="form.variants[index].variant_id"
                                                v-bind:class="{'is-invalid': validationErrors['variants.'+index+'.variant_id']}"
                                            >
                                                <b-form-select-option :value="null">Select Type</b-form-select-option>
                                                <b-form-select-option v-for="(type,typeKey) in variantTypes" :key="typeKey" :value="type.id">{{ type.name_en }}</b-form-select-option>
                                            </b-form-select>
                                        </td>
                                        <td>
                                            <b-form-input
                                                type="number"
                                                v-bind:class="{'is-invalid': validationErrors['variants.'+index+'.price']}" 
                                                placeholder="Price" 
                                                v-model="form.variants[index].price"
                                            ></b-form-input>
                                        </td>
                                        <td>
                                            <b-form-select v-model="form.variants[index].discount_type" 
                                            v-bind:class="{'is-invalid': validationErrors['variants.'+index+'.discount_type']}" >
                                                <b-form-select-option 
                                                    value="null" 
                                                >Select Type
                                                </b-form-select-option>
                                                <b-form-select-option value="fixed">Fixd</b-form-select-option>
                                                <b-form-select-option value="percantage">Percantage</b-form-select-option>
                                            </b-form-select>
                                        </td>
                                        <td>
                                            <b-form-input
                                                type="number"
                                                v-bind:class="{'is-invalid': validationErrors['variants.'+index+'.discount_value']}" 
                                                placeholder="Discount Value" 
                                                v-model="form.variants[index].discount_value"
                                            ></b-form-input>
                                        </td>
                                        <td>
                                            <b-form-input
                                                type="number"
                                                v-bind:class="{'is-invalid': validationErrors.number_of_page}" 
                                                placeholder="Number Page" 
                                                v-model="form.variants[index].number_of_page"
                                            ></b-form-input>
                                        </td>
                                        <td>
                                            <b-form-input
                                                type="number"
                                                v-bind:class="{'is-invalid': validationErrors['variants.'+index+'.stock_qty']}" 
                                                placeholder="Qty" 
                                                v-model="form.variants[index].stock_qty"
                                            ></b-form-input>
                                        </td>
                                        <td>
                                            <b-form-select 
                                                v-model="form.variants[index].active_status"
                                                v-bind:class="{'is-invalid': validationErrors.active_status}"
                                            >
                                                <b-form-select-option value="Yes">Yes</b-form-select-option>
                                                <b-form-select-option value="No">No</b-form-select-option>
                                            </b-form-select>
                                        </td>
                                        <td>
                                            <button v-if="index !==0" type="button" v-on:click="removeVariantRow(index)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tile">
                            <div class="tile-heder">Book Image</div>
                            <div class="tile-body">
                                <template v-if="form.image">
                                    <viewer>
                                        <img
                                            :src="
                                                baseUrl +
                                                'uploads/books/' +
                                                form.image
                                            "
                                            alt="Book Banner Photo"
                                            height="250"
                                        />
                                    </viewer>
                                     <button type="button" class="btn btn-danger" @click="removeImage">Remove Image</button>
                                </template>
                                <template v-else>
                                    <file-uploader
                                        v-on:complete="(fileName) => {
                                            form.image = fileName
                                        }"
                                    >
                                    </file-uploader>
                                </template>
                            </div>
                        </div>
                </div>
                <div class="tile-footer">
                    <button type="button" class="btn btn-secondary">Reset All</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import "quill/dist/quill.core.css";
    import "quill/dist/quill.snow.css";
    export default {
        props:{
            formtype:String,
        },
        data() {
            return {
                select_categories: null,
                baseUrl:process.env.imageBaseUrl,
                Editmode:false,
                variantTypes:[],
                countries:[],
                authors:[],
                categories:[],
                punlishers:[],
                translators:[],
                editors:[],
                form:{
                    categoriesIds: [],
                    variants:[
                        {
                            variant_id:null,
                            price:'',
                            discount_type:null,
                            discount_value:null,
                            number_of_page:'',
                            stock_qty:'',
                            reorder_qty:'',
                            active_status: 1,
                        }
                    ],
                    sort:1,
                    title_en:'',
                    title_bn:'',
                    tags:'',
                    edition:'',
                    series:'',
                    publishing_year:'',
                    isbn_number:'',
                    origin_country_id:null,
                    author_id:null,
                    publisher_id:null,
                    translator_id:null,
                    editor_id:null,
                    summary_en:'',
                    summary_bn:'',
                    additional_info:'',
                    video_link:'',
                    youtube_link:'',
                    best_book:1,
                    special_book:1,
                    is_preorder:'NO',
                    featured_book:1,
                    available:'Active',
                    image:''
                },
                editorOption: {
                    modules: {
                        toolbar: [
                            ["bold", "italic", "underline", "strike"],
                            ["blockquote", "code-block"],
                            [{ list: "ordered" }, { list: "bullet" }],
                            [{ script: "sub" }, { script: "super" }],
                            [{ indent: "-1" }, { indent: "+1" }],
                            [{ direction: "rtl" }],
                            [{ header: [1, 2, 3, 4, 5, 6, false] }],
                            [{ font: [] }],
                            [{ color: [] }, { background: [] }],
                            [{ align: [] }],
                            ["clean"],
                            ["link", "image", "video"],
                        ],
                    },
                },
            }
        },

        methods: {
            formSubmit(){
                this.$emit('formSubmit',this.form);
            },
            getVariantType(){
                this.$axios.get("/setting-variants")
                .then((response) => {
                    this.variantTypes = response.data.data.variants;
                })
                .catch(error => {
                    console.log(error)
                })
            },
            getCountry(){
                this.$axios.get("/setting-countries")
                .then((response) => {
                    this.countries = response.data.data.country;
                })
                .catch(error => {
                    console.log(error)
                })
            },
            getAuthor(){
                this.$axios.get("/setting-authors")
                .then((response) => {
                    this.authors = response.data.data.author;
                })
                .catch(error => {
                    console.log(error)
                })
            },
            getPublisher(){
                this.$axios.get("/setting-publishers")
                .then((response) => {
                    this.punlishers = response.data.data.publisher;
                })
                .catch(error => {
                    console.log(error)
                })
            },
            getTranslator(){
                this.$axios.get("/setting-translators")
                .then((response) => {
                    this.translators = response.data.data.translator;
                })
                .catch(error => {
                    console.log(error)
                })
            },
            
            getEditor(){
                this.$axios.get("/setting-editors")
                .then((response) => {
                    this.editors = response.data.data.editor;
                })
                .catch(error => {
                    console.log(error)
                })
            },
            loadCategries(){
                this.$axios.get("/categories")
                .then((response) => {
                    this.categories = response.data.data.category;
                })
                .catch(error => {
                    console.log(error)
                })
            },
            
            addVariantRow(){
                this.form.variants.push({
                    variant_id:null,
                    price:'',
                    discount_type:'',
                    discount_value:'',
                    number_of_page:'',
                    stock_qty:'',
                    reorder_qty:'',
                    active_status: 1,
                })
            },
            
            removeVariantRow(index){
                this.form.variants.splice(index, 1);
            },

            removeImage(){
                this.form.image='';
            }
        },
        computed:{
             validationErrors() {
                return this.$store.getters['commonStore/validationErrors'];
            },
            serverError() {
                return this.$store.getters['commonStore/serverError'];
            }
        },
        mounted() {
            this.getVariantType()
            this.getCountry()
            this.getEditor()
            this.getPublisher()
            this.getAuthor()
            this.getTranslator()
            this.loadCategries()
        },
     
        watch: {
            "select_categories": {
                handler: function(newValue) {
                    this.form.categoriesIds = newValue.map(obj => obj.id);
                }
            }
        }

    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>
