<template>
	<div>
		<form @submit.prevent="formSubmitHanleder">
            <div class="tile">
                <div class="tile-body">
                    <b-row>
                        <b-col>
                            <b-form-group label="Customer Group Name">
                                <b-form-input 
                                    v-bind:class="{'is-invalid': validationErrors.name}" 
                                    placeholder="Enter Customer Group Name" 
                                    v-model="form.name"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col>
                            <b-form-group label="Status">

                                <b-form-select 
                                    v-model="form.status"
                                    v-bind:class="{'is-invalid': validationErrors.status}"
                                >
                                    <b-form-select-option value="1">Active</b-form-select-option>
                                    <b-form-select-option value="0">In Active</b-form-select-option>
                                </b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-card>
                        <b-card-header>Discount</b-card-header>
                        <b-card-body>
                            
                            <b-row>
                                <b-col>
                                    <b-form-group label="Discount Title">
                                        <b-form-input 
                                            v-bind:class="{'is-invalid': validationErrors.title}" 
                                            placeholder="Enter Discount Title" 
                                            v-model="form.discount.title"
                                        ></b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col>
                                    <b-form-group label="Discount Type">
                                        <b-form-select 
                                            v-model="form.discount.discount_type"
                                            v-bind:class="{'is-invalid': validationErrors.discount_type}"
                                        >
                                            <b-form-select-option :value="null">Select Discount Type</b-form-select-option>
                                            <b-form-select-option value="fixed">Fixed</b-form-select-option>
                                            <b-form-select-option value="percantage">Percantage</b-form-select-option>
                                        </b-form-select>
                                    </b-form-group> 
                                </b-col> 
                                <b-col>
                                    <b-form-group label="Discout value">
                                        <b-form-input 
                                            type="number"
                                            placeholder="Enter Discout value"
                                            v-model="form.discount.value"
                                            v-bind:class="{'is-invalid': validationErrors.value}"
                                        >
                                        </b-form-input>
                                    </b-form-group> 
                                </b-col>
                            </b-row>

                            <b-row>
                                <b-col>
                                    <b-form-group label="Started At">
                                        <date-picker 
                                            :config="options"
                                            v-model="form.discount.started_at" 
                                        >
                                        </date-picker>
                                    </b-form-group> 
                                </b-col> 
                                <b-col>
                                    <b-form-group label="Ended At">
                                        <date-picker 
                                            :config="options"
                                            v-model="form.discount.ended_at" 
                                        >
                                        </date-picker>
                                    </b-form-group> 
                                </b-col>
                            </b-row>


                            <b-row>
                                <b-col>
                                    <b-form-group label="Customers">
                                        <multiselect 
                                            v-model="select_customers"
                                            :options="customers"
                                            :multiple="true"
                                            placeholder="Select Customer"
                                            :custom-label="({name}) => name"
                                            track-by="id"
                                        >
                                        </multiselect>
                                    </b-form-group> 
                                </b-col>  
                            </b-row>
                        </b-card-body>
                    </b-card>
                                    
                </div>
                <div class="title-footer mt-3">
                    <button type="button" class="btn btn-secondary text-right">Reset All</button>
                    <button type="submit" class="btn btn-primary text-right">Save changes</button>
                </div>
            </div>
        </form>
	</div>
</template>
<script>
export default {
    name: "CustomerGroupCreateEditForm",
    mounted(){
        this.$emit("mounted")
    },
    created() {
        this.getCustomers();
    }, 
    data(){
        return {
            form:{
                name:'',
                status: 1,
                customerIds: [],
                discount:{
                    title: '',
                    discountable_type: 'customer_group',
                    discount_type: null,
                    started_at: '',
                    ended_at: '',
                    value: '',
                }
            },
            options: {
              format: 'YYYY-MM-DD hh:mm:ss',
            },
            customers: [],
            select_customers: [],
        }
    },
    methods: {
        formSubmitHanleder(){
            this.$emit("form-submit", this.form)
        },
        getCustomers(){
            this.$axios.get("/customers")
            .then((response) => {
                this.customers = response.data.customers;
            })
            .catch(error => {
                console.log(error)
            })
        },
        initEditData(){
            this.$axios.get("/customer-groups/"+this.$route.params.customerGroupId)
            .then((response) => {
                let groupData = response.data.data.customerGroups
                this.form.name = groupData.name
                this.form.status = groupData.status
                if(groupData.discount){
                    this.form.discount = groupData.discount
                }
                if(groupData.customers){
                    this.select_customers = groupData.customers
                }else{
                    this.select_customers = []
                }
                
            })
            .catch(error => {
                console.log(error)
            })
        }
    },
    computed : {
        validationErrors() {
            return this.$store.getters['commonStore/validationErrors'];
        },
        serverError() {
            return this.$store.getters['commonStore/serverError'];
        }
    },
    watch:{
        "select_customers": {
            handler: function(newValue) {
                this.form.customerIds = newValue.map(obj => obj.id);
            }
        }
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>