<template>
	<div>
		<form @submit.prevent="formSubmitHanleder">
            <div class="tile">
                <div class="tile-body">
                    <b-row>
                        <b-col>
                            <b-form-group label="Discount Title">
                                <b-form-input 
                                    v-bind:class="{'is-invalid': validationErrors.title}" 
                                    placeholder="Enter Discount Title" 
                                    v-model="form.title"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        
                    </b-row>
                    <b-row>
                        <b-col>
                            <b-form-group label="Discount Type">
                                <b-form-select 
                                    v-model="form.discount_type"
                                    v-bind:class="{'is-invalid': validationErrors.discount_type}"
                                >
                                    <b-form-select-option :value="null">Select Discount Type</b-form-select-option>
                                    <b-form-select-option value="fixed">Fixed</b-form-select-option>
                                    <b-form-select-option value="percantage">Percantage</b-form-select-option>
                                </b-form-select>
                            </b-form-group> 
                        </b-col> 
                        <b-col>
                            <b-form-group label="Discout value">
                                <b-form-input 
                                    type="number"
                                    placeholder="Enter Discout value"
                                    v-model="form.value"
                                    v-bind:class="{'is-invalid': validationErrors.value}"
                                >
                                </b-form-input>
                            </b-form-group> 
                        </b-col>
                        
                    </b-row>

                    <b-row>
                        <b-col>
                            <b-form-group label="Started At">
                                <date-picker 
                                    :config="options"
                                    v-model="form.started_at" 
                                >
                                </date-picker>
                            </b-form-group> 
                        </b-col> 
                        <b-col>
                            <b-form-group label="Ended At">
                                <date-picker 
                                    :config="options"
                                    v-model="form.ended_at" 
                                >
                                </date-picker>
                            </b-form-group> 
                        </b-col>
                        <b-col>
                            <b-form-group label="Status">

                                <b-form-select 
                                    v-model="form.status"
                                    v-bind:class="{'is-invalid': validationErrors.status}"
                                >
                                    <b-form-select-option value="1">Active</b-form-select-option>
                                    <b-form-select-option value="0">In Active</b-form-select-option>
                                </b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col>
                            <b-form-group label="Short Note">
                                <b-form-textarea                                  
                                  v-model="form.note"
                                  placeholder="Enter Short note about discount..."
                                  rows="3"
                                  v-bind:class="{'is-invalid': validationErrors.note}"
                                ></b-form-textarea>
                            </b-form-group> 
                        </b-col>  
                    </b-row>
                                    
                </div>
                <div class="title-footer mt-3">
                    <button type="button" class="btn btn-secondary text-right">Reset All</button>
                    <button type="submit" class="btn btn-primary text-right">Save changes</button>
                </div>
            </div>
        </form>
	</div>
</template>
<script>
export default {
    name: "DiscountCreateEditForm",
    mounted(){
        this.$emit("mounted")
    },
    created() {
     
    }, 
    data(){
        return {
            form:{
                title:'',
                note:'',
                started_at: '',
                ended_at: '',
                value: '',
                status: 1,
            },
            options: {
              format: 'YYYY-MM-DD hh:mm:ss',
            },
        }
    },
    methods: {
        formSubmitHanleder(){
            this.$emit("form-submit", this.form)
        },
        
        initEditData(){
            this.$axios.get("/discounts/"+this.$route.params.discountId)
            .then((response) => {
                let discountData = response.data.data.discount
                this.form = {
                    ...this.form,
                    ...discountData
                }
                
            })
            .catch(error => {
                console.log(error)
            })
        }
    },
    computed : {
        validationErrors() {
            return this.$store.getters['commonStore/validationErrors'];
        },
        serverError() {
            return this.$store.getters['commonStore/serverError'];
        }
    },
    watch:{
        
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>