<template>
	<div>
		<form @submit.prevent="formSubmitHanleder">
            <div class="tile">
                <div class="tile-body">
                    <b-row>
                        <b-col>
                            <b-form-group label="Packages Name">
                                <b-form-input 
                                    v-bind:class="{'is-invalid': validationErrors.name}" 
                                    placeholder="Enter Package Name" 
                                    v-model="form.name"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col>
                            <b-form-group label="Status">

                                <b-form-select 
                                    v-model="form.status"
                                    v-bind:class="{'is-invalid': validationErrors.status}"
                                >
                                    <b-form-select-option value="1">Active</b-form-select-option>
                                    <b-form-select-option value="0">In Active</b-form-select-option>
                                </b-form-select>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col>
                            <b-form-group label="Additional Info">
                                <quill-editor
                                    v-bind:class="{'is-invalid': validationErrors.additional_info}" 
                                    ref="myQuillEditor"
                                    v-model="
                                        form.additional_info
                                    "
                                    :options="editorOption"
                                />
                            </b-form-group>
                        </b-col>
                        <b-col>
                            <b-form-group label="Summary">
                                <quill-editor
                                    v-bind:class="{'is-invalid': validationErrors.summary}" 
                                    ref="myQuillEditor"
                                    v-model="
                                        form.summary
                                    "
                                    :options="editorOption"
                                />
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <div class="tile">
                        <div class="tile-heder">Book Image</div>
                        <div class="tile-body">
                            <template v-if="form.image">
                                <viewer>
                                    <img
                                        :src="
                                            siteUrl +
                                            'uploads/packages/' +
                                            form.image
                                        "
                                        alt="Package Banner Photo"
                                        height="250"
                                    />
                                </viewer>
                                 <button type="button" class="btn btn-danger" @click="removeImage">Remove Image</button>
                            </template>
                            <template v-else>
                                <file-uploader
                                    :endpoint="baseUrl+'packages/image-upload'"
                                    v-on:complete="(fileName) => {
                                        form.image = fileName
                                    }"
                                >
                                </file-uploader>
                            </template>
                        </div>
                    </div>
                    <b-card>
                        <b-card-body>
                            <b-row>
                                <b-col>
                                    <b-form-group label="Books">
                                        <multiselect 
                                            v-bind:class="{'is-invalid': validationErrors.select_books}"
                                            v-model="select_books"
                                            :options="books"
                                            :multiple="true"
                                            placeholder="Select Book"
                                            :custom-label="({title_en}) => title_en"
                                            track-by="id"
                                        >
                                        </multiselect>
                                    </b-form-group> 
                                </b-col>  
                            </b-row>
                        </b-card-body>
                    </b-card>

                                    
                </div>
                <div class="title-footer mt-3">
                    <button type="button" class="btn btn-secondary text-right">Reset All</button>
                    <button type="submit" class="btn btn-primary text-right">Save changes</button>
                </div>
            </div>
        </form>
	</div>
</template>
<script>
    import "quill/dist/quill.core.css";
    import "quill/dist/quill.snow.css";
export default {
    name: "PackageCreateEditForm",
    mounted(){
        this.$emit("mounted")
    },
    created() {
        this.getBooks();
    }, 
    data(){
        return {
            form:{
                name:'',
                status: 1,
                booksIds: [],
                summary: null,
                additional_info: null,
                image: ''
            },
            baseUrl:process.env.baseUrl,
            siteUrl:process.env.siteUrl,
            options: {
              format: 'YYYY-MM-DD hh:mm:ss',
            },
            books: [],
            select_books: [],
            editorOption: {
                modules: {
                    toolbar: [
                        ["bold", "italic", "underline", "strike"],
                        ["blockquote", "code-block"],
                        [{ list: "ordered" }, { list: "bullet" }],
                        [{ script: "sub" }, { script: "super" }],
                        [{ indent: "-1" }, { indent: "+1" }],
                        [{ direction: "rtl" }],
                        [{ header: [1, 2, 3, 4, 5, 6, false] }],
                        [{ font: [] }],
                        [{ color: [] }, { background: [] }],
                        [{ align: [] }],
                        ["clean"],
                        ["link", "image", "video"],
                    ],
                },
            },
        }
    },
    methods: {
        formSubmitHanleder(){
            this.$emit("form-submit", this.form)
        },
        getBooks(){
            this.$axios.get("/books")
            .then((response) => {
                this.books = response.data.data.books;
            })
            .catch(error => {
                console.log(error)
            })
        },
        initEditData(){
            this.$axios.get("/packages/"+this.$route.params.packageId)
            .then((response) => {
                let groupData = response.data.data.packages
                this.form = {
                    ...this.form,
                    ...groupData
                }
                this.form.name = groupData.name
                this.form.status = groupData.status
                
                if(groupData.books){
                    this.select_books = groupData.books
                }else{
                    this.select_books = []
                }
                
            })
            .catch(error => {
                console.log(error)
            })
        },

        removeImage(){
            this.form.image='';
        }
    },
    computed : {
        validationErrors() {
            return this.$store.getters['commonStore/validationErrors'];
        },
        serverError() {
            return this.$store.getters['commonStore/serverError'];
        }
    },
    watch:{
        "select_books": {
            handler: function(newValue) {
                this.form.booksIds = newValue.map(obj => obj.id);
            }
        }
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>