<template>
	<div>
		<form @submit.prevent="formSubmitHanleder">
            <div class="tile">
                <div class="tile-body">
                    <b-col>
                        <b-form-group label="Title">
                            <b-form-input 
                                v-bind:class="{'is-invalid': validationErrors.title}" 
                                placeholder="Enter Title" 
                                v-model="form.title" 
                                required 
                            ></b-form-input>
                        </b-form-group>   
                    </b-col>
                    <b-col>
                        <b-row>
                            <b-col>
                                <b-form-group label="Type">
                                    <b-form-select 
                                        v-model="form.type"
                                        v-bind:class="{'is-invalid': validationErrors.type}" 
                                    >
                                        <b-form-select-option :value="null">Select Type</b-form-select-option>
                                        <b-form-select-option value="quick-links">Quick Links </b-form-select-option>
                                        <b-form-select-option value="common">Common </b-form-select-option>
                                        <b-form-select-option value="slider">Slider </b-form-select-option>
                                        <b-form-select-option value="ads">Ads</b-form-select-option>
                                    </b-form-select>
                                </b-form-group>
                            </b-col>
                            <b-col>
                                <b-form-group label="Active">
                                    <b-form-select 
                                        v-model="form.is_active"
                                        v-bind:class="{'is-invalid': validationErrors.is_active}" 
                                    >
                                        <b-form-select-option value="1">Active </b-form-select-option>
                                        <b-form-select-option value="0">InActive </b-form-select-option>
                                    </b-form-select>
                                </b-form-group>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col>
                        <b-form-group label="Content">
                            <quill-editor
                                v-bind:class="{'is-invalid': validationErrors.content}" 
                                ref="myQuillEditor"
                                v-model="
                                    form.content
                                "
                                :options="editorOption"
                            />
                        </b-form-group>
                    </b-col>
                </div>
                <div class="tile">
                    <div class="tile-heder">Book Image</div>
                    <div class="tile-body">
                        <template v-if="form.photo">
                            <viewer>
                                <img
                                    :src="
                                        siteUrl +
                                        'uploads/pages/' +
                                        form.photo
                                    "
                                    alt="Pages Banner Photo"
                                    height="250"
                                />
                            </viewer>
                        </template>
                        <template v-else>
                            <file-uploader
                                :endpoint="baseUrl+'pages/image-uploads'"
                                v-on:complete="(fileName) => {
                                    form.photo = fileName
                                }"
                            >
                            </file-uploader>
                        </template>
                    </div>
                </div>
                <div class="tile-footer">
                    <button type="button" class="btn btn-secondary">Reset All</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </form>
	</div>
</template>
<script>
	import "quill/dist/quill.core.css";
    import "quill/dist/quill.snow.css";
	export default{
		name: "PageCreateEditForm",
		mounted(){
			this.$emit("mounted")
		},
		data(){
			return{
                baseUrl: process.env.baseUrl,
                siteUrl: process.env.siteUrl,
				form:{
                    title:'',
                    type:null,
                    is_active:1,
                    content:'',
                    photo: ''
                },
                editorOption: {
                    modules: {
                        toolbar: [
                            ["bold", "italic", "underline", "strike"],
                            ["blockquote", "code-block"],
                            [{ list: "ordered" }, { list: "bullet" }],
                            [{ script: "sub" }, { script: "super" }],
                            [{ indent: "-1" }, { indent: "+1" }],
                            [{ direction: "rtl" }],
                            [{ header: [1, 2, 3, 4, 5, 6, false] }],
                            [{ font: [] }],
                            [{ color: [] }, { background: [] }],
                            [{ align: [] }],
                            ["clean"],
                            ["link", "image", "video"],
                        ],
                    },
                },
			}
		},
		methods:{
			formSubmitHanleder(){
				this.$emit("form-submit", this.form)
			},

			editPage(form){
                this.$axios.get( '/pages/'+this.$route.params.pageId+'/edit')
                    .then((response) => {
                        this.form = {
                        	...this.form,
                        	...response.data.data.page
                        }
                    })
                    .catch( (error) => {
                        this.$toast.error("Did not Created");
                    });
            },
		},

		computed:{
            validationErrors() {
                return this.$store.getters['commonStore/validationErrors'];
            },
            serverError() {
                return this.$store.getters['commonStore/serverError'];
            }
        },
	}
</script>
<style scoped>
    .table-topper-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
</style>