<template>
    <div>
        <div class="app-title">
            <div>
                <h5>Customer Create </h5>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <NuxtLink   to="/"><i class="fa fa-home fa-lg"></i></NuxtLink>
                </li>
                <li class="breadcrumb-item">Customer</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <CustomerCreateEditForm
                    v-on:mounted="initCreateData"
                    v-on:form-submit="saveData"
                />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: "Dashboard",
        data() {
            return {
                
            }
        },
        methods: {
            initCreateData(){},
            saveData(form){
                console.log(form);
                this.$axios.post( '/customers', form)
                    .then((response) => {
                        this.$toast.success("Created Successfully");
                        this.$router.push('/customers')
                    })
                    .catch( (e) => {
                        this.$toast.error();(e.message);
                    });
            }
        },
        created() {}
    }
</script>
